[2021-11-25 02:42] geekygirlsarah commented on #308
Hey @TusharSharmaIN, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:42] geekygirlsarah commented on #292
Hey @danieltennant, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:43] geekygirlsarah commented on #291
Hey @TusharSharmaIN, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:43] geekygirlsarah commented on #290
Hey @abxhr, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:44] geekygirlsarah commented on #287
Hey @Ankitlenka26, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:44] geekygirlsarah commented on #286
Hey @shrey-ya, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:45] geekygirlsarah commented on #282
Hey @SrishtiArya07, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:45] geekygirlsarah commented on #271
Hey @jiana-dev, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:45] geekygirlsarah commented on #269
Hey @jiana-dev, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:45] geekygirlsarah commented on #268
Hey @LittleBigProgramming, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:46] geekygirlsarah commented on #266
Hey @vinayak0127, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:46] geekygirlsarah commented on #264
Hey @Mansi-Binjola, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:46] geekygirlsarah commented on #263
Hey @vickywane, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:47] geekygirlsarah commented on #96
Hey @Swastik2000, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:47] geekygirlsarah commented on #90
It looks like this issue didn't close with the PR, so I'm closing it now.

[2021-11-25 02:47] #90 closed, assigned to gildedgardenia

[2021-11-25 02:55] #429 closed, assigned to blockingHD

[2021-11-25 03:00] geekygirlsarah commented on #420
That's understandable and ok. Thanks for letting me know!

[2021-11-25 03:05] Mansi-Binjola commented on #264
Hey @geekygirlsarah I am really sorry I couldn't give update for a very long time. I got busy with other stuffs. I do want this issue. Can you please give me a week?

[2021-11-25 03:18] geekygirlsarah commented on #264
Yep! That's fine. I'll leave you on. I may keep checking back in if I don't hear anything, but there's no pressure to get it done by any particular time.

[2021-11-26 05:36] #300 closed, assigned to 26tanishabanik

[2021-11-26 15:08] geekygirlsarah opened #453 "Add GitHub Action to automate validating JSON language files"
# Description

There's GitHub Actions for validating JSON syntax (i.e. "Are there any missing curly braces?") and for running unit tests. I'm typically the one that has to go through each file and see if it makes sense, see if it'll cause CT to mess up rendering. While this used to be fine and wasn't time consuming, it is now that more people have been finding this project. (A great problem to hav

[2021-11-27 09:35] vinayak0127 commented on #266
Yes, You can unassign, I am a  bit busy with my college work, I won't be able to contribute for a few more weeks.

[2021-11-27 14:10] tarinausher commented on #379
Hi @geekygirlsarah, this has been mostly completed, although I had troubles with the last. I tried to add it last week but was having trouble. How do I add the changes made? Thank you!

[2021-11-27 16:09] geekygirlsarah commented on #379
Hey Tarina! It looks like you forked the repo, so that's good. I guess first I'd ask if you have used `git` to commit your changes and push those up? If so, then making the pull request is pretty simple and GitHub will walk you through it. If you don't know about Git, then that's a more lengthy set of instructions.

Where are you stuck?

[2021-11-27 16:13] geekygirlsarah commented on #266
That's alright, I remember my college days. If you find yourself with more time and want to tackle it again, let me know!

[2021-11-28 02:49] tarinausher commented on #379
Okay, I figured out where I was running into issues: I had not set the URL to the forked repo and was still connected to the main one. After setting the correct URL, I was able to push the changes to the forked repo. Is there anything specific I need to do following that?

[2021-11-28 16:01] geekygirlsarah commented on #379
Oh no! I've done that before. It's an easy mistake to do!

Yes, once you've pushed changes to the forked repo, if you go to your repo's main page, you should see something at the top that says you recently pushed to a branch and would you want to make a pull request. Then follow those directions.

If you don't see that box, on your forked repo page, if you click on "Contribute", then the green "Op

[2021-11-28 16:13] geekygirlsarah commented on #420
@oneamanish I did see it. It looks like you didn't follow any directions or understand how the project works so I had to close the PR.

If you want to work on this issue, I'll assign it to you, but you'll need to understand how language data gets correctly added to the project.

Let me know if you still want to work on it.

[2021-11-29 12:16] cafce25 commented on #263
I'd think about adding version subfolders instead like `web/thesauruses/python/3` that way we could still have "default" structure files in `web/thesauruses/python` that apply if the version specific ones don't overwrite it. Another added benefit is that we don't need to change the highlighting logic.

Also if we don't hear back from vickyvane or if they agree I'd take this up.

[2021-11-29 12:22] cafce25 commented on #208
I'm gonna pick this up if it's ok.
Some additional thoughts I had in the meantime:
1. The `_meta` and `language` files are drifting apart more and more. Maybe we should add `_template` files to copy which more closely resemble the structure of the language files.
2. The `_meta` files then could be simplified to only include `category`, `concept.id`s and `concept.name`s
3. Every file contains the k

[2021-11-29 19:41] geekygirlsarah commented on #268
I was told they're still interested, so I'll keep them on!

[2021-11-29 19:42] geekygirlsarah commented on #426
Haven't heard back so I'm removing them. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:43] geekygirlsarah commented on #423
Haven't heard back so I'm removing them. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:43] geekygirlsarah commented on #403
Haven't heard back so I'm removing them. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:44] geekygirlsarah commented on #362
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:47] geekygirlsarah commented on #360
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

Also I'm noticing this is a duplicate of #429 (not sure how that happened 😬) so I'm going to go ahead and close this too.

[2021-11-29 19:47] #360 closed, assigned to nobody

[2021-11-29 19:48] geekygirlsarah commented on #308
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:48] geekygirlsarah commented on #292
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:48] geekygirlsarah commented on #291
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:48] geekygirlsarah commented on #290
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:48] geekygirlsarah commented on #287
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:48] geekygirlsarah commented on #286
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:49] geekygirlsarah commented on #282
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:49] geekygirlsarah commented on #271
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:49] geekygirlsarah commented on #269
Haven't heard back so I'm removing you. (If you still want it, let me know and I'll add you back.)

[2021-11-29 19:52] geekygirlsarah commented on #263
I took her off and added you since she hasn't reclaimed in the past 5 days.

I think the folder idea could work. The other thought would be the highlighting logic could change if the meta_info.json file has another field in the languages section for the highlighter. (ex: It's Java, but in the "java18" directory, but highlights with "java".)

Up to you! Both are valid methods.

[2021-11-29 19:53] geekygirlsarah commented on #96
I'm unassigning people, but I don't want to unassign if you have 80+% of it done @Swastik2000. I'm reaching out again. Let me know if you still want to work on it!

[2021-11-29 23:21] geekygirlsarah commented on #208
The original plan wasn't to have meta and language files match exactly, but they were kind of an easy way to start with a template of a new language file. So I kept them kind of the same. One thought I had was maybe having a Django command copy and remove the extra parts for you, but that's harder over Docker. I had thought about a templates directory (I think I was thinking `_new` but `_template`

[2021-11-30 00:00] cafce25 commented on #208
For leaving the info in I think I'd prefer to put it in `meta` maybe as `structure`-field then. We could treat that section as sort of comment for people. In that case I would point out in the docs that the info that the system uses is the directory/filename and the `meta` section is there to help us.

[2021-11-30 00:03] geekygirlsarah commented on #208
That works, though "structure" is also something I've used to refer to concepts.

(I think ultimately I'd like to switch from structure > category > concept to category > subcategory > concept possibly, but I haven't though that through as much. I'm starting to think I should just get you on a call and think things out, lol)

[2021-11-30 07:01] geekygirlsarah commented on #379
@oneamanish, This issue has already been taken by someone and they already made a pull request for it. In addition, your pull request isn't valid and you didn't read the directions so I closed it.

You are welcome to find a new issue, claim it, and follow the directions to contribute code that's beneficial.

[2021-11-30 13:36] rishabhagniihotri commented on #420
I want to work on this issue

[2021-11-30 14:31] geekygirlsarah commented on #420
Hi @rishabhagniihotri, yeah, I'll assign you. Don't forget to look at the issue instructions and the documentation, and let me know if you have any questions!

[2021-12-07 18:12] teallarson commented on #360
yep this totally fell out of the back of my brain.  glad to see someone else is on it!

[2021-12-12 15:40] Mansi-Binjola commented on #264
Hey @geekygirlsarah I am really sorry to say that I wouldn't be able to complete this issue. Due to my works and studies, this is getting delayed and I don't others to be stopped from contributing in this issue. Thanks for this opportunity and once again really sorry.

[2021-12-17 05:41] #394 closed, assigned to jeff303

[2021-12-24 02:12] #208 closed, assigned to cafce25

[2021-12-24 02:26] #375 closed, assigned to blockingHD

[2021-12-24 03:29] #408 closed, assigned to nobody

[2021-12-28 03:24] cafce25 commented on #263
I have this written up in its own [feature branch](https://github.com/cafce25/codethesaur.us/tree/issue-263-language-folder-versions). But since I based it on the refactor in #459 I'll put off the PR till that is merged in.

[2021-12-28 03:30] cafce25 commented on #194
Closing since this is it's own structure now.

[2021-12-28 03:30] #194 closed, assigned to nobody

[2021-12-28 04:47] geekygirlsarah commented on #194
Ahhh, good catch. Thanks!

[2022-01-22 00:57] geekygirlsarah commented on #358
@CNichole726 I'm taking you off after having not heard from you in a couple of months as someone else is going to work on this.

[2022-01-22 00:58] splashley commented on #358
Hey @geekygirlsarah ! I'll pick up this issue for you.

[2022-01-22 01:57] CNichole726 commented on #358
Hi Sarah,

I’m sorry 😞 I got busy with life and finishing bootcamp and forgot. I’m glad someone has picked it up and I apologize for holding things up for you.

Cara

Sent from my iPhone

On Jan 21, 2022, at 6:58 PM, Sarah Withee ***@***.***> wrote:

﻿

@CNichole726<https://github.com/CNichole726> I'm taking you off after having not heard from you in a couple of months as someone else is going to

[2022-01-22 07:56] geekygirlsarah commented on #358
That's ok! It happens, and I've dropped stuff too. You're always welcome to grab an issue later if you want!

[2022-01-24 01:36] #358 closed, assigned to splashley

[2022-01-24 02:00] geekygirlsarah opened #463 ""Back to top" arrow and "Made by" info are arranged weird when viewed on mobile"
# Expected Behavior

The "Made with ❤️ by..." text would be on the left and the "Back to top" would appear somewhere that makes it not mess up the formatting.

# Actual Behavior

See screenshot below.

# Steps to Reproduce the Problem

1. On mobile, scroll to the bottom of https://codethesaur.us
1. On desktop, shrink the page so it's thin but long.

# Screenshot

![image](https://user-images.githu

[2022-01-24 04:12] Mariosyian commented on #463
I have a potential fix ready for a PR. If you are happy with the result could you assign the issue to me?

[2022-01-24 05:00] geekygirlsarah commented on #463
I was going to offer it to a junior developer friend, but you clearly already did it. So it's yours!

[2022-02-06 16:37] #463 closed, assigned to Mariosyian

[2022-02-06 17:25] geekygirlsarah commented on #217
@pranatimittal You had commented on this issue previous. Were you wanting to work on it? Did you already work on it? Were you just asking questions? I just wanted to figure out the status. Thanks!

[2022-02-06 17:27] geekygirlsarah commented on #263
@cafce25 Were you still wanting to work on this? You said you wanted to work on it after #459 and that's merged in now.

[2022-02-06 17:30] geekygirlsarah commented on #268
@LittleBigProgramming Are you still working on this? I haven't heard from you since November. If you still want it, great! If not, that's ok too. I'll remove you if I don't hear from you in a few days.

[2022-02-07 01:29] cafce25 commented on #263
No more waiting just busy times it'll need some fixing again. I'll try to visit this during the week.

[2022-02-08 02:04] #379 closed, assigned to tarinausher

[2022-02-10 05:02] geekygirlsarah opened #465 "Contributor count on bottom of pages will max out at 100"
# Expected Behavior

The contributor count on the bottom of every page should display the _actual_ count of contributors.

# Actual Behavior

The GitHub API limits calls to 100 contributors per "page", and only one page of results is fetched. This number will no longer be correct after we hit 101 contributors.

# Additional Info

In `web/static/js/contributors.js` is where the code to fetch the nu

[2022-02-10 14:36] splashley commented on #465
Hey Sarah, I'd like to work on this!

[2022-02-11 00:10] geekygirlsarah commented on #465
I'll give it to you. I think you know the drill, but ask me off you have any questions!

[2022-02-21 22:16] cafce25 commented on #85
As far as I can tell all standardized versions of Javascript use 64bit IEEE 754 double precision floating points for `Number`s so I don't think we need this specific variant.

[2022-02-22 14:48] geekygirlsarah commented on #85
I wonder if @salmonmoose's original thought was that 64-bit floats have 56 bits of coefficient and 8 bits of exponent?

[2022-02-23 15:22] #263 closed, assigned to cafce25

[2022-03-07 06:17] #321 closed, assigned to geekygirlsarah

[2022-03-07 06:28] geekygirlsarah opened #470 "Add unit tests for new database features"
# Description

Recently I closed out issue #321 with PR #328 to add a database to track lookups. I mistakenly didn't really add any unit tests along with this to verify functionality and ensure things stay reliable during PRs and CI/CD. This issue should add some in.

# Requirements

1. Test the new Models that were added
2. Ensure page visits store in the database

[2022-03-07 06:30] geekygirlsarah commented on #321
For future reference, Mozilla's MDN directions on making a Django app talked through some great steps on how to do this well:  https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Deployment

[2022-03-07 15:14] cafce25 opened #471 "Requiring backports.zoneinfo breaks on Python >= 3.10"
# Expected Behavior
Installing the requirements with `pip install -r requirements.txt` works

# Actual Behavior
It errors with:
<details><summary>error log</summary>

[code]
</details>

# Steps to Reproduce the Problem

1. Ensure installed python version is >= 3.10
1. run `pip install -r requirements.txt`

# Additional Info
As per the [zoneinfo issue](https://github.com/pganssle/zoneinfo/issues/11

[2022-03-10 01:51] #471 closed, assigned to nobody

[2022-03-28 22:29] geekygirlsarah commented on #420
@rishabhagniihotri It looks like you claimed this at the end of November. Were you still working on this or should I take your name off so it's open for others? (It's ok either way, just trying to keep the issues list updated!)

[2022-03-28 22:32] geekygirlsarah commented on #465
@splashley It looks like you claimed this on February 10th. Were you still working on this or should I take your name off so it's open for others? (It's ok either way, just trying to keep the issues list updated!)

[2022-03-30 22:45] splashley commented on #465
Working on this now! :)

[2022-04-05 14:41] saracope commented on #188
@geekygirlsarah Mind clarifying this one for me? Would this be additional meta info?

[2022-04-05 15:11] geekygirlsarah commented on #188
Yeah. So instead of something like:
[code]
It'd add in an additional "documentation" line or something:
[code]

or whatever. I'm open to what it's called or how it's implemented. But my thought was if someone wanted to go read more on something, they could click on a link to go there.

[2022-04-06 15:07] TomReilly1 commented on #290
Hey @geekygirlsarah , I'd love to work on this! Could you assign this to me?

[2022-04-06 15:10] geekygirlsarah commented on #290
Yeah! I'll assign you. There are docs at docs.codethesaur.us. Feel free to post any questions you have!

[2022-04-11 15:54] TomReilly1 commented on #290
Just about done!

I noticed that the instructions say to delete the "names:" fields but looking at other files, they still seem to have it. What should I do in this regard?

[2022-04-11 18:59] geekygirlsarah commented on #290
Good question! So in the early days, a bug in the matching algorithm meant the descriptions on the left side of the site (i.e. "Void function with one parameter") were pulled not from the meta files but from the left/first language file. It wasn't caught for a bit. They should always be taken from the meta files now.

So you can leave them there, but they're extraneous text. Deleting them just sim

[2022-04-13 17:53] TomReilly1 commented on #290
Okay going to submit the pull request soon. I removed the "name" fields from the file as well.

If you would like, I could go through all the other non-meta json files in the "/thesauruses" directory and remove all the "names" fields. Could probably makeup a python script to do it.

[2022-04-13 19:22] cafce25 commented on #290
I have a script if we want that but last time I did remove them @geekygirlsarah  wanted them back (https://github.com/codethesaurus/codethesaur.us/pull/457#issuecomment-996448110) so I wrote another one to put them there again XD.

PS: It's a very undecided issue :laughing:

[2022-04-13 23:36] geekygirlsarah commented on #290
You lost the context, @cafce25!

So the comment on #457 was for removing them on the template generator (like when someone looks up something and it doesn't exist so it provides the file for you). Without the `name` field, the IDs may not always make sense or may not have all the detail needed for someone to write the file. But upon PRing them, they can be removed.

So in this case, it's a PR to a

[2022-04-16 20:31] cafce25 commented on #290
Wait did I totally misunderstand you then and create https://github.com/codethesaurus/codethesaur.us/pull/457/commits/6db1f6a4ff621cf3b0075d5ebbf56f375084b5e4 for nothing O.o

[2022-04-17 00:57] geekygirlsarah commented on #290
Uhhh... maybe? 😬 Though I guess I'm also the one that let it in, so...

[2022-04-18 20:28] hegold opened #480 "[Idea] Reduce "oops" page visits by limiting selections to available combinations"
# Description

I love the concept but my initial user experience was poor as I landed on "oops" page after "oops" page because the combinations I was looking for were not available. There should be a way to see what is available before clicking into it.

# Requirements

A user should know before they click "Go" whether the combination they have selected is available.

# Ideas for implementation

[2022-04-18 22:04] geekygirlsarah commented on #480
You know, this is something I was thinking about at least a year ago but never ended up really writing out. It's kind of similar to #366 but keeps the same UI elements. This also got a bit worse after adding in multiple language versions.

Thanks for adding this @hegold!

[2022-04-20 21:46] cafce25 opened #481 "Ordered vs unordered lists are used inconsistently"
# Expected Behavior

Ordered and unordered list concepts are used the same across all languages.

# Actual Behavior

We currently use them in one of 5 ways:
| ordered list | unordered list | languages |
| --------------- | ------------------ | -------------- |
| elements are kept sorted | the element order is preserved | C# |
| not defined | the element order is preserved | Haskell, TypeScript |
|

[2022-04-22 13:58] NathanBeddoeWebDev opened #482 "Remove JQuery dependency"
# Description

Bootstrap has been upgraded to version 5 which is not dependent on JQuery. We should stop using JQuery in base.html, and update contributors.js to use either fetch, or if we need IE 11 support, then XMLHttpRequest will do.

# Requirements

We need to know whether IE 11 is supported for the project, and if so, that'll decide on what implementation we use for contributors.js.

# Addit

[2022-04-25 22:47] geekygirlsarah opened #484 "Add/Correct links on bottom of compare/reference pages no longer work"
# Expected Behavior

The links at the bottom of reference and compare pages should go to the correct edit page in CT's Github repo.

![image](https://user-images.githubusercontent.com/2601974/165186399-8225341c-725c-4ad1-8f8a-95e0197c22ab.png)

# Actual Behavior

The links go to a 404 page instead.

# Steps to Reproduce the Problem

1. Compare things or look up a reference page (ex: [functions in

[2022-04-25 22:48] geekygirlsarah commented on #482
Thanks for catching this! This is a good issue to solve for newer people on the project too!

[2022-04-25 22:53] geekygirlsarah commented on #481
Are you saying the meta concept is defined wrong, ore the language files are inconsistent in how they're implemented?

[2022-04-25 23:12] teallarson commented on #484
I'll do this!

[2022-04-25 23:55] barretojs commented on #482
added a PR for this issue.

[2022-04-26 01:36] #465 closed, assigned to splashley

[2022-04-26 02:02] geekygirlsarah commented on #484
Consider it yours! Feel free to ask if you have questions.

[2022-04-26 07:55] cafce25 commented on #481
I'm saying for some languages we interpreted ordered as the element order doesn't change and for others we interpreted it as the datatype keeps the elements sorted.
I see two ways to resolve this:
- Either we introduce some `*sorted_list*` concepts that are for the datatypes that keep the elements sorted, move C# `*ordered_list*` to `*sorted_list*`, move C#, Haskell and Typescript `*unordered_list

[2022-04-26 14:57] geekygirlsarah commented on #481
I've been running around doing in-person activities and traveling and it's been harder to keep up with things, so I think I missed the ordered vs sorted part. It makes more sense now.

I do like "sorted_list" as a name, and I'm guessing it's possible to be mutable and unmutable as well. And yeah, update the descriptions.

Do you want to do this? If not, I can probably take it on this week.

[2022-04-26 17:31] geekygirlsarah commented on #481
I also added to the issue text to clarify requirements.

[2022-05-04 13:23] #482 closed, assigned to barretojs

[2022-05-09 09:21] teallarson commented on #484
Yeah... noted in the PR but can't think of a great way to test this that wouldn't also be overkill... Ping Github? Traverse the paths in `thesauruses` and see that they match the generated URLs?  Happy to implement something but haven't thought of what.

[2022-05-09 13:15] #484 closed, assigned to teallarson

[2022-05-18 07:03] NathanBeddoeWebDev opened #487 "Use django caching to improve TTFB"
# Description

To improve Core Web Vitals, we can cache pages that aren't regularly updated using Django's caching. In Memory caching is available so you don't have to run up a redis server or anything.
https://docs.djangoproject.com/en/4.0/topics/cache/#local-memory-caching-1

# Requirements
Set up caching config as per the docs above.
Make a decision on what views can be cached, and which pages

[2022-05-18 14:35] geekygirlsarah commented on #487
This is a great idea, thanks for adding it! Let me know if you're interested in working on it too and I can add you to the issue.

[2022-05-21 00:39] #290 closed, assigned to TomReilly1

[2022-05-21 00:49] geekygirlsarah commented on #420
@rishabhagniihotri I'm removing you off this issue. If you want to work on it again, let me know and I can add you back on. Otherwise it opens it up for others to work on.

[2022-05-21 00:50] geekygirlsarah commented on #268
@LittleBigProgramming How's this coming along?

[2022-05-22 14:28] geekygirlsarah commented on #268
I'm removing you after our conversation off GitHub. If you want to pick this (or any other issue) back up, let me know!

[2022-05-30 23:09] geekygirlsarah opened #488 "VERY outdated text exists on compare/reference pages"
There's some text on the compare and reference pages that was there as placeholders:

![image](https://user-images.githubusercontent.com/2601974/171066772-69294006-94db-46e8-af8f-ae064da2aead.png)

I'm not sure how this managed to stick around for 2+ years without getting noticed, but it should get replaced with something better.

# Steps to Reproduce the Problem

1. Compare any topic and any two

[2022-05-30 23:31] #488 closed, assigned to geekygirlsarah

[2022-05-31 00:23] geekygirlsarah opened #491 "C#'s ordered vs unordered lists are used inconsistently"
# Expected Behavior

C#'s Ordered and unordered list concepts are used the same way across all languages.

# Actual Behavior

We currently use them in one of 5 ways:
| ordered list | unordered list | languages |
| --------------- | ------------------ | -------------- |
| elements are kept sorted | the element order is preserved | C# |
| not defined | the element order is preserved | Haskell, TypeS

[2022-05-31 00:24] #481 closed, assigned to geekygirlsarah

[2022-06-11 16:39] TomReilly1 commented on #480
This may be something that I could handle @geekygirlsarah.

I was thinking I could add an event listener to each select element, so every time it changes, it sends a fetch API request to the respective endpoint, much like you suggested in issue #366. If the language/concept is not present, a small alert (can probably just use a bootstrap alert) similar to the 'oops' page will be displayed in the c

[2022-06-17 14:26] geekygirlsarah commented on #480
I was out this past week with the high school robotics group I mentor so I couldn't really keep up with emails so I'm just now seeing this. If you wanted to work on it, I'd appreciate it!

Sounds like a good plan to me.

Yeah, that's a good point, those do seem a bit out of scope or needing some extra thought. I'll split those out.

[2022-06-17 14:39] geekygirlsarah opened #495 "[Idea] Publish stats page of visits of looked up data and/or missing data"
# Description

In #480, @hegold suggested "Publish data on oops page visits so contributors can see the most requested missing items". I also thought a stats page of most commonly looked up comparisons or reference sheets would be interesting. Perhaps a "Stats" page at the top of the site along with different types of data looked up from the database?

This issue is to think through how this might

[2022-06-22 01:40] TomReilly1 commented on #480
Ok so I think it's all set.

In addition to the alert, I added a small function for the compare card select elements that will disable the lang option that corresponds to its counterpart's value. For example, if the 1st select element value is Ada (version 2012), then the Ada (version 2012) option element in the 2nd select element will be disabled.

Another thing I did was that on the the initial

[2022-06-27 22:09] geekygirlsarah opened #497 "[Haskell] Fix ordered/unordered/sorted lists"
# Problem

This issue is to fix the ordered/unordered/sorted lists in Haskell's `lists.json` file(s).

When the original meta `lists.json` was released, it was ambiguous whether "ordered" meant "sorted" or not. Due to that ambiguity, different languages implemented it differently.

With the meta language file now fixed and can distinguish distinguish the difference between ordered (items added ret

[2022-06-27 22:12] geekygirlsarah commented on #491
I'm splitting off other language's corrections from this to allow others to update them faster than I am.

[2022-06-27 22:17] geekygirlsarah opened #498 "[TypeScript] Fix ordered/unordered/sorted lists"
# Problem

This issue is to fix the ordered/unordered/sorted lists in TypeScript's `lists.json` file(s).

When the original meta `lists.json` was released, it was ambiguous whether "ordered" meant "sorted" or not. Due to that ambiguity, different languages implemented it differently.

With the meta language file now fixed and can distinguish distinguish the difference between ordered (items added

[2022-06-27 22:53] teallarson commented on #498
I can do this

[2022-06-27 23:45] geekygirlsarah commented on #498
It's yours! You know the drill. And if you have questions, let me know!

[2022-06-27 23:45] geekygirlsarah opened #499 "[Nim] Fix ordered/unordered/sorted lists"
# Problem

This issue is to fix the ordered/unordered/sorted lists in Nim's `lists.json` file(s).

When the original meta `lists.json` was released, it was ambiguous whether "ordered" meant "sorted" or not. Due to that ambiguity, different languages implemented it differently.

With the meta language file now fixed and can distinguish distinguish the difference between ordered (items added retain

[2022-06-27 23:47] geekygirlsarah opened #500 "[Swift] Fix ordered/unordered/sorted lists"
# Problem

This issue is to fix the ordered/unordered/sorted lists in Swift's `lists.json` file(s).

When the original meta `lists.json` was released, it was ambiguous whether "ordered" meant "sorted" or not. Due to that ambiguity, different languages implemented it differently.

With the meta language file now fixed and can distinguish distinguish the difference between ordered (items added retai

[2022-06-27 23:49] geekygirlsarah opened #501 "[Ada] Fix ordered/unordered/sorted lists"
# Problem

This issue is to fix the ordered/unordered/sorted lists in Ada's `lists.json` file(s).

When the original meta `lists.json` was released, it was ambiguous whether "ordered" meant "sorted" or not. Due to that ambiguity, different languages implemented it differently.

With the meta language file now fixed and can distinguish distinguish the difference between ordered (items added retain

[2022-06-27 23:51] geekygirlsarah opened #502 "[Objective-C] Fix ordered/unordered/sorted lists"
# Problem

This issue is to fix the ordered/unordered/sorted lists in Objective-C's `lists.json` file(s).

When the original meta `lists.json` was released, it was ambiguous whether "ordered" meant "sorted" or not. Due to that ambiguity, different languages implemented it differently.

With the meta language file now fixed and can distinguish distinguish the difference between ordered (items added

[2022-06-27 23:53] geekygirlsarah opened #503 "[Go] Fix ordered/unordered/sorted lists"
# Problem

This issue is to fix the ordered/unordered/sorted lists in Go's `lists.json` file(s).

When the original meta `lists.json` was released, it was ambiguous whether "ordered" meant "sorted" or not. Due to that ambiguity, different languages implemented it differently.

With the meta language file now fixed and can distinguish distinguish the difference between ordered (items added retain t

[2022-06-27 23:54] geekygirlsarah opened #504 "[PHP] Fix ordered/unordered/sorted lists"
# Problem

This issue is to fix the ordered/unordered/sorted lists in PHP's `lists.json` file(s).

When the original meta `lists.json` was released, it was ambiguous whether "ordered" meant "sorted" or not. Due to that ambiguity, different languages implemented it differently.

With the meta language file now fixed and can distinguish distinguish the difference between ordered (items added retain

[2022-06-27 23:55] #491 closed, assigned to nobody

[2022-08-27 16:01] craigdebug commented on #420
@geekygirlsarah Count me in for this issue.

I began work on this in [forked repo changes towards issue 420](https://github.com/craigdebug/codethesaur.us/tree/issue420-cd-add-cpp17-strings)

[2022-08-27 16:13] craigdebug commented on #420
I noted an issue using the 'template' json file...
web\thesauruses\_meta\strings.json
where the page rendering threw an error.  Looks related to the elements in schema. I will post the error in next message.

My speculation is that there is an upgrade to the schema and this template may need updated, maybe?  (If so, I would be happy to update that as well so that other languages get the benefit.)

[2022-08-28 18:51] geekygirlsarah opened #510 "Add enums to data types meta file"
# Background

Data types are a "concept" in Code Thesaurus that shows mostly simpler data types. I think enums are things in a lot of languages, and could be added to the `/web/thesauruses/_meta/data_types.json` file.

# Implementation

Use the existing file, but add a category for "Enumerations".  From there, add in several concepts that could describe what enums look like in many languages. (For

[2022-08-28 19:01] geekygirlsarah opened #511 "Rethink functions vs subroutines in Functions concept file"
# Description

In some languages, the idea of a function (group of code given input that returns some output) and a subroutine (a callable block of code to do a task) are two different things. In others, they're the exact same thing (or are only differentiated by if you provide inputs or send outputs).

Several people that contribute to CT see "Call subroutines" as "Call a function", which may or

[2022-08-28 19:21] geekygirlsarah opened #512 "Clarify operand placement in language definitions of math operators"
# Language

Likely all of them

# Wrong Field(s)

Most languages usually use something along the lines of the operator in between two operands (i.e. `a + b`). Not all languages do, notably something like LISP does `(+ a b)`.

There are also prefix and postfix operators that might get confusing if people don't understand what prefix and postfix are. (As in what's the difference between `++` and `++

[2022-08-30 05:52] #453 closed, assigned to geekygirlsarah

[2022-08-30 09:30] rsk2 commented on #403
Hi @geekygirlsarah, I would like to work on this issue.

[2022-08-30 13:52] geekygirlsarah commented on #403
@rsk2 alright, it's yours! Let me know if you have any questions. Documentation is at docs.codethesaur.us.

[2022-08-30 14:01] geekygirlsarah commented on #420
Yes, please do! As far as I know there's no error to the file.

[2022-08-31 01:07] craigdebug commented on #420
@geekygirlsarah if I copy the file at web\thesauruses\_meta and then edit the `meta` element to have the following, which matches the `meta` entry in the working functions.json,

I then see the following...
![diff_meta_to_cpp_not_working](https://user-images.githubusercontent.com/75537431/187569906-f1bc6fbc-1013-4297-8248-70a54f2da647.png)

So I looked at the existing and working C++ file for func

[2022-08-31 04:13] geekygirlsarah commented on #420
In the beginning, the `_meta` files and the files in the language directories were about the same. As the site grew and we discovered some bugs with the original matching algorithm, we had to revise it a bit. The `_meta` files don't correspond to how you should start a new file anymore. (If this is still in the docs, let me know and I'll update it.)

The easiest way is probably go to the Strings i

[2022-08-31 05:51] craigdebug commented on #420
Ok, so yes, using the `strings.json` from the _meta folder provides a json that does not fit the new matching algo.  I did not look for this mention in the doc, but from the issue here above, where it states to copy the file.

I followed your first recommendation on obtaining the template via the resulting 404 page and then swapping the string data that I have into that.  This works!

I am about 1

[2022-08-31 14:02] geekygirlsarah commented on #420
Oh, the _issue_ directions are old! Sorry about that. It's been a copy/paste template for language issues. I'll try to go back and update that!

[2022-09-03 07:19] Neeraj8949 commented on #512
I can work on it . Please assign to me.

[2022-09-03 16:16] geekygirlsarah commented on #512
Great, I'll add you!

If you have any questions, let me know. And feel free to read the [documentation](https://docs.codethesaur.us) if you need any help!

[2022-09-04 05:24] Neeraj8949 commented on #512
#include<iostream>
using namespace std
void Addition(int a, int b){ //if user want to add two number , he only needs to call the function "Addition"
cout<< a+b<<endl;
}
// that easier to use for everyone . These type of function made easy to use
int main()
{
string s;
cin>>s; //which type of mathematic operator you want
return 0;}
 Tell me , is this correct or You want something else .

[2022-09-04 19:30] geekygirlsarah commented on #512
Oh no, you're overthinking it!

For example, take https://github.com/codethesaurus/codethesaur.us/blob/117b77a54b8b203ac99a2a74d61d006fe8ca02d7/web/thesauruses/cpp/C%2B%2B20/operators.json#L9L12 :

Change:
`  "code": "+",`
to
`  "code": "operand1 + operand2",`

That's all. Make it obvious the order of the operators relative to the operands. Don't add any extra code (like functions, includes, etc.)

[2022-09-05 19:16] Neeraj8949 commented on #512
"concepts": {
    "addition": {
      "code": "+",
      "name": "Addition operator"
     "code": "operand1 + operand2"
    },
just like this only?
will I do for all operator?

[2022-09-05 19:22] Neeraj8949 commented on #512
If I am thinking in right way then tell me I will give you the all solution tomorrow.

[2022-09-06 02:58] geekygirlsarah commented on #512
So you won't change anything in the file BUT the `code` lines. If you change the rest of the file, it won't work right.

You'll only be adding operands to the `code` lines. Don't add extra lines, just change/edit them.

And yes, the issue is to do it for all operators in all files in `/web/thesauruses/[language]`.

If this is too much for a first-time contributor, I understand and you can take ano

[2022-09-06 03:16] Neeraj8949 commented on #512
Operand1=a;
Operand2=b;
"code": "+"
"code": "a+b" //Sum is Operand1 + Operand2

[2022-09-06 04:02] geekygirlsarah commented on #512
Do either:
`"code": "operand1 + operand2"`
_or_
`"code": "a + b"`

Not both, and don't try adding extra things into it. You are _just_ adding operands into the existing code lines.

[2022-09-06 07:47] Neeraj8949 commented on #512
"code": "+"
"code": "a+b" //Sum of two number
So this is correct?

[2022-09-06 13:31] geekygirlsarah commented on #512
Hmm... I'm not sure how to really clear this up any more than I've already tried.

Can you go ahead and make a few changes you think are right, then make a pull request. We can then look at them in there and hopefully clear it up. Then you can do the changes everywhere.

Does that sound good?

[2022-09-06 13:59] geekygirlsarah commented on #512
Here, I also made an example:

![image](https://user-images.githubusercontent.com/2601974/188654319-1950cf00-25fd-429d-8c62-4dc25bf6522d.png)

The left side are the original lines (with changes in red). The right side is the modified side (with changes in green). This issue is to only modify the `code` lines to add in operand variables.

[2022-09-09 10:13] rsk2 commented on #403
Hi @geekygirlsarah , I have created a PR for this.

[2022-09-09 13:01] #403 closed, assigned to rsk2

[2022-09-15 08:27] Neeraj8949 commented on #512
1. "meta":`` {
2.     "language": "cpp",
3.     "language_version": "C++20",
4.     "language_name": "C++",
5.     "structure": "operators"
6.   },
7.   "concepts": {
8.     "addition": {
9.       "code": "operand1 + operand2",
10.       "name": "Addition operator"
11.     },
12.     "addition_assignment": {
13.       "code": "result+=operand1",
14.       "name": "Addition and assignment operator"

[2022-09-15 15:41] geekygirlsarah commented on #512
Yeah, basically! Go ahead and make a pull request with that and I can point more specifically to a couple of things.

[2022-09-16 11:25] rsk2 commented on #434
Hi @geekygirlsarah, I would like to work on this issue.

[2022-09-17 03:22] geekygirlsarah commented on #434
Hey @rsk2, I'll assign it to you! Again, let me know if you have any questions. The docs are available too!

[2022-09-23 03:28] Neeraj8949 commented on #512
I didn't get it yet and tell me also that upper comment error and what type of changes and what type of new things which I have to add

[2022-09-23 03:37] geekygirlsarah commented on #512
I'm not sure if I understand what you mean by "I didn't get it yet" and the upper comment error.

If this issue is too confusing, you're welcome to back out, or to pick a different issue to work on.

[2022-09-23 03:54] Neeraj8949 commented on #512
I am new user on github so please tell me , now what  I have to do

[2022-09-23 04:29] geekygirlsarah commented on #512
Are you familiar with git and how to commit code? If not, you might want to find a tutorial, video, or something on how to do that.

The next step is to make a pull request. You can read directions about that on [GitHub's documentation site](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request).

At that

[2022-09-24 14:50] governedbyprudence opened #518 "Add C++ classes"
# Language

<!C++ -->
Currently c++ classes are not implemented. I would like to implement them.

# Additional Information
I would add classes and header files information and also oops concepts.
# Disclaimer
Please assign me this issue. Thank you.

[2022-09-24 14:53] governedbyprudence commented on #266
Hi ! I would like to work on this issue. Can you assign this to me ?

[2022-09-24 15:27] geekygirlsarah commented on #266
Hey @governedbyprudence ! I'll pass it to you!

Let me know if you have any questions. We also have docs at docs.codethesaur.us.

[2022-09-24 18:26] geekygirlsarah commented on #518
Reopening until the PR is completed.

[2022-09-24 18:28] governedbyprudence commented on #518
Hi ! When writing this issue i was not aware that the issue was already there before. That was the reason i closed this duplicate one :)

[2022-09-24 18:47] #266 closed, assigned to governedbyprudence

[2022-09-24 18:47] geekygirlsarah commented on #518
That makes sense. I missed that!

[2022-09-24 18:47] #518 closed, assigned to nobody

[2022-09-25 22:35] geekygirlsarah commented on #498
Hello @tealjulia! I was just checking in on this. How's it going? Do you still want to claim this issue?

[2022-09-26 22:56] radik-cs commented on #406
Hello!
I might be able to help you with this. I'll try

[2022-09-26 22:57] radik-cs commented on #470
Hello!
I think I could help with this

[2022-09-26 23:02] geekygirlsarah commented on #406
Sweet! I'll assign you! And let me know if you have any questions.

[2022-09-26 23:02] geekygirlsarah commented on #470
I'll assign you to this one too! Let me know if I can help!

[2022-09-27 00:51] geekygirlsarah opened #520 "Add the "Queues/stacks" structure"
Add queues and stacks as a concept/structure!

[2022-09-28 04:56] geekygirlsarah opened #522 "Auto-unassign issues with no activity"
# Description

GitHub Actions allows cron jobs to be ran, and there's a StaleBot that lets you mark old issues that haven't been worked on as stale or close them. Similar to that, I'd like a bot/cron job that unassigns someone if there's no activity on an issue within a period of time. (Let's say 3 week warning then unassign after 3 days after that).

[Ruby for Good](https://github.com/rubyforgood

[2022-09-28 14:50] rsk2 commented on #434
Hi @geekygirlsarah, I have created a PR for this issue

[2022-10-02 05:40] #522 closed, assigned to geekygirlsarah

[2022-10-02 05:47] geekygirlsarah commented on #480
Adding @TomReilly1 due to PR still in review.

[2022-10-02 15:20] ChaelCodes commented on #291
Hey @geekygirlsarah, I'm going to work on this one!

[2022-10-02 15:29] geekygirlsarah commented on #291
Sweet @ChaelCodes ! I think you know the deal at this point. Some docs have been updated, Docker is a little better, and we have more GitHub Actions to verify things. But consider it yours!

[2022-10-02 16:16] LittleBigProgramming commented on #487
What views would this be worth adding too?

The default is 300 which is 5 minutes. Is this the timeout that we would want to use? Or would there be a preferred time.

I’d be interested working on this as it sounds like a good suggestion. :)

[2022-10-02 16:29] geekygirlsarah commented on #487
I'll give it to you then!

As for views: All of them? I think they're all pretty cachable.

As for time, you can probably do longer. Content doesn't change for the most part. Could probably be an hour to a day even.

[2022-10-02 17:35] LittleBigProgramming commented on #504
I could help with this! Would be a great gateway issue for me. 👍 😄

[2022-10-02 17:40] geekygirlsarah commented on #504
Sweet! Consider it yours! Same stuff as before, and let me know if you have any questions!

[2022-10-02 17:43] ChaelCodes opened #526 "Weird name in _meta/lists.json"
# Expected Behavior

For Unordered Mutable Lists, creating a list should have the same title as creating a list in the other lists: "Create the list".

# Actual Behavior

Unordered Mutable Lists show the title as "unordered" for creating a list.
![unordered is the title](https://user-images.githubusercontent.com/8124558/193468151-93bf264c-2fed-486d-ac77-ea4ed8007ee5.png)

# Steps to Reproduce the

[2022-10-02 17:47] geekygirlsarah commented on #526
Fixed with 5b57418a550700b2074ed20b069cbe17919aac36

[2022-10-02 17:47] #526 closed, assigned to geekygirlsarah

[2022-10-02 19:41] geekygirlsarah opened #527 "Meta language List/Array/Hashes file asks you to insert into immutable lists"
# Language

All/_meta language

# Wrong Field(s)

1. There are fields in Lists/Arrays/Hashes that are for adding items to immutable lists. Those probably shouldn't be there.
2. This probably means while there's "create a [type] list", there should be "create a [type] list from items" kind of thing too.

[2022-10-02 19:45] Lorenzobattistela commented on #423
Hello, I would like to work on this, can you please assign it to me? Thanks a lot!

[2022-10-02 19:50] #520 closed, assigned to geekygirlsarah

[2022-10-02 20:08] geekygirlsarah commented on #423
Hey @Lorenzobattistela! I'll assign it to you.

The docs are at https://docs.codethesaur.us . And let me know if you have any questions!

[2022-10-02 21:55] #291 closed, assigned to ChaelCodes

[2022-10-02 22:14] MaryJoStaebler commented on #435
@geekygirlsarah I'll tackle this and a few VBScript issues.

[2022-10-03 00:20] geekygirlsarah commented on #435
Sweet! I think you know the drill, but feel free to ask any questions!

Also since you last contributed, a few GitHub Actions were added. They'll help make sure your files are syntactically correct!

[2022-10-03 03:09] Rollerss commented on #431
I would like to complete this issue.

[2022-10-03 03:20] geekygirlsarah commented on #431
Hello again! I can assign it to you.

Let me know if you have any questions!

[2022-10-03 04:22] #431 closed, assigned to Rollerss

[2022-10-03 06:45] Rishav-12 commented on #512
Hey can I work on implementing this in the Python and JavaScript folders?

[2022-10-03 14:09] geekygirlsarah commented on #512
Hey @Rishav-12, I think that would be good to help divide up the work! I'll assign you too.

There's examples of what I'm looking for with this issue above. There's also the [documentation site](https://docs.codethesaur.us) too. If you have other questions, let me know!

[2022-10-03 14:30] geekygirlsarah opened #531 "[TypeScript] Add queues and stacks"
# Description

Queues and stacks for TypeScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.

[2022-10-03 14:30] geekygirlsarah opened #532 "[Swift] Add queues and stacks"
# Description

Queues and stacks for Swift aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sav

[2022-10-03 14:31] geekygirlsarah opened #533 "[Scala] Add queues and stacks"
# Description

Queues and stacks for Scala aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sav

[2022-10-03 14:32] geekygirlsarah opened #534 "[Rust] Add queues and stacks"
# Description

Queues and stacks for Rust aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-03 14:33] geekygirlsarah opened #535 "[Ruby] Add queues and stacks"
# Description

Queues and stacks for Ruby aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-03 14:33] geekygirlsarah opened #536 "[Python] Add queues and stacks"
# Description

Queues and stacks for Python aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sa

[2022-10-03 14:34] geekygirlsarah opened #537 "[PHP] Add queues and stacks"
# Description

Queues and stacks for PHP aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-03 14:35] geekygirlsarah opened #538 "[Perl] Add queues and stacks"
# Description

Queues and stacks for Perl aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-03 14:36] geekygirlsarah opened #539 "[Objective-C] Add queues and stacks"
# Description

Queues and stacks for Objective-C aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.

[2022-10-03 14:36] geekygirlsarah opened #540 "[Nim] Add queues and stacks"
# Description

Queues and stacks for Nim aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-03 14:37] geekygirlsarah opened #541 "[JavaScript] Add queues and stacks"
# Description

Queues and stacks for JavaScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.

[2022-10-03 14:37] geekygirlsarah opened #542 "[Java] Add queues and stacks"
# Description

Queues and stacks for Java aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-03 14:38] geekygirlsarah opened #543 "[Haskell] Add queues and stacks"
# Description

Queues and stacks for Haskell aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* S

[2022-10-03 14:39] geekygirlsarah opened #544 "[Go] Add queues and stacks"
# Description

Queues and stacks for Go aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save t

[2022-10-03 14:39] geekygirlsarah opened #545 "[C#] Add queues and stacks"
# Description

Queues and stacks for C# aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save t

[2022-10-03 14:41] geekygirlsarah opened #546 "[C++] Add queues and stacks"
# Description

Queues and stacks for C++ aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-03 14:42] geekygirlsarah opened #547 "[Clojure] Add queues and stacks"
# Description

Queues and stacks for Clojure aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* S

[2022-10-03 14:45] geekygirlsarah opened #549 "[Ada] Add queues and stacks"
# Description

Queues and stacks for Ada aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-03 14:47] geekygirlsarah commented on #542
Yeah! Be sure to look over the docs and let me know if you have any questions!

[2022-10-03 15:01] TrainedPro commented on #536
Hello! I know how to implement stack and queues in Python but how do i do it with a ".json" file with it. I have already read on the website what needs to be done and have seen the samples on the _meta. Do i just need to write instructions for it using the ".json" file?

[2022-10-03 15:04] geekygirlsarah commented on #536
Yeah. Basically look at the file and all of the `"code":""` are all empty. You'd fill in the code blocks. or if Python doesn't support it, delete the code line and add `"not-implemented": true` instead. You can add comments too.

You can always look at the site (ex: https://codethesaur.us/reference/?concept=functions&lang=python%3B3 ) and compare it to the file (ex: https://github.com/codethesauru

[2022-10-03 15:05] geekygirlsarah commented on #536
The other thing is this is for built-in stacks/queues. Don't write algorithms to do it. If there's not a built-in (or importable through standard libraries) way of doing it, then it's "not implemented".

Are you interested in working on this?

[2022-10-03 15:09] TrainedPro commented on #536
Yes, i am interested in working on this. Python has a list ".append" and ".pop" function for for both these. My only issue is that i would usually submit a well commented file saying how to do all this but i just do not understand the ".json" format.

I have compared the links you sent me and i think i do understand a bit more now but i hope you will let me know if it is incorrect as this is my fi

[2022-10-03 15:22] geekygirlsarah commented on #536
JSON is the JavaScript Object Notation. It's basically a bunch of key-value pairs, where values can be numbers, strings, booleans, arrays, or objects. I've tried to abstract the need to know most of it out and mostly just edit code lines. If it's multiple lines, you can either add a `\n` to where it needs to be or just do an array (like `"code": [ "line1", "line2"]`). It's not too bad once you get

[2022-10-03 15:22] geekygirlsarah commented on #536
Want me to assign you?

[2022-10-03 15:26] TrainedPro commented on #536
Sure, I can give it a go

[2022-10-03 15:28] JohnIrle commented on #531
Hello, I would like to work on this.

[2022-10-03 15:34] geekygirlsarah commented on #531
Sure! I'll assign you.

Read the docs if you need to and let me know if you have any questions!

[2022-10-03 15:40] geekygirlsarah commented on #400
Yeah! Be sure to look over the docs and let me know if you have any questions!

[2022-10-03 16:18] pulgamecanica commented on #426
Hello, I would like to contribute to solving this issue.
I am an enthusiastic **Ruby** developer and would like to try it very much.
This project is very _awesome_ and I like the website a lot.
I have read the Documentation and especially I read carefully the **"Contributing"** section but if you have any other tips I am interested in having a look before trying it.

[2022-10-03 16:28] pulgamecanica commented on #426
I also have a suggestion, in case you haven't considered it.
Perhaps, the JSON should have another section to add the references. I love references, to confirm the information, or if someone wants to dig deeper about a certain subject...
Cheers :)

[2022-10-03 17:07] geekygirlsarah commented on #426
Hey @pulgamecanica, I'll assign you then! And yeah, let me know if you have any questions.

And I suppose great minds think alike, there's #188 for the references.

[2022-10-03 17:17] geekygirlsarah commented on #542
Look at the Install/running docs at https://docs.codethesaur.us/install/ to see how to run it locally.

And yeah, basically add that, though if there's other versions, it'd be nice to add those too. (LIke Java has 11, 15, and 17. I imagine they're all pretty similar as I'm guessing queues and stacks haven't changed much through the years)

[2022-10-03 17:19] pulgamecanica commented on #426
#### Thank's I'll give my best and I will try to be consistent :D

[2022-10-03 17:38] Ash-394 commented on #546
Hii is this issue still open?? If it is, can I work on it?

[2022-10-03 17:44] geekygirlsarah commented on #546
I added it 3 hours ago, it's definitely still open, lol.

And I'll assign you @Ash-394! Feel free to look over the docs and let me know if you have any questions!

[2022-10-03 18:41] Pranjalmishra30 commented on #400
I won't be able to contribute to this issue currently. Apologies for any inconvenience caused.

[2022-10-03 18:43] geekygirlsarah commented on #400
That's alright @Pranjalmishra30, I'll take you off. Let me know if you regain interest in anything!

[2022-10-03 18:45] Pranjalmishra30 commented on #400
Sure thanks a lot :)

[2022-10-03 18:46] WaniAthar commented on #549
@geekygirlsarah can i work on this issue?

[2022-10-03 18:50] geekygirlsarah commented on #549
Yep, I'll assign you @WaniAthar ! Please look over the docs and let me know if you have any questions!

[2022-10-03 18:51] WaniAthar commented on #549
okay

[2022-10-04 01:19] #531 closed, assigned to JohnIrle

[2022-10-04 09:13] WaniAthar commented on #549
@geekygirlsarah I have created a PR please check it
added stacks_queues.json

[2022-10-04 09:29] Ash-394 commented on #546
Okay! Thanks :)

[2022-10-04 10:40] governedbyprudence commented on #541
Hi ! Please assign me this issue . Thank you !

[2022-10-04 11:55] pulgamecanica commented on #426
Hello!

Today I will be working on the JSON, yesterday I was able to run the docker-compose without many issues, I worked with Django before and I was happy to see it again, so without further ado, I will do my best and I will use "The Well Grounded Rubyist" 📖  as a reference to get all the ideas straight and without much complications for any reader! :D ✏️

[2022-10-04 12:10] pulgamecanica commented on #426
<img width="1902" alt="Screen Shot 2022-10-04 at 13 08 23" src="https://user-images.githubusercontent.com/28810331/193815529-938935de-b8de-4611-9b40-635befa66aef.png">

[2022-10-04 14:01] TheSylwio commented on #537
Hi @geekygirlsarah. I would like to be assigned to this issue 👋

[2022-10-04 14:15] geekygirlsarah commented on #537
Yeah @TheSylwio , I'll give it to you!

Be sure to read the docs if you need, and let me know if you have any questions!

[2022-10-04 14:22] geekygirlsarah commented on #549
I'm commenting here too. This issue is for the Ada language, but your PR (#552) is for Python. Someone else grabbed the Python issue, so I can't merge that in, but that also doesn't fit this issue.

You're welcome to open a new PR for Ada or I can unassign you here and you can wait to see if the other contributor follows through on their Python work.

[2022-10-04 14:22] geekygirlsarah commented on #541
Hey @governedbyprudence , I'll assign you. Look over the documentation if needed and feel free to let me know if you have any questions!

[2022-10-04 14:24] geekygirlsarah commented on #426
I'm glad you're so excited @pulgamecanica ! I hope you have some fun with it, maybe learn some new things along the way. Again, let me know if you have any questions!

[2022-10-04 17:18] pulgamecanica commented on #426
### I have finished, I will perform now a PR :D
I also found one little tiny typo which I would love to fix :D not sure if I should create an issue for it though...
The typo is here:
[https://codethesaur.us/reference/?concept=strings&lang=java%3B17](https://codethesaur.us/reference/?concept=strings&lang=java%3B17)
It's because they forgot to escape the backslash so it actually created a new line i

[2022-10-04 17:34] geekygirlsarah commented on #426
Good catch! You can sneak it into #555 if you want or you can make a new PR. (no issue needed)

[2022-10-04 17:34] pulgamecanica commented on #426
Overall it was very nice to do it, but I couldn't find a proper answer for the second question, so I entered "no need?" because I really didn't know what to put.

<img width="1113" alt="Screen Shot 2022-10-04 at 18 29 22" src="https://user-images.githubusercontent.com/28810331/193886621-fcf8e339-9b4c-483b-83f5-efd8252e2d59.png">

So if you know what I could put there to make it understandable for

[2022-10-04 17:35] pulgamecanica commented on #426
I closed the PR because I didn't want the "No need?" to go there haha I forgot about it... only now I realized

[2022-10-04 17:35] #537 closed, assigned to TheSylwio

[2022-10-04 17:36] geekygirlsarah commented on #426
Oh you don't have to close and open a new one. Just push new changes. Github updates it automatically.

[2022-10-04 17:37] pulgamecanica commented on #426
I will sneak that fix for the Java lang on the PR 😄
Well then, I'll do that.

[2022-10-04 17:38] geekygirlsarah commented on #426
Want me to reopen #555 then? You can edit the text of the PR too if something changes.

[2022-10-04 17:38] Rishav-12 commented on #512
Hey @geekygirlsarah, I just pushed some changes to the Python folder. I shall continue working on the JavaScript folder and push further changes

[2022-10-04 17:38] pulgamecanica commented on #426
I would appreciate that, thank you.

[2022-10-04 17:42] geekygirlsarah commented on #512
That works! You can mark it as a "draft" pull request if you're not done but it can keep it there if you want.

![image](https://user-images.githubusercontent.com/2601974/193888718-2891574c-fa64-476b-b0d8-e54a62f29762.png)

[2022-10-04 17:44] pulgamecanica commented on #426
Ohhh wow.... that's so nice, it really did it automatically.... now it shows the 4 files changed on the PR.
That's so cool.

[2022-10-04 17:44] pulgamecanica commented on #426
Now it says: "Built-in included in the default Modules" instead of "No need? ✅

[2022-10-04 21:57] dcavalei commented on #420
I want to work on this issue

[2022-10-04 23:52] Lorenzobattistela commented on #423
@geekygirlsarah Just created the Pull Request! Thanks for the support.

[2022-10-05 04:25] geekygirlsarah commented on #512
@Neeraj8949 If you look at pull request #556, you'll see how @Rishav-12 made the changes.  Do you think you can do that for other languages?

@Rishav-12 do you want to take on any other languages?

Both of you: I can also split this out into separate issues for all the languages if you want to have a smaller issue.

[2022-10-05 04:42] geekygirlsarah commented on #420
Hey @dcavalei, I think @craigdebug has started on this (though will admit I forgot to assign them to the issue). I might wait and see if craigdebug does a PR and keeps this. If not, I can assign you!

There's #402 or #282 if you want another C++ issue.

[2022-10-05 05:01] geekygirlsarah commented on #423
Yep, I get the email notifications. Thanks!

[2022-10-05 14:43] pulgamecanica opened #558 ""Unknown" when code is missing."
# Description

It will remove the "**Unknown**" message which is shown on the reference page if the concept is VALID but it has no "code" text.
I agree, "**Unknown**" should be displayed, but I think only when the concept is not valid... not when there is no "code", because there might be a "comment" that can explain a concept, and NO "code" at all.

Explanatory image:

<img width="2033" alt="Scre

[2022-10-05 21:13] pulgamecanica commented on #402
Hello @geekygirlsarah I would like to solve this issue :)

[2022-10-05 21:15] pulgamecanica commented on #308
I can take this too if you allow me :)

[2022-10-06 02:29] craigdebug commented on #420
@geekygirlsarah , Hi. I am working on this over in my fork of the repo.  I was actually aiming to complete the remaining portion and begin a PR on this coming Saturday (EDT).  I think I only have a few hours left.

[2022-10-08 03:41] geekygirlsarah commented on #558
Hmm...  this is a good point. It's a weird edge case because there's:
1) concept exists (therefore has example code)
2) concept doesn't exist (therefore can't have code)
3) unknown state (the ID got added but wasn't added to the file)

and to distinguish between 2 and 3, we added "not-implemented" as a way to flag the system that the concept doesn't exist. I think it even allows a comment with it

[2022-10-08 03:49] geekygirlsarah commented on #402
Sounds good! I'll pass it over to you. I think you already know it works from your past PRs. Have fun and thanks!

[2022-10-08 03:50] geekygirlsarah commented on #420
That's fine @craigdebug . I was mostly trying to clarify that I forgot to add your name to the issue and it was already taken. No rush!

[2022-10-08 03:58] #423 closed, assigned to Lorenzobattistela

[2022-10-08 04:17] #434 closed, assigned to rsk2

[2022-10-08 09:42] Ranjana-Kambhammettu commented on #282
@geekygirlsarah I'd like to take this one up! Can you assign this to me?

[2022-10-08 11:32] pulgamecanica commented on #402
I'll start working on it! 😃

[2022-10-08 17:23] prokan468 commented on #546
Hi @geekygirlsarah , is this issue resolved?

[2022-10-08 17:37] MaryJoStaebler commented on #430
May I tackle this one?

[2022-10-08 17:38] MaryJoStaebler commented on #432
May I tackle this one?

[2022-10-08 17:56] Ash-394 commented on #546
I'm working on it

[2022-10-08 17:59] geekygirlsarah commented on #432
Certainly! You know how it works, I'll leave you to it.

[2022-10-08 18:00] geekygirlsarah commented on #430
And you can have this one as well!

[2022-10-08 18:07] natEth commented on #286
Hi @geekygirlsarah can you assign this to me? thanks

[2022-10-09 16:59] governedbyprudence commented on #541
@geekygirlsarah  Hi ! . I have put in a merge request. Please let me know if something needs to be changed. Thank you !

[2022-10-09 18:15] geekygirlsarah commented on #541
I get notifications for all the issues and pull requests, so I see yours. I'm out of town with limited computer access so I appreciate your patience.

[2022-10-09 18:18] governedbyprudence commented on #541
Sure. No problem !

[2022-10-09 19:08] #426 closed, assigned to pulgamecanica

[2022-10-09 19:11] geekygirlsarah commented on #282
Hey @Ranjana-Kambhammettu , I'll assign to you. Let me know if you have any questions. Feel free to look over the documentation too!

[2022-10-10 13:43] geekygirlsarah opened #564 "Stale issue bot reports Ruby For Good links"
# Expected Behavior

Configuration for the bot (in Github Actions) should out say Code Thesaurus related things.

# Actual Behavior

The bot references Ruby for Good or CASA (the group /project that created this bot) in its comments.

# Steps to Reproduce the Problem

1. See https://github.com/codethesaurus/codethesaur.us/issues/498#issuecomment-1272670493

# Additional Info

~~If it can't be fixe

[2022-10-10 17:51] shilpeegupta14 commented on #532
I want to work on this issue. @geekygirlsarah

[2022-10-10 17:57] shilpeegupta14 commented on #532
Kindly assign me.

[2022-10-10 18:08] adarsh-kishore786 opened #565 "[C++] Add Input and Output"
# Description

Currently, there is no input/output reference sheet implemented for C++ (either version). This issue is to add that concept to the system for C++20.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the tem

[2022-10-10 18:21] geekygirlsarah commented on #565
Updated title/description to add more info. Thanks for filing this @adarsh-kishore786 !

[2022-10-10 18:25] adarsh-kishore786 commented on #565
I hope this sounds fine? If not please tell me

[2022-10-10 19:07] adarsh-kishore786 commented on #565
Also, for some sections like Networks, JSON etc, there are no inbuilt libraries available as such. However, there are many 3rd party libraries to do the job. In cases like these, should I mention the API provided by anyone of the third-party libraries,?

[2022-10-10 19:55] colindean commented on #533
I'll work on this one.

[2022-10-10 21:50] #435 closed, assigned to MaryJoStaebler

[2022-10-10 21:51] geekygirlsarah commented on #286
Yeah, I'll give it to you @natEth. Don't forget there's documentation, and let me know if you have any questions!

[2022-10-10 21:55] #430 closed, assigned to MaryJoStaebler

[2022-10-10 21:55] #432 closed, assigned to MaryJoStaebler

[2022-10-10 21:58] #420 closed, assigned to craigdebug

[2022-10-10 22:33] craigdebug commented on #420
Thanks @geekygirlsarah, I had fun working on this!  Will likely pick up another issue soon.

[2022-10-10 22:54] teallarson commented on #498
give me more time :)

[2022-10-10 22:56] geekygirlsarah commented on #532
I'll give it to you, @shilpeegupta14 . Don't forget to look over docs or the issue to see how to do this, and let me know if you have any questions!

[2022-10-10 23:01] geekygirlsarah commented on #565
No. _Only_ use built-in functions or standard libraries already in the language. So for C++, just the `std` libraries. (So no Boost or other things.)

Also if you have to write an algorithm to make it work, the language doesn't have it. So just mark it as "not-implemented".

[2022-10-10 23:02] geekygirlsarah commented on #565
(I assume you're wanting to work on this. If not, you or I can unassign you.)

[2022-10-10 23:02] geekygirlsarah commented on #533
Sweet! You know how it works so I'll let you at it.

[2022-10-10 23:04] geekygirlsarah commented on #498
Yep! I think that should make the bot happy.

[2022-10-10 23:29] wroblewskialex commented on #564
I'll take this on

[2022-10-10 23:37] geekygirlsarah commented on #564
Sure! I was about to start on it, I'll pass it to you.

I just forked it (see https://github.com/codethesaurus/unassign-issues ). If you want to fork that and edit it, I'll edit the GitHub action to point to that (instead of RubyForGood's version of the bot)

[2022-10-10 23:56] arrkyn commented on #96
Hey! I'd like to work on this

[2022-10-10 23:57] geekygirlsarah commented on #96
Sweet! I'll assign you. Let me know if you have any questions!

[2022-10-11 02:48] #498 closed, assigned to teallarson

[2022-10-11 08:48] adarsh-kishore786 commented on #565
I am working on this @geekygirlsarah. Thanks for the inputs!

[2022-10-11 14:11] geekygirlsarah commented on #542
That's fine! No rush. I have a bot that will remove someone from an issue at 2.5 weeks (though it warns first). So if the bot shows up, leave a comment and it won't take you off.

Though if you're doing Hacktoberfest, the PR needs to be made by Oct 31.

[2022-10-11 18:54] adarsh-kishore786 commented on #565
Also, can I assume that we have used `using namespace std;` in the program? Or should I namespace the functions properly?

[2022-10-11 21:06] geekygirlsarah commented on #565
Since that's not a default assumption for the language, let's say no. You could maybe say somewhere towards the beginning in a comment that all functions are in the `std` namespace and therefore you're writing it like that, but I'd probably rather have it the "proper" way and just prefix the functions/classes with `std::` first.

[2022-10-12 05:28] aedwardg commented on #217
@geekygirlsarah happy to take this on if it's still needed 🙂

[2022-10-12 05:36] aedwardg commented on #362
@geekygirlsarah it looks like this may have been resolved in commit fcfda0f11e901b486b19bfbe11b91450f0891929
Should this issue be closed?

[2022-10-12 07:49] adarsh-kishore786 commented on #565
Understood. Thanks!

[2022-10-12 08:19] adarsh-kishore786 commented on #565
I have added the required webpage with what I know and found. If there's anything missing or which can be changed, please let me know!

[2022-10-12 10:52] ulyssear commented on #271
Hi ! Is it possible to work on this issue ?

[2022-10-12 10:58] rsk2 commented on #434
Hi @geekygirlsarah, can this count towards hacktoberfest?

[2022-10-12 13:15] geekygirlsarah commented on #434
The whole project is opted in for Hacktoberfest, so yes it does. You should see all your PR(s) that count on your Hacktoberfest dashboard. It will take 7 days for them to clear (in case maintainers mark them as spam/invalid) and then it counts.

[2022-10-12 13:16] geekygirlsarah commented on #271
Yeah, I'll add you @ulyssear!

Please look over the documentation and let me know if you have any questions!

[2022-10-12 13:26] geekygirlsarah commented on #217
Hey @aedwardg, yeah you can have it!

Please look over the docs and let me know if you have any questions!

[2022-10-12 13:35] geekygirlsarah commented on #362
Huh, weird. This was attached to PR #384 but it never actually closed this issue when that one closed. Weird. But yeah, you're right. It was done!

Thanks for catching that, @aedwardg !

[2022-10-12 13:35] #362 closed, assigned to nobody

[2022-10-12 13:40] #565 closed, assigned to adarsh-kishore786

[2022-10-12 13:42] geekygirlsarah commented on #565
Yep, I get notifications when people make comments or PRs on the project.

I would have on the PR itself. But it looked good and passed tests, so I merged it in!

[2022-10-12 14:01] ulyssear commented on #271
The pull request is available at #569

[2022-10-12 14:50] ulyssear commented on #287
What's up with this issue? If it's available, I can do it

[2022-10-13 13:17] geekygirlsarah commented on #271
I see that, I get notifications for all pull requests and comments. Thanks!

[2022-10-13 13:31] geekygirlsarah commented on #287
I guess what's up is no one's assigned to it. So I'll pass it to you!

[2022-10-13 13:41] #427 closed, assigned to nobody

[2022-10-13 14:56] michaeljones32 commented on #292
@geekygirlsarah Mind if I pick this one up? (Remembered to ask this time!)

[2022-10-13 15:25] geekygirlsarah commented on #292
Yeah @michaeljones32, I'll pass it to you. You know the drill but there's docs if you need and ask me any questions if you have them!

[2022-10-13 16:14] rsk2 commented on #434
Ok thanks! I registered later and I couldn't see this so I thought I ask

[2022-10-13 16:50] xomiamoore commented on #495
Hi @geekygirlsarah! I think I could help with this issue, if you're open to using something like Google Analytics. I don't have a ton of coding experience, but I've worked with analytics tools before.

Let me know your thoughts and we can talk through what this would look like!

[2022-10-13 16:52] geekygirlsarah commented on #495
Hello! Actually it's probably a bit simpler: There's two database tables that track stats. So you can just use some Python model wrangling to probably get data. You could do SQL if you felt up to it. No G'analytics.

How do you feel about that?

[2022-10-13 17:03] xomiamoore opened #571 "CSS 3"
# Language you would like added
CSS 3

# Information on the language
CSS is a cornerstone language for frontend and is currently missing in Code Thesaurus. I would like to add CSS 3 (and previous versions, if you think that would be useful).

I looked and didn't see previous discussion on including HTML and CSS, so I wasn't sure if there was a specific reason they aren't already included. My conce

[2022-10-13 17:15] geekygirlsarah commented on #571
HTML, as a markup language, doesn't really have concepts like functions, loops, and things like that, so it's not really fit in here. There also aren't similar languages that do the same thing. (Like there's no <b> in Firefox but <bold> in Chrome or something.) So the "code" and "thesaurus" part of Code Thesaurus doesn't really work for HTML.

For CSS1, it's kind of the same boat, very static, one

[2022-10-13 17:28] xomiamoore commented on #571
Yeah, I totally understand why HTML is not a good fit with the "thesaurus" part.

I was digging into the docs and saw this:

And it made me wonder about including the hard-to-compare languages as a reference sheet, but not in the drop-down list for comparisons. Like you said, CSS 3 has many of these concepts, so it could fit with the current project architecture, but it doesn't necessarily make se

[2022-10-13 17:42] geekygirlsarah commented on #571
I'm quickly looking up how to do some things in CSS3 and finding there isn't a lot. Like there's math operators (+, -, max(), min(), etc.) and things like kind of if statements (they're not "if this then..." but more like "@media all and (max-width: 900px)" and things like additional logic ("menu a:not(#current)").  So some things can be added. But there's not things like memory management, custom

[2022-10-13 18:10] xomiamoore commented on #571
Awesome, I think this could be a good feature later on. I'm glad to have started the discussion because all this sounds really useful!

But, like you said, this is quickly becoming larger than the initial issue. I don't think I have the bandwidth (or skill, lol) to work through these larger questions myself.

Should we reorganize this to another issue about adding other types of comparisons? Or do

[2022-10-13 18:12] xomiamoore commented on #527
Hi @geekygirlsarah, can I take this one on? :)

[2022-10-13 19:29] geekygirlsarah commented on #571
The larger-scale comparing CSSy stuff is more of a future thing. (I have a bunch: https://github.com/orgs/codethesaurus/projects?type=classic ). I added those in here. But those projects are ones that would require me to do some architecture work on them and are very large. We can just kind of leave tehat there for now...

If you know where current CSS and/or Sass and/or Less and/or whatever else

[2022-10-13 19:29] geekygirlsarah commented on #527
Yeah, I'll give it to you! There's docs at docs.codethesaur.us too. Feel free to ask me any questions you have!

[2022-10-13 20:10] xomiamoore commented on #527
Thank you, appreciate how responsive you've been! 🙌🏻

[2022-10-14 12:18] pulgamecanica commented on #402
I have not been able to get my hands on this, but this weekend I'll try to wrap it up! Cheers ;)
Also the Ruby Math operators :)

[2022-10-14 15:15] its-kundan commented on #425
!assign

[2022-10-14 17:28] Ash-394 commented on #546
Hii
Should I write the code for implementing queue and stacks using  C++ Standard Template Library (STL) or just simply implement them using array?
Thanks!

[2022-10-15 16:56] Rollerss opened #575 "C# is missing some data types"
# Language

C# is missing some data types.

# Wrong Field(s)
1. Signed 8-bit integer -> Unknown
1. Unsigned 8-bit integer -> Unknown
1. Unsigned 16-bit integer -> Unknown
1. Unsigned 32-bit integer -> Unknown
1. Unsigned 64-bit integer -> Unknown
1. Character -> Unknown
1. String as an object -> Unknown

# Corrected Information(Optional)
1. Signed 8-bit integer -> sbyte
1. Unsigned 8-bit integer -

[2022-10-15 16:57] Rollerss commented on #575
Please assign this issue to me

[2022-10-15 19:08] geekygirlsarah commented on #571
SO...  do you want to add CSS3 to CT?

[2022-10-15 19:51] #271 closed, assigned to ulyssear

[2022-10-15 19:54] geekygirlsarah commented on #402
Alright, sounds good! Thanks for the update.

[2022-10-15 19:59] geekygirlsarah commented on #425
Hey @its-kundan, looks like you want this. I'll assing you! Please review the docs and let me know if you have any questions!

(Also thanks for the idea for an assign bot!)

[2022-10-15 20:03] geekygirlsarah commented on #546
Use the built-in libraries (STL). Don't write algorithms to do any of this. CT should be a language reference, not an algorithm reference.

Thanks!

[2022-10-15 22:17] geekygirlsarah commented on #575
I'll give it to you, @Rollerss . Also thanks for catching this and filing it!

[2022-10-15 22:24] #575 closed, assigned to Rollerss

[2022-10-15 23:04] monkeywithacupcake commented on #539
There is no native stack or queue in objective C. I'd be happy to do add that in with the not implemented instructions. Thanks.

[2022-10-15 23:19] monkeywithacupcake opened #577 "Add R language"
# Language you would like added
R
[R project](https://www.r-project.org/about.html)

# Information on the language
This is a language primarily for stats that has grown into a popular tool for data science that is being used to create webpages and books, so it is more flexible than originally imagined.

# Disclaimer
If you would like to work on this issue, please comment here so that you are assig

[2022-10-16 00:20] geekygirlsarah commented on #539
That's about the only way to do it. And thanks, that'd be great!

I know you're doing the FAQ page too, but if you have questions not in the docs, let me know!

[2022-10-16 00:21] geekygirlsarah commented on #577
Ah yes, I had to fight with R at my last job and having it in here would have been helpful. Thanks for adding this!

[2022-10-16 01:33] its-kundan commented on #425
Welcome

[2022-10-16 14:00] Shreya-7 commented on #406
@geekygirlsarah Hey! I can take a shot at this.

[2022-10-16 14:09] geekygirlsarah commented on #406
Sure! I'll assign you. Look over the docs and if you have any questions, let me know!

[2022-10-16 14:13] #217 closed, assigned to aedwardg

[2022-10-16 14:26] geekygirlsarah opened #579 "[Lua] Add classes"
# Description

Classes for Lua aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2022-10-16 14:28] geekygirlsarah opened #580 "[Lua] Add data types"
# Description

Data types for Lua aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that fi

[2022-10-16 14:29] geekygirlsarah opened #581 "[Lua] Add exception handling"
# Description

Exception handling for Lua isn't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-16 14:31] geekygirlsarah opened #582 "[Lua] Add functions"
# Description

Functions for Lua aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that fil

[2022-10-16 14:32] geekygirlsarah opened #583 "[Lua] Add input/output"
# Description

Input/Output for Lua aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that

[2022-10-16 14:33] geekygirlsarah opened #584 "[Lua] Add lists"
# Description

Lists/arrays/hashes for Lua aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sav

[2022-10-16 14:37] geekygirlsarah opened #585 "[Lua] Add math and operators"
# Description

Math and operators for Lua aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-16 14:38] geekygirlsarah opened #586 "[Lua] Add queues and stacks"
# Description

Queues and stacks for Lua aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2022-10-16 14:39] geekygirlsarah opened #587 "[Lua] Add strings"
# Description

Strings for Lua aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2022-10-16 14:52] ayaan-qadri commented on #587
i wanna work on this.

[2022-10-16 14:56] geekygirlsarah commented on #587
That was fast, I just posted this!

I'll assign to you. Look over the docs and let me know if you have any questions!

[2022-10-16 14:58] ayaan-qadri commented on #587
Sure !!

[2022-10-16 15:40] kunalsingh1301 commented on #586
@geekygirlsarah can you assign me?

[2022-10-16 15:40] kunalsingh1301 commented on #585
can you assign me @geekygirlsarah

[2022-10-16 15:41] srigundeti10 commented on #582
@geekygirlsarah   please assign me

[2022-10-16 18:04] Subhajit767 commented on #586
please assign this to me

[2022-10-16 18:04] #287 closed, assigned to ulyssear

[2022-10-16 18:08] geekygirlsarah commented on #585
Yep! It's yours. Look over the docs and let me know if you have any questions!

[2022-10-16 18:08] geekygirlsarah commented on #582
I'll give it to you @srigundeti10 ! Read over the docs and let me know if you have any questions!

[2022-10-16 18:09] geekygirlsarah commented on #586
@kunalsingh1301 was first but also grabbed another issue. Do you still want it?

[2022-10-16 19:27] #539 closed, assigned to monkeywithacupcake

[2022-10-16 19:54] pythoninthegrass opened #590 "[Python] Missing info on Python strings"
# Language

[Comparing Python's and Go's Strings](https://codethesaur.us/compare/?concept=strings&lang1=python%3B3&lang2=go%3B1)

# Wrong Field(s)
(for Python)
1. Default byte encoding (ex: ASCII UTF-8, UTF-16, etc.)
2. Create new multi-line string
3. Assign string from another string
4. Destroy string and/or clear/empty string

# Corrected Information(Optional)
1. [UTF-8](https://realpython.com/p

[2022-10-16 21:03] monkeywithacupcake commented on #577
I tried to get started on this one - but not assigned, so no PR.

Also , I added the language in `meta_info.json` and was able to get a template - so I know that it sees "r". And then I added a new folder "r" with one concept area `classes.json`. When I test in my container, I cannot see R now as a choice under classes (or anything, but that's the only one I built a json for).

Here's an image tha

[2022-10-16 21:15] monkeywithacupcake commented on #577
Edit, never mind. I did it wrong. Future users - you have to make a folder for the major version number. I read about this and STILL missed it as a step. all better now.

[2022-10-16 21:47] monkeywithacupcake opened #591 "Clear Console Output not Cutput in meta and templates"
# Expected Behavior

`io.json` should have the concept "clear_console_output"

# Actual Behavior

`io.json` has "clear_console_cutput"

# Steps to Reproduce the Problem

1. Open io.json
1. OR copy templated code for new reference from io  for example`http://localhost:8000/reference/?concept=io&lang=r%3B4`

# Additional Info

Correcting this typo could result in breaking changes because all of the

[2022-10-17 01:24] geekygirlsarah commented on #590
Yeah, it does look like some of the Python fields aren't up to date. You're welcome to do it! I can assign you. (I'll rename the issue so it more accurately reflects what's wrong here.)

The whole repo is opted in for Hacktoberfest so every PR merged should count. I haven't labeled any PR with that label yet but if you have issues let me know and I can add the extra label. (I say that as it's more

[2022-10-17 01:25] geekygirlsarah commented on #577
Is this a case of the documentation is wrong somewhere, or is this a case of the step is there and you just missed it?

[2022-10-17 01:25] geekygirlsarah commented on #577
Also assigned you as it sounds like you wanted it!

[2022-10-17 01:42] geekygirlsarah commented on #591
Dang, you're finding all the problems! Good catch!

My "replace across all files" search in PyCharm found this in 2 files, so it's probably not a hard fix in reality. Do you want this issue? Otherwise I can probably fix it tonight.

[2022-10-17 01:45] #577 closed, assigned to monkeywithacupcake

[2022-10-17 01:52] #480 closed, assigned to TomReilly1

[2022-10-17 01:59] cafce25 commented on #564
Oof I just posted a PR to codethesaurus/unassign-issue cause I did not see this and the action already was pointing there.
Feel free to just ignore that if @wroblewskialex has a solution ready.

[2022-10-17 02:42] monkeywithacupcake commented on #577
This is a case of the documentation doesn't tell you that you need to make a version folder
See [Docs issue #32](https://github.com/codethesaurus/docs/issues/32)

[2022-10-17 02:43] monkeywithacupcake commented on #591
I'll do it. I feel committed to killing this typo.

[2022-10-17 08:38] chetan-satpute commented on #534
May I work on this issue ?

[2022-10-17 11:41] LittleBigProgramming commented on #504
Still working on this!

[2022-10-17 12:39] LittleBigProgramming commented on #487
@geekygirlsarah When trying to use the local memory caching with the following settings:

[code]

I am getting this, presumably being the queryset is being stored and not being able to be parsed out.

![Screenshot 2022-10-17 at 13 28 29](https://user-images.githubusercontent.com/20643587/196177071-39de76dd-328f-4814-8127-740cecdf486e.png)

I managed to get site wide caching (https://docs.djangopro

[2022-10-17 13:46] geekygirlsarah commented on #564
Thanks. I might see them tonight at a local Hacktoberfest event and can ask!

[2022-10-17 13:48] #591 closed, assigned to nobody

[2022-10-17 13:49] geekygirlsarah commented on #534
@Chetan-Satpute yeah, I'll assign you. Read over the docs and let me know if you have any questions!

[2022-10-17 14:16] geekygirlsarah commented on #504
Great!

[2022-10-17 14:21] #504 closed, assigned to LittleBigProgramming

[2022-10-17 15:12] Nekros1712 commented on #544
@geekygirlsarah  can you assign this issue to me

[2022-10-17 16:04] geekygirlsarah commented on #487
Uh... I'm not sure. I can look into it, but what's the default that's not a `FileBasedCache`? I wonder if it makes sense since Heroku's instances are ephimeral, so the caches may not last if they're stored on a file system. Database-based one?

[2022-10-17 16:50] LittleBigProgramming commented on #487
The default that isn't is https://docs.djangoproject.com/en/4.1/topics/cache/#local-memory-caching. That is the one which throws the error. It also says

The file based one would belong on the Heroku instance for it's lifecycle. Which if you use one instance and it creates another would cache on the first visit pointed to that new instance. (As far as I know).

The other options are Redis, Memcach

[2022-10-17 16:52] LittleBigProgramming commented on #410
Would like to pick this up please! 🙌

[2022-10-17 17:06] geekygirlsarah commented on #410
Sure, it's yours! You know the drill.

[2022-10-17 17:55] ulyssear opened #595 "[Javascript] Add input/output"
# Description

Add "input/output" concept for javascript (ECMAScript 2009, 2020, 2021 and 2023)

# Directions

Same directions than issues about adding a concept (#583 for example).

# Additional Information

I can work on this issue. As I started Hacktoberfest with this repository, I'm enjoying it ^^

[2022-10-17 18:02] srigundeti10 commented on #582
@geekygirlsarah so sorry but i am unable to do it
sorry

[2022-10-17 18:02] srigundeti10 commented on #582
Hope someone more deserving gets it :)
All the best everyone :)

[2022-10-17 21:54] geekygirlsarah commented on #544
Yeah @Nekros1712! Look over the docs and let me know if you have any questions!

[2022-10-17 21:55] geekygirlsarah commented on #595
Sounds good @ulyssear, I'll assign you!

[2022-10-17 21:55] geekygirlsarah commented on #582
That's ok @srigundeti10, sometimes it happens. Thanks for trying!

[2022-10-18 00:24] pythoninthegrass commented on #590
Not your first rodeo, eh? 😎

Appreciate the swift response! I'll open a PR this week.

[2022-10-18 01:29] pythoninthegrass commented on #590
Done! #600

[2022-10-18 03:40] srigundeti10 commented on #582
😊😊thankyou so much you are so caring

[2022-10-18 09:37] ulyssear commented on #595
I began the issue today and I'm confused about some points (see below).

![image](https://user-images.githubusercontent.com/11415595/196392696-4e98d782-5da9-4580-9216-6c455fe36337.png)

Firstly, JavaScript syntax highlighting is either uninteresting or incomprehensible.
In the screenshot shown, only two keywords are colored ("const" and "delete"), and the "delete" method, due to the keyword, is th

[2022-10-18 11:46] cafce25 commented on #595
You're right about the highlighting but I think it's hard to get better automated highlighting cause the snippets of code are so short and there is almost no context. Although your string is highlighted as well, but since we're just using the default `pygments` colorscheme that's barely noticeable.

I've created #602 to track the syntax issue

I think websockets should go into their own concepts,

[2022-10-18 11:51] cafce25 opened #602 "Improve Syntax highlighting"
# Expected Behavior

Syntax highlighting does a good job and highlights strings, variables, function/method calls,

# Actual Behavior

Only a few keywords and strings are highlighted, the strings barely noticable.
![bad highlight example ](https://user-images.githubusercontent.com/11415595/196392696-4e98d782-5da9-4580-9216-6c455fe36337.png)

# Steps to Reproduce the Problem

1. Visit any reference

[2022-10-18 12:36] rsk2 opened #603 "Operands and certain operators missing for C#"
# Expected Behavior

When comparing C# operators with any other language, the code should contain operands

It should contain the available C# logical operators

It should contain the available C# bit-wise operators

# Actual Behavior

The operands, logical operators and bitwise operators are missing

# Steps to Reproduce the Problem

1. Go to code thesaurus main page.
2. In the learn a language t

[2022-10-18 13:24] geekygirlsarah commented on #603
Ah yeah, I think those operators were added as an operators version 2, but the language was added before the changes were so it left this hole. Thanks for catching!

[2022-10-18 13:46] geekygirlsarah commented on #536
@TrainedPro is still working on this, commenting to leave active.

[2022-10-18 13:50] #590 closed, assigned to pythoninthegrass

[2022-10-18 13:51] geekygirlsarah commented on #582
Thanks! I try. Also found people are donating their time for free, and it's for a side project I don't make money off of (in fact I pay for hosting), so I'm just happy people like the tool and are willing to help make it better. I don't have time to add all the languages to it!

[2022-10-18 13:56] geekygirlsarah commented on #595
For the syntax highlighting, aside from fixing it in the [Pygments](https://github.com/pygments/pygments) project or finding a new highlighter, I'm not sure what we can do. I definitely do NOT recommend making a new highlighter, lol.

As for Websockets, I think it crossed my mind but I dismissed it thinking it was only a JavaScript thing, but I guess you implement the other side in whatever langua

[2022-10-18 13:59] geekygirlsarah commented on #602
I think like you mentioned, some of it is we have code snippets and not full pieces of running code, so their highlighters might not fully know everything to highlight.

3/4 are outside of the scope of a ticket here. We can see if anyone wants to look into 1/2.

[2022-10-18 14:03] geekygirlsarah commented on #590
Nope. I think it's the 4th (?) Hacktoberfest CT has been in? The first year was just me. 2nd had about 15 PRs, 3rd about 71 PRs, and this year is 35 PRs so far. And I haven't heard of anyone not getting credit for contributions here yet, but I'd also reach out to the mods of Hacktoberfest too if someone got turned down. (I've had to talk to them before last year, they're fairly good people.)

[2022-10-18 14:18] srigundeti10 commented on #582
All the best 😊

[2022-10-18 14:41] cafce25 commented on #264
I'm gonna take a stab at this.

[2022-10-18 14:43] Nekros1712 commented on #544
heyy @geekygirlsarah i'm not able to get template json for queue and stacks for golang. Can you guide me how can i?
I tried to follow 1st and 2nd step of directions but i'm not able to select golang in languages in reference sheet side

[2022-10-18 15:04] pythoninthegrass commented on #590
Color me impressed! I trust your informed judgment haha
________________________________
From: Sarah Withee ***@***.***>
Sent: Tuesday, October 18, 2022 9:03:59 AM
To: codethesaurus/codethesaur.us ***@***.***>
Cc: pythoninthegrass ***@***.***>; Assign ***@***.***>
Subject: Re: [codethesaurus/codethesaur.us] [Python] Missing info on Python strings (Issue #590)

Not your first rodeo, eh? 😎

Nope. I

[2022-10-18 16:06] cafce25 commented on #544
Right, that got broken by #496 you can get the template [here](https://codethesaur.us/reference/?concept=queues_stacks&lang=go%3B1)

[2022-10-18 16:29] cafce25 opened #605 "Template generation on codethesaur.us is not reachable anymore"
# Expected Behavior

I can select language, version and structure triples that are not available yet as reference to generate a template.
The button should change from `Go ->` to `Generate Template`

# Actual Behavior

When a structure is selected all (language, version) tuples that do not provide info for the structure are disabled and cannot be selected any more.

# Steps to Reproduce the Proble

[2022-10-18 16:31] cafce25 commented on #605
As a workaround for now you can visit `https://codethesaur.us/reference/?lang=<language>%3B<version>&concept=<structure>` to still generate a template or use `python manage.py generate_templates --language_version=<language_version> <language> <structure>` from within the docker container

[2022-10-18 16:36] Nekros1712 commented on #544
Yep, got it! Thanks

[2022-10-18 17:04] geekygirlsarah commented on #605
Yeah, I meant to file this yesterday as a friend realized they didnt' have a good way to make a new one. I'm wondering if something like a dropdown of concept and language either in the blue box at the bottom of the home page, or something on the Contribute page could maybe show the previous generated template that used to be there?

[2022-10-19 00:57] geekygirlsarah commented on #564
@wroblewskialex can you fix this up in the next day or so? Otherwise I may need to take it over so it weird posting incorrect messages to people.

[2022-10-19 08:30] ulyssear opened #609 "[Javascript] Add missing concepts for ECMAScript 2009 and 2023"
# Language

Javascript (or to be more precise, ECMAScript 2009 and ECMAScript 2023)

# Missing concepts

These concepts have to be added via PRs :

- [x]  Control Structures
   - #613
- [x] Data Types
   - #608
- [x] Exception Handling
   - #614
- [x] Functions, Methods, and Subroutines
   - #630
- [x] Logical and Mathematical/Arithmetic Operators
   - #631
- [x] Queues and Stacks (neither ECMAScr

[2022-10-19 17:50] geekygirlsarah commented on #264
Great, @cafce25 !

[2022-10-19 17:50] geekygirlsarah commented on #590
Just let me know if you don't see it in the dashboard, @pythoninthegrass !

[2022-10-19 17:52] #264 closed, assigned to cafce25

[2022-10-19 17:53] geekygirlsarah commented on #549
Commenting as PR #552 is still open.

[2022-10-19 17:55] geekygirlsarah commented on #609
The "epic" issue for this works for me!

[2022-10-20 10:42] gutogalego commented on #603
Found the issue, I'll fix it today.

[2022-10-20 18:59] LittleBigProgramming commented on #487
@geekygirlsarah I've been thinking if it runs on one instance then File Based Caching might be okay for the per site caching.

Or would you rather I looked into the database caching?

I'm not familiar with the infrastructure of the app so I'm happy to follow your lead! 😄

[2022-10-20 21:40] xomiamoore commented on #571
I'm gonna take a look this weekend and see! Sorry for the delay @geekygirlsarah :)

[2022-10-21 03:01] geekygirlsarah commented on #603
Great! I'll assign to you.

[2022-10-21 03:02] jeff303 opened #617 "Java missing absolute value"
# Language

Java (all versions)

# Wrong Field(s)
1. _Absolute value operator_  under _Operators_

The language itself doesn't provide a built-in operator, but it's part of the core JDK, which is close enough.

[2022-10-21 03:04] geekygirlsarah commented on #571
That's fine. I'll assign you! Let me know if you have any questions. There's also docs that shows how to add a new language too!

[2022-10-21 03:05] geekygirlsarah commented on #617
Yeah, if there's a function to do it, that counts too!

[2022-10-21 03:10] jeff303 opened #619 "[Java] Missing bitwise and logical operators"
# Language

Java (all versions)

# Wrong Field(s)
1. _Bitwise AND operator_
1. _Bitwise OR operator_
1. _Bitwise NOT operator_
1. _Bitwise XOR operator_
1. _Logical AND operator_
1. _Logical OR operator_
1. _Logical NOT operator_

These are all supported in Java, with almost the same syntax as in C-style languages.

[2022-10-21 03:10] #617 closed, assigned to nobody

[2022-10-21 03:11] jeff303 opened #620 "Java missing logical operators"
# Language

Java (all versions)

# Wrong Field(s)
1. _Logical AND operator_
1. _Logical OR operator_
1. _Logical NOT operator_

These are all supported in Java with syntax almost identical to C-style languages.

[2022-10-21 03:24] jeff303 opened #622 "Clojure language version is not listed correctly in directory structure"
# Language

Clojure

# Additional Information

Because of the directory structure (wherein the Clojure directory has only a subdirectory named `1`), the version that appears in the UI is not correct ("Clojure 1"), even though the `language_version` listed within the inner JSON files is correct.

Should probably give this a wildcard type name that is more correct (such as `1.x`).  Will have to chec

[2022-10-21 03:29] jeff303 opened #623 "Java missing lists/collections entry"
# Language

Java (all versions)

# Additional Information

Java could use the `lists.json` file filled in, since it has support for most of the collection types included here.

[2022-10-21 04:44] #536 closed, assigned to TrainedPro

[2022-10-21 04:54] #587 closed, assigned to ayaan-qadri

[2022-10-21 04:58] #595 closed, assigned to ulyssear

[2022-10-21 16:26] rsk2 commented on #433
Hi @geekygirlsarah, can I work on this?

[2022-10-21 17:34] cafce25 commented on #623
This is just a duplicate of #286 where somebody else is assigned.

[2022-10-22 09:13] ulyssear opened #628 "[Minor feature] Get the template of a concept from the compare page"
# Description

Add a link, like the current link "Want to add or correct information for ____?", which permits the user to get the whole template of a concept.
With this feature, the user can easily update the concept from the template if needed.

# Requirements

* Add a link "Want to get an empty template of this concept?" which generates a template or redirects to a raw file of the template (lik

[2022-10-22 14:28] monkeywithacupcake commented on #628
cool idea

[2022-10-22 14:57] geekygirlsarah commented on #619
Adding in data from #620 as they're similar issues that affect the same language and files.

[2022-10-22 14:57] geekygirlsarah commented on #620
I'm going to combine this issue with #619 because they're all in the same file and update the same language. So I'm going to close this ticket in favor of the larger #619.

[2022-10-22 14:57] #620 closed, assigned to nobody

[2022-10-22 15:16] geekygirlsarah commented on #622
This sounds similar to the versioning on Rust, which only has one major version (v1) but multiple minor versions (v1.x), and each additional version is adding features or updating old ones. I think for consistency, as well as ease of maintainability (it's hard enough to even just get one minor language in here, the maintainability of _every_ one would just be too much for a side project), I'm goin

[2022-10-22 15:16] #622 closed, assigned to nobody

[2022-10-22 15:25] geekygirlsarah commented on #433
Yep, I'll assign you! You know how this works at this point!

[2022-10-22 15:28] geekygirlsarah commented on #623
True. I'll go ahead and close this.

That person requested it 14 days ago and I haven't seen a PR yet, so what I can do is shift your PR to point to 286. If they don't make a PR and the bot unassigns them in a couple of days, I'll review yours, @jeff303 .

(for now, closing this issue as a duplicate.)

[2022-10-22 15:28] #623 closed, assigned to nobody

[2022-10-22 15:30] geekygirlsarah commented on #286
Noting that @jeff303 made issue #623 (a duplicate of this one) and made a PR on that (#625) not knowing this was already assigned.

@natEth It's been about two weeks since you took on this issue. Are you able to complete it? I'll probably unassign you in a couple of days if not.

[2022-10-22 15:34] geekygirlsarah commented on #617
I'm reading #619 and #620 and this are all essentially the same issue as they're the same language in the same file and probably could have had one PR to fix them all.

[2022-10-22 15:39] geekygirlsarah commented on #628
This sounds closely related to #605, though I guess different enough it makes sense. Though the problem is you wouldn't land on this page without picking an existing language/concept because the home page blocks it. You could get to it through URL hacking, but at that point if you want the template, you could just get it through something like #605.

If the information was there, what would the te

[2022-10-22 15:42] geekygirlsarah commented on #487
Yeah, it runs on one instance, but that instance is destroyed after every PR added in. So like today it might get destroyed after 2-3 PRs that I merge in. During slower months, the cache would build up. During October, the file-based cache probably wouldn't help much.

I am thinking the DB caching might make more sense. Local development uses SQLite, production uses Heroku. Either way, Django know

[2022-10-22 16:14] #534 closed, assigned to chetan-satpute

[2022-10-22 17:18] ulyssear commented on #628
I updated the PR, I think it will be better now!
I replaced the link to the raw file in GitHub with a link showing the modal showing the whole template (which is a merge between the empty template and the current template).

[2022-10-22 22:41] natEth commented on #286
@geekygirlsarah you can reassign it if someone already worked on it.

[2022-10-23 13:21] ulyssear opened #635 "Update generate_template function and add UI for incomplete file"
# Description

~~Add a `draft` key in the meta of a thesaurus to add a draft version of the thesaurus.~~

A new command `generate_missing_template` executes the command `generate_template` for each missing thesaurus.

~~Also, add the argument `draft` for the command `generate_template` and function `generate_language_template`.~~

And finally, an alert on "compare" and "reference" warns about the

[2022-10-23 18:00] Shreya-7 commented on #602
@geekygirlsarah I wouldn't mind looking into 1/2!

[2022-10-23 18:11] cafce25 commented on #602
While you're at 1 maybe you can include a way the user can decide which colorscheme is used,
that way we don't have to decide (we can't anyways) what they can read.

[2022-10-23 18:30] cafce25 commented on #635
Honestly, I'm failing to see what usecase a dedicated draft mode has in the current mode of only being able to create new concepts via PR, as long as they are not merged, they're a 'draft' after that, I think we trust the data is correct (as far as we can tell) and should display it as such. A note & call to contribute in case some structure file is incomplete would be nice though.

[2022-10-24 05:52] Shreya-7 commented on #602
@cafce25 Hmm, that makes sense. I can start looking into the basic asks here, and when I'm done I can try to implement this new functionality..

Couple more questions about it though:
1. Are we talking about something like a dropdown on the reference page that the user can choose from?
2. Would we allow the user to choose a scheme that would be applied globally or on every reference page? Say, if

[2022-10-24 06:28] cafce25 commented on #602
The main reason why I bring this up is because I don't think 1 can be solved by us alone.

I'd say anything that you come up with is fine.

I think supporting a single global setting is good enough.

Definitely persist it, but since it's a local change that we don't need to know of or care for imo just putting it in their local store or saving it in a cookie should be fine.

[2022-10-24 09:29] ulyssear commented on #635
Thanks for your review !
I agree with your point of view but as a call for contribution, I think it's a good solution: the (future) contributors will only have to click on the "Help us improve" link to add content in empty templates, like the current link leading to GitHub.
Especially since we can consider another use case: specifying that a thesaurus is incomplete, even if it is not empty. What d

[2022-10-24 09:38] ulyssear commented on #541
I'll take over this issue: in the current PR, ECMAScript versions 2009 and 2023 are missing (added with #569 ) and some entries require changes.

[2022-10-24 19:09] Shreya-7 commented on #602
Got it. I think I have all I need to get started.

[2022-10-24 20:06] jeff303 opened #638 ""Bitwise AND and assignment operator" not rendered properly in a few languages"
# Language

- C# 9
- ECMAScript 2020
- ECMAScript 2021

# Wrong Field(s)
1. `Bitwise AND and assignment operator`

# Additional Information

The information is present for these languages, but the key is misspelled (probably a copy/paste error across).

# Disclaimer
Will claim this one.

[2022-10-24 23:30] geekygirlsarah commented on #286
Alright, I'll let @jeff303 have it. You can pick something else if you want, @natEth !

[2022-10-24 23:32] #286 closed, assigned to nobody

[2022-10-24 23:41] geekygirlsarah commented on #635
You know...  I don't like the draft flag mostly because I think it should just be researched when it's added. Also mistakes happen, but they can be corrected.

But I DO like the idea that if there's pieces missing, a box shows up warning it's incomplete. There's been times we've updated the meta files and the language files haven't had the updates. So this would be where maybe I could see the inco

[2022-10-25 13:34] geekygirlsarah commented on #533
There's a PR open so commenting so the bot doesn't unassign.

[2022-10-26 10:15] Ranjana-Kambhammettu commented on #282
I am still working on this, was caught up in some academic work

[2022-10-27 01:41] RuggMatt opened #642 "`docker-compose up` fails with latest python release"
# Expected Behavior
`docker-compose up -d` builds and starts the container successfully

# Actual Behavior
Fails with errors
<details>
  <summary> Logs</summary>

[code]
</details>

# Steps to Reproduce the Problem

1. Run `docker-compose up --build --pull -d` (build and pull ensure you have the latest Docker images

# Additional Info
Reverting the Dockerfile to use ` python:3.10-slim` seems to fi

[2022-10-27 03:44] #410 closed, assigned to LittleBigProgramming

[2022-10-27 03:49] geekygirlsarah commented on #282
That's fine. The bot will keep checking every 14 days/2 weeks.

[2022-10-27 03:50] geekygirlsarah commented on #642
Assigning you as you've already started it!

[2022-10-27 05:52] rsk2 commented on #433
Hi @geekygirlsarah, I have created a PR for this

[2022-10-29 00:27] geekygirlsarah commented on #433
Yep, I see that. I get email notifications for all PRs and issues.

[2022-10-29 00:28] geekygirlsarah commented on #292
Commenting as a PR is open for this.

[2022-10-29 14:43] #642 closed, assigned to RuggMatt

[2022-10-29 15:30] #638 closed, assigned to jeff303

[2022-10-29 17:26] #406 closed, assigned to Shreya-7

[2022-10-29 18:53] geekygirlsarah commented on #635
So pondering on it a bit more... I do NOT like draft mode and think it should not be a thing.

However, I'm still ok with adding a thing to the UI at the top of the file saying that concept+language+version is incomplete and they can contribute.

Also this is now VERY close to functionality of #605 and #628 (PR #629).  So let's make this issue JUST the UI part of it and the generator command, and

[2022-10-29 19:12] geekygirlsarah commented on #602
I'll still watch over #641 but I'm wondering if this feature is starting to get a bit wild and outside of scope of something that makes a lot of sense to maintain. Pygments is designed to highlight really large segments of code and we don't really use them here. And I don't know that adding in a ton of settings for something so simple really seems worth the effort.

[2022-10-30 00:50] geekygirlsarah commented on #96
Did you still want this, @kodykodec?

[2022-10-30 01:11] arrkyn commented on #96
Yes please

[2022-10-30 06:54] Ash-394 commented on #546
Still working on this. Need more time please. Thanks!

[2022-10-30 18:53] ulyssear commented on #635
@geekygirlsarah The PR has been updated!

[2022-10-31 02:05] geekygirlsarah commented on #558
Leaving a comment as I said I'd return to this and haven't yet.

[2022-10-31 22:13] geekygirlsarah commented on #564
@wroblewskialex I'm going to take this over as I really need this updated. You're welcome to take on another issue if you're interested!

[2022-10-31 22:41] geekygirlsarah commented on #564
Fixed with [codethesaurus/unassign-issues-bot#fec46824b2acd69b012edb5db2101399019be0b6](https://github.com/codethesaurus/unassign-issues/commit/fec46824b2acd69b012edb5db2101399019be0b6) and https://github.com/codethesaurus/codethesaur.us/commit/6bb8d0ee450aca677dad6b2499e30d8648970780

[2022-10-31 22:41] #564 closed, assigned to geekygirlsarah

[2022-11-01 02:20] cashew69 opened #650 "Adding bitwise operators to java 11,15,17. Including operands in code."
### Description

I have wrote changes already, in my repository how do i proceed next.

[2022-11-01 02:33] #650 closed, assigned to nobody

[2022-11-01 02:34] cashew69 commented on #650
My bad, pull request and commits for this issue already exists. new to git-hub and git

[2022-11-01 04:18] cafce25 commented on #527
I'm gonna take a look at this.

[2022-11-01 17:33] cafce25 opened #653 "Improve exception_handling structure to allow for 'return' based exception handling."
# Expected Behavior

The exeception handling structure is useful for all kinds of exception handling.

# Actual Behavior

Exception handling as it currently is implemeneted is only useful for 'try…catch' style exception handling.
If you try to implement the structures that use a 'return based' exeption handling like Rust or Haskell none of the available
concepts apply.

# Steps to Reproduce the Pr

[2022-11-01 17:34] cafce25 commented on #413
Blocked on #653

[2022-11-01 17:35] cafce25 commented on #405
Blocked on #653

[2022-11-01 19:59] cafce25 commented on #269
Forgot to send my last message, I'm about to create a PR for this.

[2022-11-01 20:34] cafce25 commented on #422
On it.

[2022-11-02 00:25] cafce25 commented on #497
I think we should wait with this until #527 is resolved, that way we don't have to touch this afterwards again.

[2022-11-04 15:59] geekygirlsarah commented on #558
I guess this is fine to leave in, however, I'd like the `validatelanginfofiles` command and GitHub Action to reflect this. Would you mind updating that too? It's in `web/management/commands/validatelanginfofiles.py`

[2022-11-04 16:31] #433 closed, assigned to rsk2

[2022-11-04 16:57] #541 closed, assigned to ulyssear

[2022-11-04 16:57] #609 closed, assigned to ulyssear

[2022-11-04 20:19] pulgamecanica commented on #558
Right now I am unable to code, because I don't have a computer with me, I had to travel to Mexico because my grandma died, so I've been mourning her.
I do have one question though so I can think about this subject:

In which way should it be changed?

We have proposed a few ideas.
- Make the code always mandatory when the concept is valid regardless if there is comment or not.
- Make the code mand

[2022-11-06 03:15] geekygirlsarah commented on #487
Commenting as PR is still open.

[2022-11-07 16:59] akkshayTandon commented on #619
Assign it to me , I will update it.

[2022-11-08 18:43] geekygirlsarah commented on #619
Closed as this was done in #621

[2022-11-08 18:43] #619 closed, assigned to nobody

[2022-11-08 18:51] #527 closed, assigned to nobody

[2022-11-08 18:57] #269 closed, assigned to nobody

[2022-11-08 18:59] #422 closed, assigned to nobody

[2022-11-09 15:57] geekygirlsarah commented on #533
There's a PR open so commenting so the bot doesn't unassign.

[2022-11-10 04:11] geekygirlsarah commented on #603
This was fixed in #603 but didn't close because it was linked wrong. This issue is done.

[2022-11-10 04:11] #603 closed, assigned to gutogalego

[2022-11-10 05:21] geekygirlsarah commented on #533
Are you still wanting this, @colindean ?

[2022-11-11 09:50] ulyssear commented on #628
If there is something to fix (or add) to merge the PR / close this issue, I'm still available !

[2022-11-12 03:47] geekygirlsarah commented on #292
PR is open and waiting changes

[2022-11-12 15:51] colindean commented on #533
Yeah, but someone else is welcome to take it if I don't finish it first.

[2022-11-14 02:45] #628 closed, assigned to ulyssear

[2022-11-14 02:47] geekygirlsarah commented on #602
I'm going to ask another friend or two what they think, so commenting to leave this open.

[2022-11-14 02:48] geekygirlsarah commented on #96
Commenting to leave open due to draft PR

[2022-11-14 02:48] geekygirlsarah commented on #546
Commenting to leave open longer.

[2022-11-14 02:51] geekygirlsarah commented on #282
I'll reassign and comment to leave open a little longer.

[2022-11-14 05:25] Ranjana-Kambhammettu commented on #282
Thank you! I'll complete this by the end of this month.

[2022-11-19 01:44] geekygirlsarah commented on #558
Commenting to leave this open.

Let's go ahead with it. If code _or_ comment is there, it's not "unknown". One of them has to exist and can't be empty (empty string).

[2022-11-20 14:37] geekygirlsarah commented on #487
Commenting as PR is still open and I haven't tested it yet

[2022-11-23 10:26] pulgamecanica commented on #426
Srry for not updating this, I'll see how I can finish this soon!

Wrong issue... I meant it for the Ruby operators...
Cheers.

[2022-11-23 10:27] pulgamecanica commented on #308
This one here, I'll see if I can finish it soon ;)

[2022-11-23 17:16] geekygirlsarah commented on #308
Oh I guess I never assigned you. Problem solved!

[2022-11-23 17:17] geekygirlsarah commented on #426
That's alright! (You can always delete comments too)

[2022-11-23 18:25] pulgamecanica commented on #426
I don't like much to delete comments because you might recieve an email about someone saying something and then you can never find it hahaha

[2022-11-23 18:27] pulgamecanica commented on #308
Thanks ;)

[2022-11-23 18:30] geekygirlsarah commented on #426
Alright, that's fair too!

[2022-11-26 15:01] geekygirlsarah commented on #292
Unassigning as I closed the PR for inactvity.

[2022-11-28 15:05] geekygirlsarah commented on #602
I'll comment to leave this open.

I closed the PR due to inactivity from @Shreya-7. I'm open to continuing discussions on this, but kind of thinking a solution might be dramatically more effort than is worth given how CT works.

[2022-11-28 16:55] Shreya-7 commented on #602
Not sure what's waiting on me here, I thought we were getting second opinions from other folks? Do let me know if that's not the case or if I'm missing something!

[2022-11-28 18:26] geekygirlsarah commented on #602
There was more recent discussion on the PR than on here, and there were still open questions there that never got answered.

[2022-11-29 18:02] Shreya-7 commented on #602
Got it, if the functionality on the PR seems a bit overkill maybe we can just replace the current colour scheme with a better one and call it a day?

The way I think the scheme is implemented in CT is that the CSS file was manually generated locally, referenced in the HTML and added to the repo. We can do the same for the new one that I had selected. Does that sound good?