[2016-08-20 15:16] geekygirlsarah opened #1 "Add license"
Choose license for the project

[2016-08-20 15:17] geekygirlsarah opened #2 "Add code of conduct"
The project should have a code of conduct to show how people should interact while working on Code Thesaurus

[2016-08-20 15:32] geekygirlsarah opened #3 "Add Waffle badges to readme"
Add the code so the badges update automatically on readme.md

[2016-08-21 20:08] geekygirlsarah opened #4 "Add documentation for new people"

[2016-08-21 21:41] geekygirlsarah commented on #1
Commit https://github.com/codethesaurus/codethesaur.us/commit/4b4510021e54c9162da51f1c6d546b29bba713d8

[2016-08-21 21:41] #1 closed

[2016-08-23 04:52] geekygirlsarah opened #5 "Frontend: Mockup design and functionality"

[2016-08-23 04:53] geekygirlsarah opened #6 "Frontend: Choose framework(s), if desired"

[2016-08-23 04:54] geekygirlsarah opened #7 "Frontend: Basic layout of one language's features"

[2016-08-23 04:55] geekygirlsarah opened #8 "Frontend: Basic layout of multiple languages' features"

[2016-08-23 05:04] geekygirlsarah opened #9 "Backend: Design REST interface"

[2016-08-23 05:06] geekygirlsarah opened #10 "Backend: Design database"

[2019-11-02 01:59] geekygirlsarah opened #11 "Add CONTRIBUTING.md"
Show how people can contribute

[2019-11-02 02:02] geekygirlsarah opened #12 "Revisit CODE_OF_CONDUCT.md and CODE_OF_CONDUCT_REPORTING.md"
Revisit these to make sure they're up to par from last year's creation.

[2019-11-02 02:04] geekygirlsarah opened #13 "Add PR guidelines"
Create template files that will show up when someone submits a PR.

[2019-11-02 02:05] geekygirlsarah opened #14 "Add architecture document"
Add a document to explain how the architecture of the system works (or will work).

[2019-11-02 04:06] geekygirlsarah opened #15 "Add another couple of concepts to thesauruses"
Maybe add some files for functions and classes to help give some more dimensions to how the product will work.

[2019-11-02 04:08] geekygirlsarah opened #16 "Have welcome/home page auto-populate concepts/languages"
Right now they're static but as the thesauruses get split out from the app, they'll need to be more dynamic

[2019-11-02 04:11] geekygirlsarah opened #17 "Feature: Create language repos for thesauruses"
1) Create repos (`lang-xyz`) for each language and create submodule in main repo to link to it?
2) Create repo (`ct-langs`) for all of the language data, add scripts to help validate them, create submodule to main repo to link it?

Sarah to think on this...

[2020-09-24 21:27] geekygirlsarah commented on #14
Added to wiki!

[2020-09-24 21:27] #14 closed, assigned to geekygirlsarah

[2020-09-24 21:40] geekygirlsarah opened #21 "Feature: Work on home page design"
**Description:**
The home page of CT has a basic Bootstrap setup but it's not really well done. It's technically "responsive" but isn't really set up for great mobile viewing. I'd like to see this either redesigned entirely or have some of the issues fixed so it works a little better.

**Requirements:**:
* Has the main navigation bar have both a Home and About page. This menu will need to grow as

[2020-09-24 21:48] geekygirlsarah opened #22 "Feature: Work on "Learn a Language" and "Reference Sheet" pages"
**Description**:
The Learn a Language and Reference Sheet pages of CT have a basic Bootstrap setups but it's not really well done. It's technically "responsive" but doesn't format the pages in a way that makes it easy to read or keeps the data together correctly when viewed on a mobile device. I'd like to see this redesigned entirely or fixed in a way that resolves these issues.

**Requirements:**

[2020-09-24 21:54] geekygirlsarah opened #23 "Feature: Add unit tests for Django"
**Description:**
This project has kind of been thrown together over past Hacktoberfests and on Sarah's free time. It's not really had tests added to it because of it's sort of hacky nature. I'd like to have unit test get added in to ensure old features continue to work and new features won't break the site when they go live.

**Requirements:**
* Add some tests for the views
* Add some tests for th

[2020-09-28 21:53] geekygirlsarah opened #25 "Remove nested `id` from thesauruses"
A sub-concept in the data files has a `id` field inside of the object that also has an `id`. This can be removed.

[2020-09-28 22:02] geekygirlsarah opened #26 "Add loop for categories on compare/reference views"
I took out the categories loop while on the Symfony->Django conversion. I should add that back in.

[2020-09-28 22:12] geekygirlsarah opened #27 "Feature: Convert non-existent language items from `null` code to empty object"
Inside of a language item, code was `null` to symbolize it didn't exist in the language. This could just be an empty object (i.e. `integer_32_bit: {}`).

Update JSONs and code for this.

[2020-09-29 20:39] geekygirlsarah opened #28 "Feature: Add New Issue templates"
I would like a templates so when one creates an issue, you can choose from a bug report or a feature enhancement. This will make it easier and more consistent for me to add new things for others, but also for others to add new issues too.

See: https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/about-issue-and-pull-request-templates on how to do it

Ideas of templat

[2020-09-30 19:57] mysticknits commented on #28
I can take this one if still needed!

[2020-09-30 20:02] geekygirlsarah commented on #28
@laurenamy let me know if you have any questions! My issues haven't had much of a template, but #23 is probably a format I've come closest to. But the ideas link above should be good.

If there's no updates in about a week (so Oct 7), I might take you off the issue.

[2020-09-30 20:04] BergFulton commented on #21
This seems like something I can work on 🤩

[2020-09-30 20:05] geekygirlsarah commented on #21
It's yours @BergFulton ! Let me know if you have any questions or want to work together on it.

If there's no updates in about a week (so Oct 7), I might take you off the issue.

[2020-10-01 05:23] Arodriguez340 commented on #23
Hi, I would like to contribute. I have basic experience in Django, and also in open source; however, I would like to help as much as I can.

[2020-10-01 12:39] geekygirlsarah commented on #23
Hi @Arodriguez340! Yeah, I'd be happy to have the help! Presently I think the develop branch is _still_ PHP but I was working on its Django conversion this week and will probably push the PR today. So maybe in a couple of hours I'll wrap up the last bug and push that in, and you can work on that.

Sound good? Let me know if you have questions.

[2020-10-01 14:16] Arodriguez340 commented on #23
That sounds great. I'll be waiting for it, If I have any question I'll let you know.

[2020-10-02 01:54] geekygirlsarah commented on #23
The Django conversion is now merged into `develop`! Go have fun!

[2020-10-04 17:12] geekygirlsarah opened #31 "Revise README.md so it reflects correct directions to run Django"
The `README.md` file shows how to run the newer Django framework, but some have said it's not correct and there's steps missing.

Please modify the `README.md` file so it has easy-to-follow and complete directions for newer people. (For things like "install Python" you can reference other URLs, but if it's specific to this repo, please be descriptive.) It should be accurate enough for beginners to

[2020-10-04 17:15] colindean commented on #31
Taking this one

[2020-10-04 17:17] #31 closed, assigned to colindean

[2020-10-04 17:20] geekygirlsarah commented on #31
Closed from PR #32

[2020-10-04 17:54] colindean commented on #16
Taking this

[2020-10-04 18:06] colindean commented on #27
I _think_ this already works? https://github.com/codethesaurus/codethesaur.us/pull/34/files#diff-0390e01eb8c66734c21151cb8f4dae7dR38 seems to work?

[2020-10-04 18:09] mishugana opened #35 "Footer is not displaying properly"
Displaying in the middle of the page

[2020-10-04 18:53] #35 closed, assigned to mishugana

[2020-10-04 18:53] #16 closed, assigned to colindean

[2020-10-04 19:05] geekygirlsarah opened #39 "Add New Pull Request template"
I would like a template so when one makes a new pull request, it's more of a form to fill out and can have some consistency and make it easy for myself or future maintainers to review.

See: https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/about-issue-and-pull-request-templates

Ideas of templates:
- https://github.com/forem/forem/blob/master/.github/PULL_REQUEST_

[2020-10-04 19:16] Utwo commented on #39
I can help on this one

[2020-10-04 19:18] geekygirlsarah commented on #39
Sweet! I'll let you have at it, @Utwo ! If there's no updates in about a week (so Oct 11), I may take your name off of it.

[2020-10-05 10:14] vaibhvshrma commented on #27
Hey @geekygirlsarah,
Wonderful idea behind the project. Could you assign the issue to me? I will make the required changes.
Thanks!

[2020-10-05 12:59] vaibhvshrma opened #42 "/compare/ throws a KeyError in develop branch"
The /compare/ end point throws a key error. This is reproducible for multiple different language choices, few examples I tried out was Java and C++, C++ and C#.

[2020-10-05 13:02] vaibhvshrma commented on #42
Hey @geekygirlsarah, I am raising a PR for this.

[2020-10-05 16:11] #39 closed, assigned to Utwo

[2020-10-05 16:18] geekygirlsarah commented on #27
@vaibhvshrma I have already started working on it but haven't pushed changes yet, mostly because my changes fix 3 issues at the same time (which is why I went ahead and grabbed them myself). I appreciate the enthusiasm though, thanks!

[2020-10-05 20:27] geekygirlsarah opened #44 "Feature: Items in a language that aren't supported shouldn't show up as if it was code"
If a language item that doesn't exist in the language currently shows up as if it was code. This shouldn't show up as monospaced code items but as regular text, or be distinguished somehow differently.

![image](https://user-images.githubusercontent.com/2601974/95128488-7ef47100-0727-11eb-86a0-3e7221c445ee.png)

[2020-10-05 22:40] geekygirlsarah commented on #44
@nukefusion You didn't claim to work on this issue, so I can't attach your name to it. Maybe referencing you and your PR will let me do it?

[2020-10-06 06:19] nukefusion commented on #44
I'm not sure how to claim an issue? Just comment here? PR should be linked already I think.

[2020-10-06 12:53] geekygirlsarah commented on #44
Yep. Literally any comment allows me to add your name to it, but apparently not PR-ing against it.

Marking it with your name just says to others that you're doing it and they shouldn't.

[2020-10-06 12:58] geekygirlsarah commented on #11
Completed in 4360239b4a3cef462e8b20901725eb992c474cf8 so closing this.

[2020-10-06 12:58] #11 closed, assigned to geekygirlsarah

[2020-10-06 12:59] geekygirlsarah commented on #12
I reviewed these and made a few changes with 9bb157e66e191990e02ef7205eb8b72066f11061 so I'm closing it.

[2020-10-06 12:59] #12 closed, assigned to geekygirlsarah

[2020-10-06 13:01] geekygirlsarah commented on #13
Oops, I made #39 not realizing I duplicated this. Someone took it and it got merged, so I'm closing this as a duplicate.

[2020-10-06 13:01] #13 closed, assigned to geekygirlsarah

[2020-10-09 01:36] Rollerss opened #47 "Missing link to codethesaur.us on Readme"
Hello geekygirlsarah

You have a link to codethesaur.us on the [CONTRIBUTING](https://github.com/codethesaurus/codethesaur.us/blob/master/CONTRIBUTING.md) but there is not one on the main Readme.

I think turning the title to a like to website would be a good addition.

[2020-10-09 02:05] geekygirlsarah commented on #28
@laurenamy It's been about a week so I'm going to take you off so this is open to others to work on. If you want to re-claim it, let me know.

[2020-10-09 02:12] geekygirlsarah commented on #15
I'm closing this. I want to write a better issue. This was written last year as a vague todo for me and now that there's others, I want to be more specific.

[2020-10-09 02:12] #15 closed, assigned to geekygirlsarah

[2020-10-09 02:24] geekygirlsarah commented on #47
I think I want to close this, though I do so reluctantly.

The link is on the main Github page (see below). Also one should be able to clone the repo and run it locally, which the README talks about. [CONTRIBUTING.md](CONTRIBUTING.md) shows the difference in the two URLs for actually contributing. As a single lone issue, it feels like it's just an easy PR, and sort of against the values of Hacktob

[2020-10-09 02:24] #47 closed, assigned to nobody

[2020-10-09 03:30] geekygirlsarah commented on #21
@BergFulton It's been about a week, so I'm going to go ahead and take you off of this so maybe others could contribute. If you want to reclaim this, let me know!

[2020-10-11 06:09] #42 closed, assigned to vaibhvshrma

[2020-10-11 20:09] #25 closed, assigned to geekygirlsarah

[2020-10-11 21:03] sehqlr commented on #28
Hey Sarah, I can work on this one. I'll make simple templates first and then we can refine them through code review?

[2020-10-11 21:18] geekygirlsarah commented on #28
That sounds great to me! I'll assign it to you. If I don't see any updates in a week, I'll probably take your name off so others could possibly work on it.

Let me know if you have any questions!

[2020-10-11 21:29] geekygirlsarah opened #51 "Feature: Add randomized language dropdowns on main home page"
**Description:**
When you land on the main CT page, the same language shows up for all three drop-downs to choose what languages you want to look up. It just looks odd to me. This issue should help choose a random language to select from the drop-down.

**Requirements:**
- All three language drop-downs on the main page should have random languages specified
- This can be done either by passing in

[2020-10-11 21:34] BetweenTwoLights commented on #22
I would like to give this a go.  May I pick up this issues?

[2020-10-11 21:42] geekygirlsarah opened #53 "Feature: Add language versioning to the front-end"
**Description:**
There will be some differences between different versions of languages. One example is Python 2 vs 3. They are similar but also very different. Someone should be able to choose a language but also a version to compare using the Code Thesaurus system.

**Requirements:**
* On the home page, the languages listed under the two sections should list versions with them next to the langua

[2020-10-11 21:50] geekygirlsarah opened #54 "Feature: Add language versioning to the back-end"
**Description:**
There will be some differences between different versions of languages. One example is Python 2 vs 3. They are similar but also very different. Someone should be able to choose a language but also a version to compare using the Code Thesaurus system.

**Requirements:**
* When the user requests a specific version of a language, the version should be reflected in the language that g

[2020-10-12 00:44] geekygirlsarah commented on #22
Yes! It's yours. If I don't see any activity in a week, I'll remove you so others can work on it. (You can always reclaim it again.)

And let me know if you have any questions!

[2020-10-12 14:27] geekygirlsarah opened #55 "Feature: Add link to contributors to footer"
**Description:**
At the bottom of each page, it says "Made with ❤ by Sarah Withee." But at this point, this project has been made along with additional contributors. The footer should reflect that!

**Requirements:**
- In the footer part of `base.html`, add a link to the contributors page (see notes)
- Use GitHub's API, find a way to ping the number of contributors and write a small bit of JavaScr

[2020-10-12 14:58] #26 closed, assigned to geekygirlsarah

[2020-10-12 15:09] mysticknits commented on #55
can I give this a shot?

[2020-10-12 15:49] geekygirlsarah opened #56 "Feature: Set up GitHub+Heroku to do staging pipelines"
GitHub now has actions, Heroku has Heroku Pipelines and Heroku CI...  combine them together to enable more power!

(This is an issue @geekygirlsarah has to take since she's the only one with Heroku/GitHub access)

[2020-10-12 15:52] geekygirlsarah commented on #55
Yep! @laurenamy, consider it yours!

If I don't see any status updates in a week, I'll remove you (so on the 19th). You could always reclaim it later too.

Let me know if you have any questions!

[2020-10-12 17:29] geekygirlsarah opened #57 "Feature: Set up Heroku to manage SSL certs"
* Needs to bump from free to hobby dyno
* Needs to enable SSL in ACM settings page
* Need to test

[2020-10-12 18:02] geekygirlsarah opened #58 "Bug: Correct README to show correct directions for Win, and how to set up virtual environment"
**Description:**
The directions to run the project on the [README.md](README.md) file show a really simplistic set of steps for working with Python to run the app. These can be incorrect due to operating systems, multiple Python installs (2.x and 3.x), or some other factors. Some want to use virtual environments instead.

This issue should make more specific directions for operating systems as wel

[2020-10-12 18:04] #44 closed, assigned to nukefusion

[2020-10-12 18:04] #27 closed, assigned to geekygirlsarah

[2020-10-12 18:11] LakshmiTejaP commented on #21
Can I work on this issue? Please let me know.

[2020-10-12 19:54] geekygirlsarah commented on #57
Finished! https://codethesaur.us works!

[2020-10-12 19:54] #57 closed, assigned to geekygirlsarah

[2020-10-12 19:55] geekygirlsarah commented on #21
Sure! You can have this issue, @LakshmiTejaP! I'll leave you on for a week, and if I don't see any updates, I'll take you off. If that happens, you can always claim it again.

Let me know if you have any questions!

[2020-10-12 20:35] geekygirlsarah commented on #56
This works now! PR #52 is the first one to have it, future PRs will also have it.

[2020-10-12 20:35] #56 closed, assigned to geekygirlsarah

[2020-10-12 21:02] geekygirlsarah opened #59 "Feature: Update main page drop-down lists to dynamically pull in language features"
**Description:**
The home page for CT has drop-downs for language features and for actual programming languages. The language list is now dynamic and is based on available JSON files in the code base. The features need to be dynamically generated as well.

**Requirements:**
* The features/concepts of programming languages need to pull from the `meta_data.json` file.
* Sort the drop-down if it's no

[2020-10-13 00:19] bhantsi commented on #58
Assign this to me, I can do it

[2020-10-13 00:20] geekygirlsarah opened #60 "Bug: Correct README to show correct directions for Mac, and how to set up virtual environment"
**Description:**
The directions to run the project on the [README.md](README.md) file show a really simplistic set of steps for working with Python to run the app. These can be incorrect due to operating systems, multiple Python installs (2.x and 3.x), or some other factors. Some want to use virtual environments instead.

This issue should make more specific directions for operating systems as wel

[2020-10-13 00:21] geekygirlsarah opened #61 "Bug: Correct README to show correct directions for Linux, and how to set up virtual environment"
**Description:**
The directions to run the project on the [README.md](README.md) file show a really simplistic set of steps for working with Python to run the app. These can be incorrect due to operating systems, multiple Python installs (2.x and 3.x), or some other factors. Some want to use virtual environments instead.

This issue should make more specific directions for operating systems as wel

[2020-10-13 00:23] geekygirlsarah commented on #58
I split out Windows, Mac, and Linux edits to the `README`. Do you still want it? I'll assign it if so.

[2020-10-13 00:34] bhantsi commented on #58
Yes, please

[2020-10-13 00:50] geekygirlsarah commented on #58
Alright! I'll give it to you. If I don't see any sort of update in a week, I'll take you off. (You can always reclaim it too.)

And please leave any comments with questions that you have!

[2020-10-13 01:17] jlolzzz commented on #61
I can help out with this, if it is still needed.

[2020-10-13 02:14] geekygirlsarah commented on #61
Oh cool! Yeah I can pass it over to you. I'll give about a week and if I don't see updates, I'll unassign it so others can work on it. (If this happens, you can always reclaim something.)

If you have any questions, let me know!

[2020-10-13 02:14] hicks2evan commented on #51
Hi @geekygirlsarah, cool project! I opened this PR for this issue https://github.com/codethesaurus/codethesaur.us/pull/62

I was able to build and run locally to test it, thanks for the super clear instructions! I was not able to find any test files in the code, but let me know if I missed anything there and I can update.

Happy Hacktoberfest :)

[2020-10-13 02:30] geekygirlsarah commented on #51
There's no tests yet...  😬 There is an issue to start that foundation and someone started working on it but haven't heard back in a bit. I need to check on that...

But thank you! I'll go ahead and assign you since I didn't know you were doing this.

[2020-10-13 02:42] hicks2evan commented on #51
Great! Let me know if I should chase down setting up some tests.

[2020-10-13 03:23] IsabellaDev commented on #60
Can I try this?

[2020-10-13 04:33] geekygirlsarah commented on #60
Sure, have at it! I'd normally say I'll assign it for a week then take you off if I don't hear any updates, but you already made a PR!

[2020-10-13 12:17] jlolzzz commented on #61
Awesome, thank you.

[2020-10-13 16:58] IsabellaDev commented on #60
Please check if there is any update you'd like me to make, thanks!

[2020-10-14 05:39] LakshmiTejaP commented on #21
@geekygirlsarah  I'm sorry. I have exams this week. Can't work for this. You can assign someone else.

[2020-10-15 20:16] geekygirlsarah commented on #51
You are more than welcome to. I don't think the other person worked on them anymore. The PR got closed due to the develop branch going away, but you can check out #41 and see what they did, important that stuff in if you want, or start your own!

[2020-10-15 20:22] geekygirlsarah commented on #21
That's fine. Thanks for letting me know @LakshmiTejaP !

[2020-10-15 21:11] #59 closed, assigned to geekygirlsarah

[2020-10-15 21:23] geekygirlsarah opened #66 "Feature: Add link at bottom of reference/compare pages to add or fix incorrect data"
**Description:**
At the bottom of the pages of Code Thesaurus, I'd like to see text that offers a way for people to go and look at the correct file so they know what file they could edit if they spot things not implemented or how to correct some data that see is incorrect.

**Requirements:**
* For the Reference page, one link below the column of the language data to link to something like "To add

[2020-10-15 21:33] geekygirlsarah opened #67 "Feature: Add prettier 403, 404, and other error pages"
**Description:**
If there's a file not found error, or any other type of error, Python just crashes in a very ugly way. I'd like to make them prettier!

**Requirements:**
* Just a prettier version of the home page but with error text describing what happened
* It should be a general template that the error is passed into so the page can be reused easily

**Claiming This Issue:**
* Please leave a c

[2020-10-15 22:29] pattimcletchie commented on #21
@geekygirlsarah I'd love to take this on if it's available. :)

[2020-10-16 21:30] geekygirlsarah commented on #21
@pattimcletchie Sure, I'll give it to you! I'll leave you on for a week. If I don't see any updates, I'll take you off. If that happens, you can always claim it again.

Let me know if you have any questions!

[2020-10-16 21:59] geekygirlsarah commented on #28
@sehqlr Hey... how's this coming along?

[2020-10-16 22:00] geekygirlsarah commented on #23
@Arodriguez340 Were you still wanting to keep working on this? I know you started a PR and it was good so far but you said you had more. Then I ended up closing the PR accidentally due to merging `develop` into `master`... I'd like to PR it again and incorporate your changes so it can add your name as a contributor.

Let me know!

[2020-10-16 22:28] geekygirlsarah opened #70 "Bug: Update CONTRIBUTING.md to reflect latest changes"
**Description:**
The information on the `CONTRIBUTING.md` file are out of date due to `develop` branch getting merged into `master` as well as the old framework now being officially gone. Update this file to match latest contribution suggestions.

[2020-10-16 23:05] #70 closed, assigned to geekygirlsarah

[2020-10-17 06:19] #60 closed, assigned to isabellaliu77

[2020-10-17 10:57] navjyot18 commented on #67
can i work on this mam??

[2020-10-17 15:19] geekygirlsarah commented on #67
Hey @navjyot18! Yeah, I'll give it to you. If I don't hear/see any updates in a week I may take you off of the issue. (You could always reclaim it again.)

Check out [CONTRIBUTING.md](CONTRIBUTING.md) for the overview of things, and feel free to comment/email with any questions!

[2020-10-18 14:25] #61 closed, assigned to jlolzzz

[2020-10-18 15:28] #58 closed, assigned to geekygirlsarah

[2020-10-18 23:28] sehqlr commented on #28
I stopped work on this because I ran out of my ADHD meds, but I'm back on them now and I'm going to get this done real soon. Sorry about that :disappointed_relieved:

[2020-10-19 00:14] #28 closed, assigned to sehqlr

[2020-10-19 02:22] pattimcletchie commented on #21
@geekygirlsarah I am having an issue installing python. Are you able to assist me?

[2020-10-19 02:33] geekygirlsarah commented on #21
The README was updated today for all the operating systems, so if you don't have the latest version you can look at that.

Otherwise, I can try. What's your OS?

[2020-10-19 02:45] pattimcletchie commented on #21
Let me pull the latest. I am running Mac OS. @geekygirlsarah

[2020-10-19 19:44] geekygirlsarah commented on #21
How's it going? Anything I can do to help, @pattimcletchie ?

[2020-10-19 19:48] geekygirlsarah commented on #23
@Arodriguez340 Hey, I haven't heard back from you in a week (on the PR) and you haven't tried to edit this PR or make a new PR. I'll leave it closed and remove you from this issue. If you want it back, you're welcome to claim it again.

[2020-10-19 20:00] geekygirlsarah opened #73 "Bug: Compare/Reference pages show ID of concept, not human-friendly wording"
# Expected Behavior
The line at the top of the Compare or Reference pages shows something like "Comparing [language] and [language]'s data types"

# Actual Behavior
The line shows "Comparing [language] and [language]'s data_types"  (where data_types is the ID field)

# Steps to Reproduce the Problem

1. On the home page, click on two languages then Go
2. The incorrect line will be at the top
3.

!

[2020-10-19 20:05] geekygirlsarah commented on #66
I'll take this for my Twitch stream!

[2020-10-19 20:26] geekygirlsarah opened #74 "Bug: Can inject bad things into query strings on Compare/Reference page"
# Expected Behavior
Only languages can be put into the query string

# Actual Behavior
Other bad things can happen (for example, JS's `alert("hello")`

# Steps to Reproduce the Problem

1. Go to http://codethesaur.us/compare/?concept=data_types&lang1=%3Cscript%3Ealert(%27hello%27)//&lang2=%3C/script%3E

[2020-10-19 20:46] geekygirlsarah commented on #66
Fixed with PR #75

[2020-10-19 20:46] #66 closed, assigned to geekygirlsarah

[2020-10-19 21:30] pattimcletchie commented on #21
@geekygirlsarah I pulled down the latest `README` and I was able to get localhost up and running. I should be good to go :) Thank you for your help.

[2020-10-19 21:37] #74 closed, assigned to geekygirlsarah

[2020-10-19 22:36] geekygirlsarah commented on #21
Sweet! Ping me here or twitter (same username) or email if you need anything!

[2020-10-19 22:55] #51 closed, assigned to hicks2evan

[2020-10-19 23:23] pattimcletchie commented on #21
@geekygirlsarah  I noticed that your app.scss file is different than your app.css file and when making changes to app.scss it doesn't compile and then update your app.css file (I assume you aren't using anything like webpack since it's python?). Are you utilizing SCSS or no?

[2020-10-20 04:58] geekygirlsarah commented on #21
Oops... so those are residuals left over from the old Laravel (PHP) framework it used to be in. There's no Vue or SCSS/Less/etc. being used. You can effectively delete those. (not app.css, that IS getting used)

You could also re-pull master as I removed those.

Sorry about the confusion! That's what I get for trying to rewrite the framework from one language to another....

[2020-10-20 18:25] #55 closed, assigned to mysticknits

[2020-10-20 20:18] mysticknits commented on #73
perhaps I can take this issue? 😬

[2020-10-21 12:39] beingbiplov commented on #53
Hey,
I was looking at this issue and could not find the version information for languages. The languages and structures are fetched from `meta_info.json` but it does not contain versions of the language. `language_version` is present in `thesauruses/<language_name>/<language_concept.json>` file but it is accessed in `compare` and `reference` view only after the user makes the query.
Could you plea

[2020-10-21 18:10] geekygirlsarah commented on #73
Consider it yours! Same deal... I'll let you have it for a week, then may take your name off. You can reclaim it later too. And ask any questions you might have!

[2020-10-21 18:29] geekygirlsarah commented on #53
Hey @beingbiplov. Yeah, I kind of figured the front-end and back-end tickets needed to work together, but also figured there was enough to be done separately. So this might take some thought.

Presently aside from a version number in the language concept file, it's not stored anywhere else, but will probably need to be. I think that's what I wanted the back-end ticket for, to figure out the best p

[2020-10-23 01:05] pattimcletchie commented on #21
No worries! I will remove the files with my checkin.

[2020-10-23 11:08] chriseyre2000 opened #81 "Consider looking at Exercism.io V3 Concepts"
# Use Exercism.io V3 as a data source
The Exercism.io project (https://github.com/exercism/v3) has a large amount of language concepts.

This may allow you to source a lot of languages quickly.

[2020-10-23 16:03] geekygirlsarah commented on #81
Hi @chriseyre2000. Yeah I do know about Exercism and have looked at a lot of their repos and how they set up the system as a basis for some of what CT is doing. I do see they have a reference section but it seems quite varied between languages and what they provide and how they provide it. CT will need a bit more standardization around that, but perhaps could be used as a reference, along with lan

[2020-10-23 16:03] #81 closed, assigned to nobody

[2020-10-30 22:13] #73 closed, assigned to mysticknits

[2020-10-30 22:21] #21 closed, assigned to pattimcletchie

[2020-10-30 22:41] #23 closed, assigned to nobody

[2020-10-30 22:46] geekygirlsarah commented on #67
@navjyot18 Hey, how's this issue coming along? I'll probably go ahead and unassign you but if you still want it, you can let me know and keep working on it.

[2020-10-31 07:36] jwalter commented on #54
I have a PR for this

[2020-10-31 16:39] geekygirlsarah commented on #54
Thanks for adding the comment. I can now tag you as the assignee.

[2020-11-09 06:46] salmonmoose opened #85 "Number types are not useful for all languages"
# Expected Behavior
Add data types for Javascript (and derivatives) with 56 bit floats

# Actual Behavior
No relevant category to match against.
# Specifications

[2020-11-10 01:54] geekygirlsarah opened #86 "Add Ruby data types"
# Description

The Ruby language is presently not on Code Thesaurus. I would love to see this added and the data types concept added to CT.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to a `web/thesauruses/ruby/` directory
* Edit the data_types.json file to accurately reflect Ruby and the latest major version of it.

# Additional Notes

Please leave comments on this issue to as

[2020-11-10 01:54] geekygirlsarah opened #87 "Add JavaScript data types"
# Description

Data types for JavaScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to the `web/thesauruses/javascript/` directory
* Edit the data_types.json file to accurately reflect the latest major version of JavaScript
* Delete the `"name":` fields before your PR
* Add in `"comment":` if

[2020-11-10 01:55] geekygirlsarah opened #88 "Add PHP data types"
# Description

The PHP language is presently not on Code Thesaurus. I would love to see this added and the data types concept added to CT.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to a `web/thesauruses/php/` directory
* Edit the data_types.json file to accurately reflect PHP and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask q

[2020-11-10 01:58] geekygirlsarah opened #89 "Add Swift data types"
# Description

Data Types for Swift aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to the right Swift directory in `web/thesauruses/`
* Edit the data_types.json file to accurately reflect the latest major version of Swift
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wi

[2020-11-10 01:59] geekygirlsarah opened #90 "Add Objective-C data types"
# Description

Data Types for Objective-C aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to the right Objective-C directory in `web/thesauruses/`
* Edit the data_types.json file to accurately reflect the latest major version of Objective-C
* Delete the `"name":` fields before your PR
* Add in `"co

[2020-11-10 02:01] geekygirlsarah opened #91 "Add Go data types"
# Description

Data Types for Go aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to the right Go directory in `web/thesauruses/`
* Edit the data_types.json file to accurately reflect the latest major version of Go
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to exp

[2020-11-10 02:02] geekygirlsarah opened #92 "Add Rust data types"
# Description

The Rust language is presently not on Code Thesaurus. I would love to see this added and the data types concept added to CT.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to a `web/thesauruses/rust/` directory
* Edit the data_types.json file to accurately reflect Rust and the latest major version of it.

# Additional Notes

Please leave comments on this issue to as

[2020-11-10 02:12] geekygirlsarah opened #93 "Add C++ functions"
# Description

The functions in C++ are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to a `web/thesauruses/cplusplus/` directory
* Edit the functions.json file to accurately reflect C++ and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask questions or to claim the issue

[2020-11-10 02:12] geekygirlsarah opened #94 "Add C# functions"
# Description

The functions in C# are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to a `web/thesauruses/csharp/` directory
* Edit the functions.json file to accurately reflect C# and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask questions or to claim the issue as y

[2020-11-10 02:14] geekygirlsarah opened #95 "Add Go functions"
# Description

Functions for Go aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to the right Go directory in `web/thesauruses/`
* Edit the functions.json file to accurately reflect the latest major version of Go
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explai

[2020-11-10 02:15] geekygirlsarah opened #96 "[Java] Add functions"
# Description

Functions for Java aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to the `web/thesauruses/java/` directory
* Edit the functions.json file to accurately reflect the latest major version of Java
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explain s

[2020-11-10 02:16] geekygirlsarah opened #97 "Add JavaScript functions"
# Description

The functions in JavaScript are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to a `web/thesauruses/javascript/` directory
* Edit the functions.json file to accurately reflect JavaScript and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask questions or to

[2020-11-10 02:17] geekygirlsarah opened #98 "Add Objective-C functions"
# Description

Functions for Objective-C aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to the `web/thesauruses/objectivec/` directory
* Edit the functions.json file to accurately reflect the latest major version of Objective-C
* Delete the `"name":` fields before your PR
* Add in `"comment":` if y

[2020-11-10 02:18] geekygirlsarah opened #99 "Add PHP functions"
# Description

The functions in PHP are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to a `web/thesauruses/php/` directory
* Edit the functions.json file to accurately reflect PHP and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask questions or to claim the issue as yo

[2020-11-10 02:19] geekygirlsarah opened #100 "Add Python functions"
# Description

The functions in Python are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to a `web/thesauruses/python/` directory
* Edit the functions.json file to accurately reflect Python and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask questions or to claim the is

[2020-11-10 02:20] geekygirlsarah opened #101 "Add Ruby functions"
# Description

The functions in Ruby are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to a `web/thesauruses/ruby/` directory
* Edit the functions.json file to accurately reflect Ruby and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask questions or to claim the issue as

[2020-11-10 02:23] geekygirlsarah opened #102 "Add Rust functions"
# Description

The functions in Rust are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to a `web/thesauruses/rust/` directory
* Edit the functions.json file to accurately reflect Rust and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask questions or to claim the issue as

[2020-11-10 02:24] geekygirlsarah opened #103 "Add Scala functions"
# Description

The functions in Scala are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to a `web/thesauruses/scala/` directory
* Edit the functions.json file to accurately reflect Scala and the latest major version of it.

# Additional Notes

Please leave comments on this issue to ask questions or to claim the issue

[2020-11-10 02:25] geekygirlsarah opened #104 "Add Swift functions"
# Description

Functions for Swift aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/functions.json` to the `web/thesauruses/swift/` directory
* Edit the functions.json file to accurately reflect the latest major version of Swift
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explai

[2020-11-10 02:28] geekygirlsarah opened #105 "Add C++ control structures"
# Description

The control structures (loops, ifs, etc.) in C++ are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/cplusplus/` directory
* Edit the control_structures.json file to accurately reflect C++ and the latest major version of it.

# Additional Notes

Please leave comments on thi

[2020-11-10 02:29] geekygirlsarah opened #106 "Add C# control structures"
# Description

The control structures (loops, ifs, etc.) in C# are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/csharp/` directory
* Edit the control_structures.json file to accurately reflect C# and the latest major version of it.

# Additional Notes

Please leave comments on this iss

[2020-11-10 02:30] geekygirlsarah opened #107 "Add Go control structures"
# Description

The control structures (loops, ifs, etc.) in Go are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/go/` directory
* Edit the control_structures.json file to accurately reflect Go and the latest major version of it.

# Additional Notes

Please leave comments on this issue t

[2020-11-10 02:30] geekygirlsarah opened #108 "Add Java control structures"
# Description

The control structures (loops, ifs, etc.) in Java are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/java/` directory
* Edit the control_structures.json file to accurately reflect Java and the latest major version of it.

# Additional Notes

Please leave comments on this i

[2020-11-10 02:32] geekygirlsarah opened #109 "Add JavaScript control structures"
# Description

The control structures (loops, ifs, etc.) in JavaScript are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/javascript/` directory
* Edit the control_structures.json file to accurately reflect JavaScript and the latest major version of it.

# Additional Notes

Please leave

[2020-11-10 02:33] geekygirlsarah opened #110 "Add Objective-C control structures"
# Description

Control Structures for Objective-C aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to the right Objective-C directory in `web/thesauruses/`
* Edit the control_structures.json file to accurately reflect the latest major version of Objective-C
* Delete the `"name":` fields befo

[2020-11-10 02:33] geekygirlsarah opened #111 "Add PHP control structures"
# Description

The control structures (loops, ifs, etc.) in PHP are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/php/` directory
* Edit the control_structures.json file to accurately reflect PHP and the latest major version of it.

# Additional Notes

Please leave comments on this issu

[2020-11-10 02:35] geekygirlsarah opened #112 "Add Python control structures"
# Description

The control structures (loops, ifs, etc.) in Python are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/python/` directory
* Edit the control_structures.json file to accurately reflect Python and the latest major version of it.

# Additional Notes

Please leave comments on

[2020-11-10 02:36] geekygirlsarah opened #113 "Add Ruby control structures"
# Description

The control structures (loops, ifs, etc.) in Ruby are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/ruby/` directory
* Edit the control_structures.json file to accurately reflect Ruby and the latest major version of it.

# Additional Notes

Please leave comments on this i

[2020-11-10 02:37] geekygirlsarah opened #114 "Add Rust control structures"
# Description

The control structures (loops, ifs, etc.) in Rust are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/rust/` directory
* Edit the control_structures.json file to accurately reflect Rust and the latest major version of it.

# Additional Notes

Please leave comments on this i

[2020-11-10 02:37] geekygirlsarah opened #115 "Add Scala control structures"
# Description

The control structures (loops, ifs, etc.) in Scala are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/scala/` directory
* Edit the control_structures.json file to accurately reflect Scala and the latest major version of it.

# Additional Notes

Please leave comments on thi

[2020-11-10 02:38] geekygirlsarah opened #116 "Add Swift control structures"
# Description

The control structures (loops, ifs, etc.) in Swift are presently not on Code Thesaurus. I would love to see this added.

# Requirements

* Copy `web/thesauruses/_meta/control_structures.json` to a `web/thesauruses/swift/` directory
* Edit the control_structures.json file to accurately reflect Swift and the latest major version of it.

# Additional Notes

Please leave comments on thi

[2020-11-10 06:47] pkdiv commented on #112
Hi @geekygirlsarah , I am new to Github contributions, but good in python. I wanted to know, if I can help with this issue. Thank you.

[2020-11-10 08:43] nicholasbus commented on #109
Hi, I would be interested in working on this issue. Thanks.

[2020-11-10 14:27] geekygirlsarah commented on #85
We chatted about this on my Twitch stream, but I'll write out a little bit, and it's described a bit in https://docs.codethesaur.us/thesaurus/ .

To add new types to the thesaurus, you'll need to go into `_meta/data_types.json` and add the new types within the right categories section, then implement the section in the spot below it. Try to maintain similar formatting to what's already there, and

[2020-11-10 14:30] geekygirlsarah commented on #112
Sure! I'll assign you to it. I'll keep you on for about a week and if I don't see anything after that I may remove you, but you can always reclaim this.

Check out the links in the issue for more info on the file structures and contribution process. And thanks in advance!

[2020-11-10 14:31] geekygirlsarah commented on #109
Sure! I'll assign you to it. I'll keep you on for about a week and if I don't see anything after that I may remove you, but you can always reclaim this.

Check out the links in the issue for more info on the file structures and contribution process. And thanks in advance!

[2020-11-10 14:40] geekygirlsarah opened #117 "Add unit testing checks into CI/CD process"
# Description

Unit tests were added in issue #41 but nothing actually runs them before deploying. Set up GitHub Actions or Heroku Pipelines to check things before deploying.

# Requirements

* When PR is created or something is pushed to main, run the unit tests first.
* Only allow deployment if they pass AND a review passes.

# Additional Notes

This is probably a @geekygirlsarah -only task due

[2020-11-10 17:06] pkdiv commented on #112
Thank you.

[2020-11-12 22:54] #109 closed, assigned to nicholasbus

[2020-11-12 23:33] #117 closed, assigned to geekygirlsarah

[2020-11-13 00:45] nicholasbus commented on #97
Hi, I would be interested in working on this. Thanks.

[2020-11-24 00:18] #112 closed, assigned to pkdiv

[2020-11-24 00:21] geekygirlsarah commented on #97
@nicholasbus Thanks for your patience and I would love for you to take this on! Be sure to check out the Contributing.md file as well as the documentation which is now over at docs.codethesaur.us.

I'll leave you on for about a week and take you off if I don't see any updates. If that happens, you're always welcome to grab it again later.

[2020-11-26 14:21] pkdiv commented on #105
@geekygirlsarah  I would like to work on this issue.

[2020-11-26 14:35] pkdiv commented on #100
@geekygirlsarah  I would like to work on this issue

[2020-11-26 18:12] geekygirlsarah commented on #105
Sure! You know the drill by now!

[2020-11-26 18:12] geekygirlsarah commented on #100
Here you go. Have at it!

[2020-11-26 22:35] geekygirlsarah opened #121 "Small window width makes menu bar super huge"
# Expected Behavior

As window shrinks (or is viewed on mobile), it should keep the menu/nav bar a reasonable small size

# Actual Behavior

As the window shrinks, the menu/nav bar fills the page. This might be from resizing the window since loading it on mobile sizes directly seems to be the right size.

# Steps to Reproduce the Problem

1. Open the page full screen
2. Shrink the window to about

[2020-11-29 08:08] dunk-boyz-12 commented on #87
Hi! I would like to help with this and possibly some others, thanks!

[2020-12-02 03:21] geekygirlsarah commented on #87
Hey @dunk-boyz-12! Yeah, I'll assign you to it. Make sure to check out the Contributing Guidelines and the docs. Feel free to ask any questions too!

If I don't see any updates in about a week, I'll take you off but you can always reclaim it too.

[2020-12-03 06:08] dunk-boyz-12 commented on #87
okay great, thank you!

[2020-12-27 16:31] geekygirlsarah opened #125 "Django unit tests run on CI/CD error installing dependencies"
# Expected Behavior
Gitlab Actions runs unit tests and

# Actual Behavior
Gitlab's PRs just show an error on the "Install Dependencies" tab.

# Steps to Reproduce the Problem

Look at https://github.com/codethesaurus/codethesaur.us/pull/124

[2020-12-27 16:32] #121 closed, assigned to nobody

[2021-02-10 16:29] cafce25 opened #126 "Add Haskell data types"
# Description
The Haskell language is presently not on Code Thesaurus. I would love to see this added and the data types concept added to CT.

# Requirements
- Copy web/thesauruses/_meta/data_types.json to a web/thesauruses/haskell/ directory
- Edit the data_types.json file to accurately reflect Haskell and the latest major version of it.

# Additional Notes
Please leave comments on this issue to

[2021-02-10 16:32] cafce25 commented on #126
Hey,
I'm currently working on this and decided to open the issue to avoid duplicating work and to be able to track questions/discussion on this later on.
@geekygirlsarah would you be so kind and assign me to this?

[2021-02-10 20:22] geekygirlsarah commented on #126
@cafce25 There you go! Thanks for taking this on, and let me know if you have any questions.

[2021-02-19 17:10] binarygary commented on #111
HI @geekygirlsarah I'd like to claim this issue

[2021-02-19 17:34] geekygirlsarah commented on #111
Consider it yours, @binarygary ! And thanks!

Feel free to ask if you have any questions. The new link for docs are https://docs.codethesaur.us/

[2021-02-19 19:08] binarygary commented on #99
@geekygirlsarah Can I call dibs on this one too?

[2021-02-19 19:08] binarygary commented on #88
@geekygirlsarah And can I call dibs here too?

[2021-02-19 19:49] geekygirlsarah commented on #88
Consider this yours too!

(And I hear you know my friend Allison, so cool!)

[2021-02-19 19:49] geekygirlsarah commented on #99
Yep, consider it yours too!

[2021-02-21 17:54] binarygary commented on #88
Allison is awesome!

[2021-02-24 16:28] geekygirlsarah opened #132 "Add Docker image"
# Description

Some people may not want to install Python and the stuff locally. We should offer a Docker image to run the whole system locally and allow people to work on the project without needing the manual install process.

# Requirements

* Add Dockerfile to build the system. (There may be a Django one out there already, but would need to have some of the extra dependencies added.)
* Update

[2021-02-24 21:26] flour-ad commented on #132
Hello - I might try to do this!

[2021-02-24 22:29] flour-ad commented on #132
So basically, the goal is to create a docker container, which when run, would serve the website? So the only step that user will have to take is to launch the docker container?

One more thing - in readme I see that PostgreSQL step is included only in instructions for Linux - I suggest adding it to the instructions for different operating systems as well, or deleting the instructions for Linux and

[2021-02-24 22:37] geekygirlsarah commented on #132
I'll pass it over to you then! Feel free to look over the contributor guidelines and ask me if you have any questions.

Postgres, at the moment, is _not_ needed. It's almost always attached to a Django install but I removed it as CT doesn't need it. I guess the person that last updated the README said they couldn't get it to run at all without installing Postgres due to Heroku's requirement for it

[2021-02-25 20:50] flour-ad commented on #132
Ok - I created a pull request. I think I did not link the issue number properly? if so, then let me know what I did wrong :>

[2021-02-28 00:32] enisaras commented on #108
I can actually help with this!

[2021-02-28 00:39] enisaras commented on #96
I can help with this too!

[2021-02-28 03:20] geekygirlsarah commented on #108
Sweet! It's yours!

Feel free to check out the contributing guidelines, and ask if you have any questions. docs.codethesaur.us is the new site for documentation.

[2021-02-28 03:21] geekygirlsarah commented on #96
Consider this yours too!

And same drill...  if you need help, just let me know!

[2021-02-28 03:26] geekygirlsarah opened #135 "Improve SEO and OpenGraph Info"
# Description

![image](https://user-images.githubusercontent.com/2601974/109406847-45c4d380-794a-11eb-8381-0410588a3c56.png)

When linking the site, it just copies the `<title>` and a one-line description. It would be nice to have it show the logo, a better description, and when on a reference/compare page, show the two languages.

# Requirements

* Add OpenGraph (i.e. `og:title` type tags) to ma

[2021-02-28 03:31] geekygirlsarah opened #136 "Redirect from HTTP to HTTPS"
# Expected Behavior

Going to codethesaur.us shoudl take you to the https site by default.

# Actual Behavior

Going to codethesaur.us may take you to http:// rather than https://.

# Steps to Reproduce the Problem

1. Type in the URL directly with no http/https on it.

# Specifications

This happens on Firefox and Chrome.

[2021-02-28 08:00] vaibhvshrma commented on #136
Hey @geekygirlsarah, would like to pick this up. The approach here would be to redirect all http requests to https except when working with settings.DEBUG set to True. Does this sound okay?

[2021-02-28 10:23] carl-evans commented on #67
Hi Sarah, I'm happy to take a look at this if you're interested?

[2021-02-28 15:46] enisaras opened #137 "Python bool data type is not correct."
# Expected Behavior
Python data type for a standard boolean should be called "bool" according to the official python documentation https://docs.python.org/3/library/functions.html#bool.
# Actual Behavior
When I visited the website today under boolean it says the python implementation is "int".
# Steps to Reproduce the Problem

1. Go to [codethesaur.us Python reference sheet](http://codethesaur.us/

[2021-02-28 16:43] geekygirlsarah commented on #136
Yeah, sounds good to me. Probably safe to assume it's debug mode unless set to production mode on the server. (or if I need to do something to change that, let me know)

[2021-02-28 16:45] geekygirlsarah commented on #67
Hey @carl-evans! Yeah, I'd be happy to have you take it!

Look over the Contributing docs, and feel free to ask me any questions you have. I don't know that it would be helpful in this case, but docs.codethesaur.us is where documentation for the site is (there's not much on the Django site part yet.)

Thanks!

[2021-02-28 16:57] geekygirlsarah opened #139 "Add "Report a Language Issue" as issue creation template"
# Description

If there's something wrong with a language data set, it's not really a "bug" as much as just "incorrect information." It leaves the template to fill it out kind of weird. This is to revise that template to be a bit more specific to that.

# Requirements

* Add a new template in `.github/ISSUE_TEMPLATE` directory with this
* Have it include prompts like language, language structure,

[2021-02-28 18:17] vaibhvshrma commented on #136
@geekygirlsarah Alright, thanks for confirming!
Right now, debug is controlled through a env variable `SYSTEM_ENV`. So yes it is debug in all other than staging or production it seems.
Based on its value, here is the condition in settings.py

[code]
This is also where you will have to change the config if you are defining production env in a different way.

[2021-02-28 20:19] geekygirlsarah opened #141 "New lines in JSON files should result in new lines on CT's site"
# Expected Behavior

If you add in `\n` on a JSON string for one of the langauage data files, it should show as a new line on the site.

# Actual Behavior

Everything's on the same line

# Steps to Reproduce the Problem

This will presently only show up when ran locally since some language structures aren't enabled in production yet.

[2021-02-28 20:49] #126 closed, assigned to cafce25

[2021-02-28 21:19] #137 closed, assigned to nobody

[2021-02-28 21:24] #136 closed, assigned to vaibhvshrma

[2021-02-28 21:26] geekygirlsarah opened #143 "Server runs in debug mode in production"
The production instance of this on Heroku is running `debug = true` and should not be. (I think, anyway)

Since this involves Heroku, Sarah will work on it.

[2021-02-28 22:14] geekygirlsarah opened #144 "Remove hard coding of language concepts"
# Description

On `web/templates/index.html`, The dropdown for language concepts is hard-coded. It should be pulled in from meta_info.json.

# Requirements

* Remove commented out <option> elements
* Use similar loop for pulling in languages to pull in language concepts

[2021-02-28 22:23] geekygirlsarah opened #145 "Update Heroku instance of CT"
Due to it being on Heroku, only Sarah can do all of this.

* Update Python to latest version
* Update Django to latest version
* Update django-heroku module to django-on-heroku
* Turn SSL on and configure static files to serve correctly (disable collectstatic and enable whitenoise?)
* Fix SSL and Debug settings so they're correct for each given environment. (maybe default SSL false and Debug true

[2021-02-28 22:32] enisaras opened #147 "Adding two GitHub actions that might be helpful with pull requests"
# Description
I believe we should add the following GitHub actions to the repo to make the JSON files are formatted correctly and to make sure that the Python code additions follow the python black linter requirements;
1)[json syntax check](https://github.com/marketplace/actions/json-syntax-check)
2)[Python Black Check](https://github.com/marketplace/actions/python-black-check)
# Requirements
It i

[2021-02-28 23:24] juancarlospaco opened #149 "Bug on CI on folder path"
![bug](https://user-images.githubusercontent.com/1189414/109437257-a31c5b80-7a02-11eb-8e05-83d06734595e.png)

CI is searching for folders at:

`'web/thesauruses/Python/data_types.json'`

But that folder does not exist, it is:

`'web/thesauruses/python/data_types.json'`

Same for the other langs.
is Blocking https://github.com/codethesaurus/codethesaur.us/pull/148

I recommend using lowercase every

[2021-03-01 02:31] mat888 opened #151 "Test directory letter case does not match actual"
# Expected Behavior
Test should have looked in:
`web/thesauruses/python/`

# Actual Behavior
Test looked in:
`web/thesauruses/Python/`

# Steps to Reproduce the Problem

1. Submit Pull Request
2. Examine automated test output

The relevant output:

`FileNotFoundError: [Errno 2] No such file or directory: 'web/thesauruses/Python/data_types.json'

This directory does not exist like this in the main

[2021-03-01 02:55] geekygirlsarah commented on #147
This is a pretty good idea. I'll look into it!

[2021-03-01 04:07] geekygirlsarah commented on #151
Yeah I think that's the same problem that came up for issue #149. I'm closing this as it's a duplicate for that, but I'm going to try to fix the test tomorrow. Since it's ran in a Linux environment, capitalization does matter, so it's an issue.

Thanks for noticing this and what the issue was!!

[2021-03-01 04:07] #151 closed, assigned to nobody

[2021-03-01 04:22] mat888 commented on #151
NP, sorry for the dupe.

[2021-03-01 04:46] geekygirlsarah commented on #151
Totally fine! It's helpful to have the list of PRs all in one place as well as confirmation it's not a fluke!

[2021-03-01 21:52] mat888 opened #152 "Test fails to find `/reference/ directory."
# Expected Behavior

Test to find `/reference` directory.

# Actual Behavior

Test fails because it cannot find the `/reference` directory on the website/server. Even on a clean clone with no changes this test will fail, as does the website to find it.

# Steps to Reproduce the Problem

1. Fix uppercase directory test bug [issue 149](https://github.com/codethesaurus/codethesaur.us/issues/149) ([PR

[2021-03-02 22:33] mat888 commented on #144
It looks  like the file has the loop in it now, and no html comments exist. Am I misunderstanding or is it possible this issue has been resolved?

[2021-03-02 22:45] geekygirlsarah commented on #144
I think you're right. I might have looked at my personal repo before pulling in changes.

I'll close this...

Thanks!

[2021-03-02 22:45] #144 closed, assigned to nobody

[2021-03-03 03:25] #141 closed, assigned to nobody

[2021-03-03 03:25] geekygirlsarah commented on #152
I know what the cause of this is and I'll take it on.

[2021-03-03 03:26] geekygirlsarah commented on #149
I think this is related to issue #152 and I'll take it on since I think my fix will resolve both.

[2021-03-04 22:47] #132 closed, assigned to flour-ad

[2021-03-05 01:17] #100 closed, assigned to pkdiv

[2021-03-05 01:17] #105 closed, assigned to pkdiv

[2021-03-05 01:21] #111 closed, assigned to binarygary

[2021-03-05 01:22] #99 closed, assigned to binarygary

[2021-03-05 01:34] #88 closed, assigned to binarygary

[2021-03-05 01:40] geekygirlsarah commented on #152
PR #154 should have closed this.

[2021-03-05 01:40] #152 closed, assigned to geekygirlsarah

[2021-03-05 01:41] geekygirlsarah commented on #149
This should be fixed from PR #154, so I'm going to go ahead and close this.

Thank you for reporting it!

[2021-03-05 01:41] #149 closed, assigned to geekygirlsarah

[2021-03-05 02:08] geekygirlsarah commented on #145
Tried to do this, `DEBUG = False` then means static files aren't served up. According to https://devcenter.heroku.com/articles/django-assets , all the things it suggest have already been implemented.

If anyone knows the solution, I'll gladly take it!

[2021-03-05 14:30] geekygirlsarah commented on #125
I think this was fixed in #154 (Though I badly worded it and can't 100% tell for sure...)

[2021-03-05 14:30] #125 closed, assigned to nobody

[2021-03-10 21:47] enisaras opened #155 "Empty box in the bottom of every thesaurus"
# Expected Behavior
There should not be an empty box in the bottom of every thesaurus, this box should either contain something or be removed.
# Actual Behavior
There is an empty box in the bottom of every thesaurus in the website, usually to the left of the prompt that calls for people to submit correct information.
# Steps to Reproduce the Problem

1. Go to this link: [Java vs. C++ data types](h

[2021-03-10 21:48] enisaras commented on #139
I can help with this issue.

[2021-03-11 03:15] geekygirlsarah commented on #139
Consider it yours! And feel free to ask if you have any questions.

[2021-03-11 03:16] geekygirlsarah commented on #155
Oh, you know I think I knew it was there but never really paid attention to it. It's a valid point though!

Thanks for reporting this!

[2021-03-12 11:21] andrewCodeDev commented on #93
I'd be happy to take a look at this for you! Sounds like an interesting project.

[2021-03-12 18:05] geekygirlsarah commented on #93
Hey @andrewCodeDev! I'll pass it over to you then!

Docs are now over at https://docs.codethesaur.us, and feel free to ask any questions you have!

[2021-03-14 17:33] cafce25 opened #156 "Python code is indentation sensitive and should be shown with indentation"
I suspect this is a general issue with the front-end and applies to other indentation sensitive languages too.

# Expected Behavior
The control structures for python are displayed with correct indentation like so:
[code]
# Actual Behavior
The indentation gets stripped out by the front-end resulting in
[code]

# Steps to Reproduce the Problem
1. Visit [The control structures page for python](https:

[2021-03-14 20:25] geekygirlsarah commented on #156
Ah, good catch. And you're right, it's a front end bug.

[2021-03-15 03:50] 3dvkr commented on #155
Hi, I'd like to look into this issue 👋. Should there be a different prompt in that first box, or is it better for that last line to only keep the last two boxes with the links?

[2021-03-15 04:08] geekygirlsarah commented on #155
Alright, I'll pass it to you!

I can't think of what should go in there so it can stay empty/non-existent. You can probably just turn borders off on it or something similar so it doesn't show up.

[2021-03-15 04:19] geekygirlsarah commented on #67
Hi @carl-evans!

How is this coming along? Do you have any questions on it?

Thanks, and have a great day!

[2021-03-15 04:20] geekygirlsarah commented on #96
Hi @enisaras!

How is this coming along? Do you have any questions on it?

Thanks, and have a great day!

[2021-03-15 04:23] #108 closed, assigned to enisaras

[2021-03-15 15:11] enisaras commented on #156
To add to this I think all languages should be shown with indentation in control structures like the one in python since(for most languages) the recommended coding style is to indent the statements in the code block after the condition is declared for readability.

[2021-03-15 15:12] enisaras commented on #96
Hey @geekygirlsarah;
I definitely did not forget about this, I will get it done. I have been busy doing my Java assignment(ironic, I know) and studying for my midterms.

[2021-03-15 17:32] #139 closed, assigned to enisaras

[2021-03-15 17:38] geekygirlsarah commented on #96
That's fine! I was doing some spring cleaning and just making sure people were still interested in issues they had. (I was a student once... I understand!)

[2021-03-15 17:40] geekygirlsarah commented on #156
This has two parts:
- The site may not show spaces/tabs if they exist in JSON files
- The language files may not have spaces/tabs in them if the language requires it

The former seems in line with this ticket. The latter is more specific to any particular language and requires a bit more manual intervention and may affect several. At some point I'll probably go through and clean up some of the JSO

[2021-03-15 17:45] enisaras commented on #147
I think since I created this issue and no one seems to be interested in it I can also add the linters.

[2021-03-15 17:57] geekygirlsarah commented on #147
If you want it, feel free to do it! I was going to look into it but haven't gotten that far into it yet.

[2021-03-16 11:06] enisaras opened #159 "Python functions JSON template is wrong"
# Expected Behavior
The python functions are implemented in codethesaurus so it should display a page of info if we go to python functions on the website.

# Actual Behavior
If we go to python functions the website returns that it has not been implemented yet.

# Steps to Reproduce the Problem

1. [Go on this link](http://codethesaur.us/reference/?concept=functions&lang=python)
1. See that it does

[2021-03-16 11:07] enisaras commented on #159
I realized this bug when I was working on adding the linter over in my fork, I can work on this issue.

[2021-03-16 11:09] enisaras opened #160 "Control Structures C++ JSON file is wrong"
# Expected Behavior
The C++ control structures are implemented in codethesaurus so it should display a page of info if we go to python functions on the website.

# Actual Behavior
If we go to C++ control structures on the website returns that it has not been implemented yet.

# Steps to Reproduce the Problem

1. [Go on this link](http://codethesaur.us/reference/?concept=control_structures&lang=cpl

[2021-03-16 11:10] enisaras commented on #160
I also realized this issue when I was working on adding the linter, I would like to work on it.

[2021-03-16 13:25] geekygirlsarah commented on #160
Sure! It's yours.

(You sure you're not taking on too many issues here?)

[2021-03-16 13:26] geekygirlsarah commented on #159
Sure! It's yours.

(You sure you're not taking on too many issues here?)

[2021-03-23 18:53] #92 closed, assigned to nobody

[2021-03-23 18:53] #102 closed, assigned to nobody

[2021-03-23 18:53] #114 closed, assigned to nobody

[2021-03-27 18:03] #94 closed, assigned to nobody

[2021-03-29 23:21] #156 closed, assigned to nobody

[2021-03-29 23:27] #116 closed, assigned to nobody

[2021-03-29 23:36] geekygirlsarah opened #170 "Add a highlighting library for formatting/coloring"
# Description

This would add a code highlighting library so that code objects would be formatted and colored according to the style of the language displayed.

# Requirements

1. Research Prism.js, Highlight.js, or Pygments to see what might be the best scenario to support the most languages and easily integrate into CT.
1. Add the library to the main header/footer templates, then in appropriate

[2021-03-30 04:36] geekygirlsarah commented on #143
Merging this issue in with other stuff in #145 so closing this one.

[2021-03-30 04:36] #143 closed, assigned to geekygirlsarah

[2021-03-30 04:47] geekygirlsarah opened #172 "Add more useful unit tests"
# Description

There's a few unit tests there, which do a bare minimum of ensuring site functionality. This would be to test a wider range of cases of working and non-working items.

# Requirements

* Include testing all the pages
* Should test working systems for compare/reference
* Should test picking languages or concepts that don't exist
* Probably should test JSON files that don't work right

[2021-04-02 14:27] bmeverett commented on #106
Guess I revealed my hand a little 🙂 but I can try and take this one. PR coming soon!

[2021-04-02 16:09] geekygirlsarah commented on #106
Cool! And I mean it works. I ask people to comment on an issue first so I can make sure two people don't try to do it at the same time and assign it to the first person. But hey, you get first dibs this time!

[2021-04-07 19:59] #172 closed, assigned to nobody

[2021-04-07 19:59] pselle commented on #172
Deferring JSON work to using a linter, linked PR includes unit tests

[2021-04-07 20:02] geekygirlsarah commented on #67
@carl-evans It looks like you haven't worked on this, so I took your name off. If you want to take it back on, let me know.

[2021-04-13 03:07] #86 closed, assigned to nobody

[2021-04-14 22:05] kellydanma commented on #107
👋 Just found this project and I think it's awesome! I can work on this issue.

[2021-04-15 04:27] geekygirlsarah commented on #107
I'd say consider it yours but you already made a PR! I'll look it over probably tomorrow.

Thank you! 🎉

[2021-04-15 04:29] geekygirlsarah commented on #93
@andrewCodeDev Since I haven't heard from you in a few weeks, I'm removing you from this issue. If you started on this, or want to still work on this issue, let me know and I can re-assign you to it.

[2021-04-15 04:29] geekygirlsarah commented on #96
@enisaras Since I haven't heard from you in a few weeks, I'm removing you from this issue. If you started on this, or want to still work on this issue, let me know and I can re-assign you to it.

[2021-04-15 12:49] kellydanma commented on #107
☝️ It's in draft right now because I haven't started working on it. I just copied the template over because I like to commit early. I'll remove the draft status once it's ready 😊

[2021-04-15 13:44] geekygirlsarah commented on #107
Oh, I see! I know some people who do that. I saw the `WIP` but didn't see the draft status. That's fine!

Let me know if you have any questions. Also a minor update: You can delete all `name: "..."` fields in control_structures.json. They aren't needed anymore. There's also a new `comment: "..."` field you can add under each ID to add any details that aren't self-explanatory. Also docs.codethesaur

[2021-04-16 00:49] #67 closed, assigned to geekygirlsarah

[2021-04-16 01:00] #97 closed, assigned to nicholasbus

[2021-04-16 01:16] #106 closed, assigned to bmeverett

[2021-04-18 17:46] geekygirlsarah opened #184 "Function structures: Add keyword arguments"
# Description

Some languages like Ruby have the ability to add parameters out of order or as keywords.

As normal parameters:
`def function_name(param1, param2)   ...`
As keyword parameters:
`def function_name(name_of_param: param2, other_name: param1) ...`

# Requirements

Add these as additional IDs to the functions.json file

[2021-04-18 17:58] geekygirlsarah opened #185 "Functional structure: Add parameters with executable code"
# Description

In the functions structures, in languages like Ruby, you can add in executable code as a function argument:

[code]

where `block` would be a function that could be called within the function (and called by `block.call` or `yield`.)

# Requirements

Add executable code parameters/arguments into functions.json

[2021-04-18 18:07] geekygirlsarah opened #186 "Control structures: Add switches"
# Description

Switch statements need to be added to control_structures.json

[2021-04-18 18:12] geekygirlsarah opened #187 "Control structures: Add trailing conditionals"
# Description

Languages like Python and Ruby have the ability to add conditionals to the end of statements, like:

`return if arg.nil?`

Add this into control_structures.json file

[2021-04-18 19:11] geekygirlsarah opened #188 "Have CT link to documentation on each item"
# Description

Each file (maybe each ID?) should link to the appropriate place of documentation for that language.

# Requirements

Add it to each file, and discuss with @geekygirlsarah on if it should be per item, per category, or per file.

[2021-04-18 19:30] geekygirlsarah opened #190 "PR templates"
# Description

Sarah thought PR templates were added in. Did they disappear? Should they get added back in?

[2021-04-18 19:38] #101 closed, assigned to nobody

[2021-04-18 19:38] #113 closed, assigned to nobody

[2021-04-19 23:22] bmeverett opened #193 "Add All Contributors to track contributions"
# Description

Easily track contributions with a Github bot on the repo. You can define what people work on and can see what everyone contributed to in the README. You can also possible link to the README on the site, or even show the table somehow

# Requirements

Follow the instructions to install the bot for this repo https://allcontributors.org/docs/en/bot/installation
Once the bot is setup, y

[2021-04-28 14:05] cafce25 opened #194 "Error handling in control structures"
# Description

There is currently no category for error handling in the control structures files.

# Requirements

- Add a category for error control flow to [control_structures.json](https://github.com/codethesaurus/codethesaur.us/blob/8720117564bebcb6ce8067123423d235463f774c/web/thesauruses/_meta/control_structures.json)
- Add ids for typically found structures: `try, catch, finally`, `defer`, e

[2021-04-28 14:14] geekygirlsarah commented on #194
Good add! I thought about making error handling its own section, but it could go in control structures too.

[2021-04-28 15:35] cafce25 commented on #170
I'm currently looking into this. Is there a particular reason to do this client side with javascript? Cause python provides a great syntax highligting library with `pygments`. That way syntax highligting would also be available even if the user turns off javascript.

[2021-04-28 15:51] geekygirlsarah commented on #170
!!! I had no clue Python had one of these!

No, I'm not really swayed one way or another. If you want to go the Pygments route, I think I'd be fine with that.

[2021-04-28 20:53] cafce25 commented on #160
I did not realize this issue existed and was assigned to you @enisaras if you already have a fix for the c++ file and it conflicts with #197 I can remove the offending files.

[2021-04-28 21:04] cafce25 commented on #159
Like with #160 fixed it before I realized this was already assigned to @enisaras, let me know if any of those fixes conflict with work you have already done.

[2021-04-29 02:56] enisaras commented on #159
Hey @geekygirlsarah Im kinda busy atm, if this can wait until after my finals(May 11th) Ill be more than happy to redo this and add your suggestions, if not you can assign it to someone else.

[2021-05-02 04:58] #107 closed, assigned to kellydanma

[2021-05-02 05:13] #170 closed, assigned to nobody

[2021-05-02 05:50] #159 closed, assigned to enisaras

[2021-05-02 05:50] #160 closed, assigned to enisaras

[2021-05-02 06:04] #186 closed, assigned to nobody

[2021-05-02 19:27] geekygirlsarah commented on #190
This was closed with PR 202. I'm closing the issue too.

[2021-05-02 19:27] #190 closed, assigned to geekygirlsarah

[2021-05-02 19:36] geekygirlsarah commented on #17
I've decided to close this issue. While I like the pros of separate language data from the site itself, testing new language data means still needing the website repo and running the site locally, as well as if the language repo updated, it would still have to rebuild the site somehow. This is a lot of set up for not a lot of benefit, so for now I'm closing until I come up with a better idea.

[2021-05-02 19:36] #17 closed, assigned to geekygirlsarah

[2021-05-03 00:04] hypatian commented on #103
I'd like to take care of this. I'll have a question or two about how to approach something! (There are a few additional ways there can be different numbers of arguments in Scala.) But, I should be able to take care of the basics, anyway. :)

[2021-05-03 00:04] hypatian commented on #115
I'd like to take care of this!

[2021-05-03 00:27] geekygirlsarah commented on #103
Oh this would make me happy, both to have another thing and to see you involved!

A lot of things are answered in documentation (docs.codethesaur.us), but feel free to leave any questions or make a draft PR and we can work through them.

[2021-05-03 00:28] geekygirlsarah commented on #115
I'll give it to you too!

[2021-05-04 00:26] cafce25 opened #206 "Syntax highlighting does not work for PHP."
# Expected Behavior

PHP code should get the same syntax highlight treatment as other languages.

# Actual Behavior

All PHP code is just highlighted with the class 'x'

# Steps to Reproduce the Problem

1. Visit any page that includes PHP (i.e. [control structure reference](http://codethesaur.us/reference/?lang=php&concept=control_structures))
1. Observe there is no syntax highlighting and every

[2021-05-04 10:40] cafce25 opened #207 "The contributing links on the bottom don't work"
# Expected Behavior

The links at the bottom should link to the relevant json files.

# Actual Behavior

The links result in a 404 error page.

# Steps to Reproduce the Problem

1. Visit [a compare](http://codethesaur.us/compare/?concept=control_structures&lang1=python&lang2=haskell) or [a reference](https://codethesaur.us/reference/?concept=control_structures&lang=ada) page.
1. Scroll down to the

[2021-05-04 10:48] cafce25 commented on #207
It looks like `concept_id` used in the templates got renamed to just `id` we probably just need to replace the former with the latter in the [reference template](https://github.com/codethesaurus/codethesaur.us/blob/b23932b29bfa310fcca8af4ecebb1582d8bc0582/web/templates/reference.html#L54) and the [compare template](https://github.com/codethesaurus/codethesaur.us/blob/b23932b29bfa310fcca8af4ecebb15

[2021-05-04 11:01] cafce25 opened #208 "Remove need for Categories block from language JSON files"
# Description
The categories section in all the languages files look exactly like the ones in the respective _meta files (apart from not being up to date). I think it would make the language files easier to write & look cleaner if we just dropped this duplicate information.

# Additional Info
Now with #204 the need to signify concepts that are not implemented for a language is handled in the respe

[2021-05-05 00:19] hypatian commented on #187
Would it be better to add "trailing conditionals", or to instead have a concept for "light-weight conditionals"?

The moral equivalent of this in Ruby:
[code]
is this in Scala:
[code]
In ruby, doing this with a normal conditional is somewhat more verbose, which can make it useful for clarity to use the "trailing conditionals" construction:
[code]

So, I guess the question here is: Should concepts

[2021-05-05 00:28] hypatian opened #212 "Add concept descriptions to _meta files"
# Description

Add an English (and hopefully some day localized) description of each concept, so that it's clear from something other than examination of multiple language files what the concept is meant to embody. This is especially important when a concept hasn't been added yet for any programming languages, but also if different programming languages' examples seem to conflict with each other.

[2021-05-05 01:56] geekygirlsarah opened #213 "Add Markdown support for language file comments"
# Description

Some people have started adding Markdown-style notations to the comments property in language files.

# Requirements

1. Use a Python or JavaScript library to render Markdown on comments
2. Display them correctly in the templates (compare and reference)
3. Test it to make sure it works

# Additional Notes

If there's several options that are found for this, feel free to ask about th

[2021-05-05 02:02] geekygirlsarah commented on #212
I'm adding "help wanted" to this because I'd love the help, but I also imagine this needs to be thought through and discussed.

(Also I'd love to add internationalization at some point. I've been trying to keep that in mind as I'm adding various pieces to this project.)

[2021-05-05 02:03] geekygirlsarah commented on #208
Yeah, I agree. I was thinking about this the other day. At some point, the docs site needs to be updated to reflect no "name", adding "not implemented", adding "comment", and to remove categories.

[2021-05-05 02:07] geekygirlsarah commented on #206
Oh good catch! Thanks!

[2021-05-05 02:18] geekygirlsarah commented on #187
Oh good point! This came up in one of the Twitch streams where we were working on adding Ruby. You have a good point too.

I'll come back to this when I don't have as much day-job stuff to do!

[2021-05-09 05:51] kellydanma opened #215 "Add Go switch statement"
# Description

Go is missing the switch/case statement.

# Requirements

- [ ] Add code example for switch statement.

# Additional Notes

[2021-05-14 00:03] geekygirlsarah opened #217 "Anonymous functions in meta language should add return types"
## Description
In the Functions meta language, there's descriptions of a variety of functions and how they take in parameters and how they return things.

There's a few descriptions for anonymous functions. They have some descriptions of how to take parameters but not how to have return types (or lack thereof). This issue is to add in those concepts.

See: https://codethesaur.us/reference/?concept

[2021-05-14 00:36] geekygirlsarah opened #219 "Add signed vs unsigned numerical types"
# Missing Concepts

For the meta structure data types file:

For numerical data types, ints, floats, etc. can often be separated by signed or unsigned types. They should be split out.

[2021-05-16 15:47] juancarlospaco commented on #219
I dont know if "Subranges" (aka "Ranges") should be considered in the future, Nim has a type you can use for ordinal data,
and the compiler makes sure it cant take higher nor lower values than the type allows, examples:
https://play.nim-lang.org/#ix=3n0x

[2021-05-20 06:40] geekygirlsarah commented on #22
Fixed with 9cbb6c3 and 64f3a2f .

[2021-05-20 06:40] #22 closed, assigned to nobody

[2021-05-20 06:43] geekygirlsarah commented on #145
Fixed with a9f2f6a, f2f0fd6, f26c71b, 3b866f5, 7086a66, 2362a8d, 78e9616.

[2021-05-20 06:43] #145 closed, assigned to geekygirlsarah

[2021-05-20 06:59] geekygirlsarah commented on #53
Closing as no one implemented this along with #54, but it was essentially solved another way.

[2021-05-20 06:59] #53 closed, assigned to nobody

[2021-05-20 07:12] geekygirlsarah commented on #54
Closing #82 and closing #53 means this should be closed as well. (See reasoning why in #82.)

[2021-05-20 07:12] #54 closed, assigned to jwalter

[2021-05-20 19:31] CandyAngel opened #225 "Add Perl language"
Heyas! Rachel Singh linked me to this project and I noticed there is no Perl!
I would like to fix this clearly egregious oversight :P

In all seriousness, I would like to contribute/claim a "Perl" side of this project.
I really like "Rosetta Stone" type things as I often code in languages I don't know, so this project really appeals!

Is this something you'd be interested in accepting?

[2021-05-20 20:47] geekygirlsarah commented on #103
Merged PR but didn't link this issue with it, so closing the issue now.

[2021-05-20 20:47] #103 closed, assigned to hypatian

[2021-05-20 20:53] #215 closed, assigned to nobody

[2021-05-20 20:55] #93 closed, assigned to nobody

[2021-05-21 02:33] wilkie commented on #207
Fixed in #227 .

[2021-05-21 02:36] #207 closed, assigned to wilkie

[2021-05-21 02:46] geekygirlsarah commented on #225
Oh hey @CandyAngel! I should thank Rachel for passing you along!

I absolutely would love Perl in here! You can tackle it all in one PR or make separate ones for each concept/structure you're adding.

I have docs over at https://docs.codethesaur.us, but they're a bit out of date. (I'm going to try to update them this week/weekend.)  The nutshell is:

- in `web/thesauruses`, add a `perl` directory

[2021-05-21 04:20] geekygirlsarah opened #228 "Add char to data types"
# Language

Meta language (`_meta` folder)

# Add field

`char` to Strings category

# Additional info

If there are other data types similar to this that need to be added, either add them or discuss it in the comments on this issue.

[2021-05-21 05:44] geekygirlsarah opened #229 "Compare/Reference function loops over categories and should only loop over concepts"
# Expected Behavior

Individual data files for each language shouldn't need categories implemented at all

# Actual Behavior

Meta language categories and concepts are read in. Then it loops through the language category, then through concepts.

# Steps to Reproduce the Problem

See lines 216-230 in views.py

# Additional Info

This is more Python-heavy and may not be easy for non-Python devs.

[2021-05-21 05:50] geekygirlsarah commented on #229
Closing as it's the same as #208.

[2021-05-21 05:53] #229 closed, assigned to nobody

[2021-05-21 06:02] geekygirlsarah opened #230 "Language and/or concepts that don't exist should have better error pages"
# Expected Behavior

Language or concept that doesn't exist should return a nice 404 error

# Actual Behavior

Page shows up with one line saying the language or concept doesn't exist.

# Steps to Reproduce the Problem

1. (as of the moment) Under compare, choose Data Types and one of the languages is Go. (Pick any other language)

[2021-05-21 06:49] #219 closed, assigned to nobody

[2021-05-21 17:10] #115 closed, assigned to hypatian

[2021-05-30 10:54] CandyAngel commented on #225
I spent some time yesterday and went through this (sorry for the delay, last week was pretty rough) and added all the things that are provided explicitly by Perl (as language features) and some things came up.

What does "Not implemented in this language" mean exactly? Is it "not a language feature", "not possible to do" or "not implemented in the thesaurus"? Should I be adding things that can be

[2021-06-02 14:03] geekygirlsarah commented on #225
I saw this comment passed through my email and I haven't forgotten to answer! Just been a bit busy around the edges of work and all that. I'll try to get to answer all the questions tonight or tomorrow.

I appreciate the thoughtfulness that went into it!

[2021-06-07 23:26] geekygirlsarah commented on #225
This means that this feature is a thing you can look up on Code Thesaurus, but doesn't necessarily mean the language can do it. So not all languages can do all things other languages can, so this is a way of marking in the file "we're looked at this in the file, and this language can't do it."

Yes! If the core language can do it, please add it. I'm generally leaving it up to the individual implem

[2021-06-07 23:35] #155 closed, assigned to 3dvkr

[2021-06-07 23:59] #206 closed, assigned to geekygirlsarah

[2021-06-08 00:05] geekygirlsarah commented on #228
This was resolved in a524d4851720e33f6f121caad1c86ffbf3f488e6 . So I'm closing it!

[2021-06-08 00:05] #228 closed, assigned to nobody

[2021-07-12 04:43] geekygirlsarah opened #235 "Add Bash script data types"
# Description

The Bash scripting language is presently not on Code Thesaurus. I would love to see this added and the data types concept added to CT.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to a `web/thesauruses/bash/` directory
* Edit the data_types.json file to accurately reflect Bash and the latest major version of it.

# Additional Notes

Please leave comments on this i

[2021-07-12 04:44] geekygirlsarah opened #236 "Add Bash functions"
# Description

The Bash scripting language is presently not on Code Thesaurus. I would love to see this added and the functions concept added to CT.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to a `web/thesauruses/bash/` directory
* Edit the data_types.json file to accurately reflect Bash and the latest major version of it.

# Additional Notes

Please leave comments on this is

[2021-07-12 04:47] geekygirlsarah opened #237 "Add Bash control structures"
# Description

The Bash scripting language is presently not on Code Thesaurus. I would love to see this added and the control structures concept added to CT.

# Requirements

* Copy `web/thesauruses/_meta/data_types.json` to a `web/thesauruses/bash/` directory
* Edit the data_types.json file to accurately reflect Bash and the latest major version of it.

# Additional Notes

Please leave comments o

[2021-07-14 05:41] cfilipiak31 commented on #236
I started working this. Should be submitting PR soon

[2021-07-14 13:47] geekygirlsarah commented on #236
Great! I can take a look at the PR a little later today.

Thank you!

[2021-08-13 19:58] #230 closed, assigned to geekygirlsarah

[2021-08-14 15:29] geekygirlsarah opened #242 "404 error pages sometimes have incorrect descriptive text"
# Expected Behavior

For issues of a concept and language not being implemented in a .json file yet, the page should say that.

# Actual Behavior

It says the language isn't valid.

# Steps to Reproduce the Problem

1. On the home page, choose something that doesn't exist, like Classes, C++, and Scala. (At least, as of Aug 14)
1. The resulting page says "The first language (cpp) isn't valid"

# Ad

[2021-08-14 15:36] geekygirlsarah opened #243 "404 error pages should include details to add language data"
# Description

When someone looks up a concept in a language, and it doesn't exist yet, it will show a 404 error page that tells that it's missing. I would like the page to show how to contribute that information if the user would like, both the documentation reference and what the file would be in Github.

# Requirements

* The error page should still display an error.
* Below that, it should off

[2021-08-14 15:38] geekygirlsarah commented on #225
Hey @CandyAngel! I was reviewing the issues and trying to make sure they were all up to date. How is this one coming along? Have you made any progress? Do you have any questions?

[2021-08-14 22:52] felis-blue commented on #242
I've had a look at this and I'd like to give it a shot!

[2021-08-15 02:25] geekygirlsarah commented on #242
Consider it yours! If you have any questions, let me know!

[2021-08-15 17:28] #242 closed, assigned to felis-blue

[2021-08-21 15:07] geekygirlsarah opened #245 "Change links on bottom of lookup pages to go to GitHub's editor"
# Description

Links right now to go the file on GitHub. Those links could go to the editor instead

Ex:
Before: https://github.com/codethesaurus/codethesaur.us/blob/main/web/thesauruses/csharp/data_types.json
After: https://github.com/codethesaurus/codethesaur.us/edit/main/web/thesauruses/csharp/data_types.json

# Requirements

* Change the file in compare.html and reference.html to reflect this

[2021-08-21 16:37] himanshu007-creator commented on #245
hi, I would like to work on this issue🙂

[2021-08-21 16:38] geekygirlsarah opened #246 "Logical and mathematical/arithmetic operators"

[2021-08-21 16:45] #246 closed, assigned to nobody

[2021-08-21 17:16] geekygirlsarah commented on #245
@himanshu007-creator great! I'll assign you. Let me know if you have any questions!

[2021-08-22 02:47] unnati914 commented on #135
could i work on this?

[2021-08-22 02:54] geekygirlsarah commented on #135
Yeah, have at it! If you have any questions, let me know!

[2021-08-22 09:59] unnati914 commented on #243
could i work on this?

[2021-08-22 16:20] geekygirlsarah commented on #243
Yep, I'll assign you! Look at https://docs.codethesaur.us if you want some explanation on the meta info files, or feel free to ask any questions here too!

[2021-08-22 16:35] unnati914 commented on #243
What i could configure is firstly i have to remove error 404, maybe through meta tags and then add info to add meta data?
Is my approach correct?

[2021-08-22 16:36] unnati914 commented on #243
okay i need not to remove error

[2021-08-22 18:30] aryasoni98 opened #249 "Upgrade README File"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1. More Attractive
2. More description

# Additional Info

[2021-08-22 18:34] aryasoni98 commented on #193
Could i work on this?

[2021-08-27 19:33] #245 closed, assigned to himanshu007-creator

[2021-09-09 09:27] Swastik2000 commented on #96
I want to work on this issue. I have just completed my advanced JAVA course. That's why I think I can help you with this issue.

[2021-09-09 18:41] geekygirlsarah commented on #96
I'll pass it along to you then. Let me know if you have any questions, and look at docs.codethesaur.us for some instructions.

[2021-09-10 03:25] geekygirlsarah commented on #193
I've been rolling this around in my head as I like the idea of this, but I'd probably rather have it as a page on the site, not adding to the readme (or other file). I'm looking into options on this and seeing what I might want. I do appreciate the suggestion @bmeverett and the willingness to work on it @aryasoni98! I'll comment back here when I figure out what I'm thinking.

[2021-09-12 03:19] geekygirlsarah commented on #225
@CandyAngel, last call for this. Did you still want to work on this? I'd be happy to have the contributions! If not, I'll keep the issue but unassign you so others could maybe work on this. (You could always pick it back up later.)

Let me know, and thanks!

[2021-09-15 06:16] ashish-patwal commented on #235
Hey @geekygirlsarah i would love to work on this issue .

[2021-09-16 17:44] Swastik2000 commented on #96
@geekygirlsarah
I'm new to Docker, and the page on my localhost runs fine after making the docker container.
The problem is when I make a change of code to the function.json file after transferring from `web/thesauruses/_meta/functions.json` to  `web/thesauruses/java/directory`
and refresh, the site doesn't change.
I've seen people saying to rebuild the image so I stoped the container by pressing

[2021-09-16 19:11] geekygirlsarah commented on #96
Last time I checked, Docker should pull in code changes automatically, no need to rebuild it. So I'm thinking that's not the problem.

Do you have a branch somewhere I could look at to see what's happening? You could also make a draft pull request too and I could look at that.

[2021-09-21 02:34] geekygirlsarah opened #254 "Add Strings concept to CT"
Create the meta files needed for languages to implement strings.

[2021-09-21 02:37] #254 closed, assigned to geekygirlsarah

[2021-09-24 05:15] arpit-omprakash commented on #87
Hi @geekygirlsarah ! If this issue is still not resolved, can I work on this?

[2021-09-26 16:14] #236 closed, assigned to cfilipiak31

[2021-09-26 16:24] geekygirlsarah commented on #87
Hey @aceking007! Yeah, I can pass this over to you. I revised the description a bit to hopefully be a bit more helpful. Let me know if you have any questions!

[2021-09-26 16:33] geekygirlsarah commented on #96
Hi @Swastik2000, what's the latest status on this? Is this working? Do you need any help?

[2021-09-26 23:13] geekygirlsarah commented on #212
This was fixed a few months ago in #241, so I'm closing it.

Thanks @hypatian for adding this!

[2021-09-26 23:13] #212 closed, assigned to nobody

[2021-09-26 23:36] geekygirlsarah commented on #249
@aryasoni98 can you elaborate more on what you mean? Do you have specific suggestions to make it more attractive or descriptive?

[2021-09-27 16:34] arpit-omprakash commented on #87
Hi @geekygirlsarah! Thanks for assigning the issue to me. The revised description is more helpful than the previous one. However, I still have doubts about the `"name"` field.
You don't want the `"name"` fields in the final PR right?

P.S. the link to contributing.md is malfunctioning in the description of the issue above. I found the doc, but you may consider fixing the link.

[2021-09-27 17:56] geekygirlsarah commented on #87
The "names" are pulled from the meta language files (in /web/thesauruses/_meta/) so they're not needed in the individual language files. (they're ignored if left in.) We've generally left them out.

And I'll check on the contributing link, thanks! (it's on other issues from copy/paste so I'll make sure they're right too)

[2021-09-27 18:11] Swastik2000 commented on #96
Hi, @geekygirlsarah sorry for the delay. I will create a pr within this week. Since few days my health condition was not that good due to which there was no progress in this issue.

[2021-09-30 14:41] arpit-omprakash commented on #87
Hi @geekygirlsarah ! I'm almost done with the changes. I will test them locally, push them, and make a PR by tomorrow.

Meanwhile, is it okay if I ask to be assigned for other issues on this repo?

[2021-09-30 15:14] geekygirlsarah commented on #87
Yeah! If you're cool with it,I I'm cool with it. Just leave a comment on the one(s) you want to be tagged on. There's a few things that haven't been added to issues yet (like strings in all languages) which you can make if you want.

[2021-09-30 15:36] arpit-omprakash commented on #235
Hey @geekygirlsarah I would like to work on this for hacktoberfest

[2021-09-30 15:43] arpit-omprakash commented on #237
Hi @geekygirlsarah ! I'd like to work on this one too!

[2021-09-30 16:38] geekygirlsarah commented on #235
Consider it yours! Let me know if you have any questions!

[2021-09-30 16:38] geekygirlsarah commented on #237
You can have this one too! Let me know if there's any questions!

[2021-09-30 16:39] geekygirlsarah commented on #235
For Hacktoberfest, make sure your PR is made on or after Oct 1

[2021-09-30 17:02] arpit-omprakash commented on #87
Hey @geekygirlsarah I'm not sure what to fill in the "what type of PR is this question" for this issue. Any suggestions?
The question is as follows:

## 📝 What type of PR is this? (check all applicable)

- [ ] Refactor
- [x] Feature
- [ ] Bug Fix
- [ ] Optimization
- [ ] Documentation Update

[2021-09-30 17:16] geekygirlsarah commented on #87
Oh I usually just do "feature". I think I'm eventually taking those checkmarks off.

[2021-10-01 04:19] arpit-omprakash commented on #235
Hey @geekygirlsarah, I think the data types might be incomplete.
Bash offers only a single data type which is a "character string" - basically a string but it is not internally represented as an object or array, but the data_types.json file only offers these two types of string. I think we need to expand the types in the data_types.json file.
For the purpose of this issue, I am submitting a PR wit

[2021-10-01 04:36] arpit-omprakash commented on #237
Hey @geekygirlsarah, for this issue also do I need to remove the `"name"` fields?

Update: I tested the site locally, it seems to work without the name fields. So I am removing them for the PR.

[2021-10-01 19:37] geekygirlsarah commented on #235
I'll take a look later, but if a data type is missing, then it should be added to the meta language's data_types.json file so it can be properly compared across any language. (So don't try to add a new concept into Bash's file.) If you do edit a meta one, explain the problem in an issue or in the PR directly, and make it a separate PR from doing the Bash one.

(I'm at a conference today so I haven

[2021-10-02 04:35] arpit-omprakash commented on #235
No issues. Take your time. I haven't added any new concepts/data types.
Later, I may add an issue and work on it once I get a bit more familiar with the project.

[2021-10-02 18:46] gildedgardenia commented on #90
Hey! I think I can help with this issue!

[2021-10-02 19:54] geekygirlsarah commented on #90
Yay! I'm glad to meet you and happy you're doing this!

Let me know if you have any questions!

[2021-10-03 00:20] aedwardg commented on #104
@geekygirlsarah I can tackle this one.

[2021-10-03 04:17] #87 closed, assigned to arpit-omprakash

[2021-10-03 04:23] #235 closed, assigned to arpit-omprakash

[2021-10-03 04:46] #237 closed, assigned to arpit-omprakash

[2021-10-03 05:37] #104 closed, assigned to aedwardg

[2021-10-03 06:13] carlqt commented on #91
Hi, I would like to take a stab at this issue

[2021-10-03 17:09] pranatimittal commented on #217
Hey can you explain this issue? Maybe I could help

[2021-10-04 22:31] geekygirlsarah commented on #217
@pranatimittal Good point, this was written pretty badly. I think I threw it in real quick as a reminder to myself but didn't ever really elaborate on it more.

I revised the description along with screenshots and requirements. Hopefully this helps!

Let me know if you want to work on it.

[2021-10-04 23:17] geekygirlsarah commented on #249
@aryasoni98 I'm going to close this issue since I haven't heard back from you. I'll be happy to reopen it if you have some constructive suggestions we can do to make it better!

[2021-10-04 23:17] #249 closed, assigned to nobody

[2021-10-04 23:46] geekygirlsarah opened #262 "Upgrade Bootstrap and Font Awesome libraries"
# Description

To help improve Lighthouse scores, part of what is needed is to upgrade the libraries for Bootstrap and Font Awesome.

This WILL break things, so it is its own issue now.

# Requirements

1. Upgrade the libraries to the latest version
2. (Optional) Convert them to locally hosted instead of CDN hosted, if needed
3. Upgrade/fix any components that break because of this

# Additional N

[2021-10-04 23:55] geekygirlsarah opened #263 "Rename thesaurus folders to reflect language version numbers"
# Description

In `web/thesauruses/`, all the folders just consist of the name of the language. This issue is to allow for things like `python2` and `python3` to exist to allow for comparing language versions too.

# Requirements

1. The easy part: rename the folders to their latest _major_ versions. So `python` to `python3` is fine. `python` to `python391` or `python3.9.1` is not.
2. Update `web/

[2021-10-04 23:56] geekygirlsarah opened #264 "[Ada] Add Classes"
# Description

Classes for Ada aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-04 23:57] geekygirlsarah opened #265 "[Bash] Add classes"
# Description

Classes for Bash aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-04 23:58] geekygirlsarah opened #266 "Add C++ Classes"
# Description

Classes for C++ aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-04 23:59] geekygirlsarah opened #267 "Add C# Classes"
# Description

Classes for C# aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/classes.json` to the right C# directory in `web/thesauruses/`
* Edit the classes.json file to accurately reflect the latest major version of C#
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explain some

[2021-10-05 00:00] geekygirlsarah opened #268 "[Go] Add Classes"
# Description

Classes for Go aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file i

[2021-10-05 00:01] geekygirlsarah opened #269 "[Haskell] Add Classes"
# Description

Classes for Haskell aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that f

[2021-10-05 00:04] geekygirlsarah opened #270 "Add Java Classes"
# Description

Classes for Java aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/classes.json` to the right Java directory in `web/thesauruses/`
* Edit the classes.json file to accurately reflect the latest major version of Java
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explai

[2021-10-05 00:05] geekygirlsarah opened #271 "[JavaScript] Add Classes"
# Description

Classes for JavaScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save tha

[2021-10-05 00:07] geekygirlsarah opened #272 "Add PHP Classes"
# Description

Classes for PHP aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/classes.json` to the right PHP directory in `web/thesauruses/`
* Edit the classes.json file to accurately reflect the latest major version of PHP
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explain s

[2021-10-05 00:08] geekygirlsarah opened #273 "Add Python Classes"
# Description

Classes for Python aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/classes.json` to the right Python directory in `web/thesauruses/`
* Edit the classes.json file to accurately reflect the latest major version of Python
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to

[2021-10-05 00:09] jiana-dev commented on #269
Hello! This is a really cool concept. Can I take this issue?

[2021-10-05 00:12] jiana-dev commented on #271
Can I take this issue please? :)

[2021-10-05 00:15] gildedgardenia commented on #89
Hey! I think I can help with this one too!

[2021-10-05 01:30] aitorres commented on #213
Hello! I'm interested in working on this issue :-)

[2021-10-05 01:33] geekygirlsarah commented on #269
Yeah, feel free to take it!

There's a bit of documentation, so feel free to look over that. Let me know if you have any questions those don't answer!

[2021-10-05 01:39] geekygirlsarah commented on #271
Yep! I'll let you have it too.

Let me know if you have any questions!

[2021-10-05 01:44] geekygirlsarah commented on #213
Sure! Feel free to read over the documentation, and ask me if you have any questions!

[2021-10-05 01:44] geekygirlsarah commented on #89
Sweet! I'll let you have it. Again, let me know if you have any questions!

[2021-10-05 01:53] geekygirlsarah opened #275 "Add Ruby Classes"
# Description

Classes for Ruby aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/classes.json` to the right Ruby directory in `web/thesauruses/`
* Edit the classes.json file to accurately reflect the latest major version of Ruby
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explai

[2021-10-05 01:54] geekygirlsarah opened #276 "[Rust] Add Classes"
# Description

Classes for Rust aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-05 01:54] geekygirlsarah opened #277 "[Scala] Add Classes"
# Description

Classes for Scala aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that fil

[2021-10-05 01:55] geekygirlsarah opened #278 "Add Swift Classes"
# Description

Classes for Swift aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/classes.json` to the right Swift directory in `web/thesauruses/`
* Edit the classes.json file to accurately reflect the latest major version of Swift
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to exp

[2021-10-05 01:56] geekygirlsarah opened #279 "Add TypeScript Classes"
# Description

Classes for TypeScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/classes.json` to the right TypeScript directory in `web/thesauruses/`
* Edit the classes.json file to accurately reflect the latest major version of TypeScript
* Delete the `"name":` fields before your PR
* Add in `"comment":` if

[2021-10-05 02:01] geekygirlsarah opened #280 "Add Ada Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Ada aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/lists.json` to the right Ada directory in `web/thesauruses/`
* Edit the lists.json file to accurately reflect the latest major version of Ada
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to e

[2021-10-05 02:01] geekygirlsarah opened #281 "[Bash] Add Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Bash aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sa

[2021-10-05 02:02] geekygirlsarah opened #282 "[C++] Add Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for C++ aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sav

[2021-10-05 02:03] geekygirlsarah opened #283 "Add C# Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for C# aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/lists.json` to the right C# directory in `web/thesauruses/`
* Edit the lists.json file to accurately reflect the latest major version of C#
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to expl

[2021-10-05 02:03] geekygirlsarah opened #284 "Add Go Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Go aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/lists.json` to the right Go directory in `web/thesauruses/`
* Edit the lists.json file to accurately reflect the latest major version of Go
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to expl

[2021-10-05 02:05] geekygirlsarah opened #286 "[Java] Add Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Java aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sa

[2021-10-05 02:08] somya-15 commented on #270
Hello! I (Somya-15) am interested in working on this issue.

[2021-10-05 02:10] geekygirlsarah opened #287 "[JavaScript] Add Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for JavaScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use

[2021-10-05 02:11] geekygirlsarah opened #288 "Add Objective-C Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Objective-C aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/lists.json` to the right Objective-C directory in `web/thesauruses/`
* Edit the lists.json file to accurately reflect the latest major version of Objective-C
* Delete the `"name":` fields before your PR
* Add in `"com

[2021-10-05 02:12] geekygirlsarah opened #289 "Add PHP Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for PHP aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/lists.json` to the right PHP directory in `web/thesauruses/`
* Edit the lists.json file to accurately reflect the latest major version of PHP
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to e

[2021-10-05 02:12] geekygirlsarah opened #290 "Add Python Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Python aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/lists.json` to the right Python directory in `web/thesauruses/`
* Edit the lists.json file to accurately reflect the latest major version of Python
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you

[2021-10-05 02:13] geekygirlsarah opened #291 "[Ruby] Add Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Ruby aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sa

[2021-10-05 02:13] somya-15 commented on #266
Hello! I (Somya-15) am interested in working on this issue.

[2021-10-05 02:13] geekygirlsarah opened #292 "[Rust] Add Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Rust aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sa

[2021-10-05 02:14] geekygirlsarah opened #293 "[Scala] Add Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Scala aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* S

[2021-10-05 02:14] geekygirlsarah opened #294 "Add Swift Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for Swift aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/lists.json` to the right Swift directory in `web/thesauruses/`
* Edit the lists.json file to accurately reflect the latest major version of Swift
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wis

[2021-10-05 02:15] geekygirlsarah opened #295 "Add TypeScript Lists/Arrays/Hashes"
# Description

Lists/Arrays/Hashes for TypeScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/lists.json` to the right TypeScript directory in `web/thesauruses/`
* Edit the lists.json file to accurately reflect the latest major version of TypeScript
* Delete the `"name":` fields before your PR
* Add in `"commen

[2021-10-05 02:16] geekygirlsarah commented on #270
Yeah! I'll assign you. Look over the docs, and let me know if you have any questions!

[2021-10-05 02:16] geekygirlsarah commented on #266
Sure, I'll give you this one too! Same thing: feel free to look at the docs, and let me know if you need any help or have questions!

[2021-10-05 02:32] #213 closed, assigned to aitorres

[2021-10-05 03:32] abxhr commented on #290
I would love to work on this! 🚀

[2021-10-05 04:31] geekygirlsarah commented on #290
Sure! Feel free to read over the docs, and let me know if you need any help or have any questions!

[2021-10-05 04:35] geekygirlsarah opened #296 "Add Ada Logic/Math Operators"
# Description

Logic/Math Operators for Ada aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Ada directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Ada
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you

[2021-10-05 04:37] geekygirlsarah opened #297 "Add Bash Logic/Math Operators"
# Description

Logic/Math Operators for Bash aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Bash directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Bash
* Delete the `"name":` fields before your PR
* Add in `"comment":` if y

[2021-10-05 04:38] geekygirlsarah opened #298 "Add C++ Logic/Math Operators"
# Description

Logic/Math Operators for C++ aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right C++ directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of C++
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you

[2021-10-05 04:39] geekygirlsarah opened #299 "Add C# Logic/Math Operators"
# Description

Logic/Math Operators for C# aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right C# directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of C#
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wis

[2021-10-05 04:40] geekygirlsarah opened #300 "Add Go Logic/Math Operators"
# Description

Logic/Math Operators for Go aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Go directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Go
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wis

[2021-10-05 04:42] geekygirlsarah opened #301 "Add Haskell Logic/Math Operators"
# Description

Logic/Math Operators for Haskell aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Haskell directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Haskell
* Delete the `"name":` fields before your PR
* Add in `"commen

[2021-10-05 04:43] geekygirlsarah opened #302 "Add Java Logic/Math Operators"
# Description

Logic/Math Operators for Java aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Java directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Java
* Delete the `"name":` fields before your PR
* Add in `"comment":` if y

[2021-10-05 04:44] geekygirlsarah opened #303 "Add JavaScript Logic/Math Operators"
# Description

Logic/Math Operators for JavaScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right JavaScript directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of JavaScript
* Delete the `"name":` fields before your PR
* Add in

[2021-10-05 04:45] geekygirlsarah opened #304 "Add Nim Logic/Math Operators"
# Description

Logic/Math Operators for Nim aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Nim directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Nim
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you

[2021-10-05 04:46] geekygirlsarah commented on #304
@juancarlospaco Don't know if you're interested in this or not...

[2021-10-05 04:47] geekygirlsarah opened #305 "Add Objective-C Logic/Math Operators"
# Description

Logic/Math Operators for Objective-C aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Objective-C directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Objective-C
* Delete the `"name":` fields before your PR
* Add

[2021-10-05 04:49] geekygirlsarah opened #306 "Add PHP Logic/Math Operators"
# Description

Logic/Math Operators for PHP aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right PHP directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of PHP
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you

[2021-10-05 04:49] geekygirlsarah opened #307 "Add Python Logic/Math Operators"
# Description

Logic/Math Operators for Python aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Python directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Python
* Delete the `"name":` fields before your PR
* Add in `"comment":

[2021-10-05 04:50] geekygirlsarah opened #308 "[Ruby] Add Logic/Math Operators"
# Description

Logic/Math Operators for Ruby aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* S

[2021-10-05 04:51] geekygirlsarah opened #309 "Add Rust Logic/Math Operators"
# Description

Logic/Math Operators for Rust aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Rust directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Rust
* Delete the `"name":` fields before your PR
* Add in `"comment":` if y

[2021-10-05 04:52] geekygirlsarah opened #310 "Add Scala Logic/Math Operators"
# Description

Logic/Math Operators for Scala aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Scala directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Scala
* Delete the `"name":` fields before your PR
* Add in `"comment":` i

[2021-10-05 04:53] geekygirlsarah opened #311 "Add Swift Logic/Math Operators"
# Description

Logic/Math Operators for Swift aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right Swift directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of Swift
* Delete the `"name":` fields before your PR
* Add in `"comment":` i

[2021-10-05 04:53] geekygirlsarah opened #312 "Add TypeScript Logic/Math Operators"
# Description

Logic/Math Operators for TypeScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/operators.json` to the right TypeScript directory in `web/thesauruses/`
* Edit the operators.json file to accurately reflect the latest major version of TypeScript
* Delete the `"name":` fields before your PR
* Add in

[2021-10-05 04:54] Blastoise commented on #297
I would like to work on this issue. Assign this to me.

[2021-10-05 05:02] geekygirlsarah commented on #297
Sure! Look over the docs, and let me know if you have any questions or need any help!

[2021-10-05 05:31] Ranjana-Kambhammettu commented on #298
Hello, I would like to work on this issue, please assign it to me, thanks!

[2021-10-05 05:54] vinayak0127 commented on #302
Can I work on this issue?

[2021-10-05 06:02] RiyaM16 commented on #307
Hi @geekygirlsarah!
I'd like to work on this.

[2021-10-05 06:31] fla-t commented on #303
I will try to complete it today, can u assign it to me?

[2021-10-05 06:33] fla-t commented on #312
Please assign it to me, I am working on it right now.

[2021-10-05 06:35] NaimaGhulamMuhammad commented on #303
@geekygirlsarah I would like to work on it.... can you assign it to me

[2021-10-05 06:48] bug-author commented on #309
Can I be assigned this issue? I'll try my best to meet the expectations :)

[2021-10-05 07:03] TusharSharmaIN commented on #291
hey, please assign me this, i am trying to learn ruby for my project, this will help

[2021-10-05 07:12] ujju20 commented on #307
Can I work on this issue?

[2021-10-05 07:13] ujju20 commented on #298
Can You assign me this issue?

[2021-10-05 07:26] TusharSharmaIN commented on #308
hey, please assign me this, i am trying to learn ruby for my project, this will help

[2021-10-05 10:17] SrishtiArya07 commented on #282
@geekygirlsarah can I work on this issue?

[2021-10-05 11:14] Rutujabadve commented on #311
Please assign me this.

[2021-10-05 12:35] juancarlospaco commented on #304
### Division

So in Nim you have 2 kinds of Division, normal division and integer division:

[code]

Python also has this too (`/` and `//`).

But the JSON only has 1.

### Unary minus

Unary minus and unary plus is also missing, the ones to make a number positive or negative,
without sum nor substract 2 numbers. Example `-9` and `+8`.

But the JSON has none.

[2021-10-05 13:25] geekygirlsarah commented on #302
Sure! I'll assign you. Look over the docs and let me know if you need help or have any questions!

[2021-10-05 13:28] geekygirlsarah commented on #312
Yeah, I'll give it to you (though you seem to have already done it, lol). I'd say let me know if you have any questions, but you might not have any at this point.

[2021-10-05 13:36] geekygirlsarah commented on #303
Uh oh, two of you wanted it and already worked on it. I think @untamedImpala asked first and already made a PR, so I'll give it to you.

(Sorry @NaimaGhulamMuhammad ! There's some other JS issues as well, and there's working on strings that I'll make an issue for today if you want it)

[2021-10-05 13:37] geekygirlsarah commented on #309
Hey @shy-tan , yeah you can have it. Feel free to look over the docs, and let me know if you need help or have any questions!

[2021-10-05 13:38] geekygirlsarah commented on #291
Hey @TusharSharmaIN , yeah! I was hoping there'd be some people learning languages that wanted to work on this!

Feel free to look over the documentation and ask me if you have any questions or need any help. Thanks!

[2021-10-05 13:49] geekygirlsarah commented on #307
Hey @RiyaM16 , you commented first so I'll let you have it. Feel free to look over the docs and let me know if you have any questions!

@ujju20 There's a couple of other Python issues still, I think, and I'm about to make one for all the languages in strings, so you can look for that today too if you still want to contribute.

[2021-10-05 13:51] geekygirlsarah commented on #298
Hey @Ranjana-Kambhammettu, yeah, you can have it (though I also see you already made a PR).

@ujju20 there's some other C++ issues as well, and I'll be adding one to go over strings too if you're interested in that!

[2021-10-05 14:03] geekygirlsarah commented on #308
Hey @TusharSharmaIN, yeah, you can work on this one too! Again, let me know if you have any questions or need any help!

[2021-10-05 14:17] geekygirlsarah commented on #282
@SrishtiArya07 yeah, consider it yours! Look over the documentation and let me know if you have any questions or need any help!

[2021-10-05 14:17] geekygirlsarah commented on #311
Hey @Rutujabadve , you can have it (though I see you already did it).

[2021-10-05 14:24] geekygirlsarah commented on #304
Oooh, interesting about the division and good point about the unary operators. I'll edit the meta language file then to mention this.

[2021-10-05 14:25] geekygirlsarah opened #319 "Update meta operators file to add division types and unary operators"
### Division

So in Nim you have 2 kinds of Division, normal division and integer division:

[code]

Python also has this too (`/` and `//`).

But the JSON only has 1.

### Unary minus

Unary minus and unary plus is also missing, the ones to make a number positive or negative,
without sum nor substract 2 numbers. Example `-9` and `+8`.

But the JSON has none.

_Originally posted by @juancarlospaco

[2021-10-05 14:42] ujju20 commented on #298
Ya I am Interested in that.

[2021-10-05 15:07] geekygirlsarah opened #321 "Add database to track lookups"
# Description

There's no tracking on CT (and I don't plan to ever add Google Analytics or anything). However, I'd like to do at least a bit of anonymous info gathering on what people are looking up, what they're comparing, what they're referencing, and other info. I think it might produce some interesting stats!

# Requirements

- [x] 1. Add back in the database components you took out
- [x] 2. H

[2021-10-05 15:09] amitpant14 commented on #273
Hi @geekygirlsarah please assign this issue to me.

[2021-10-05 15:18] geekygirlsarah opened #322 "Add additional Github Actions to automate some JSON reviewing"
# Description

Nothing presently validates any of the JSON language files to see if they're either syntactically correct files. This should be a thing.

(I have started on this.)

# Requirements

- [ ] Runs on PR to ensure valid syntax
- [ ] Also update unit test action with latest versions

[2021-10-05 15:31] lsparlin commented on #184
👋 Hi! I'd like to work on this

[2021-10-05 15:35] shrey-ya commented on #286
Hey! @geekygirlsarah can I work on this?

[2021-10-05 15:43] splashley commented on #262
Hey @geekygirlsarah ! I'd like to tackle this issue if that's okay with you. :)

[2021-10-05 15:55] alexindris commented on #306
Can i try to help your with this one?

[2021-10-05 16:05] pranatimittal commented on #217
@geekygirlsarah  Thanks for the details. I kind of understand what is happening but aren't anonymous and return type functions already separated in categories? and what is meant by concept ID

[2021-10-05 17:14] riyakushwaha commented on #305
Hi @geekygirlsarah ! Please assign this issue to me

[2021-10-05 17:15] VaishnaviNandakumar commented on #299
Hi @geekygirlsarah ! I'd like to contribute to this issue.

[2021-10-05 17:16] Ankitlenka26 commented on #287
Hey @geekygirlsarah,I can give it a try. Can you assign this to me? Thankyou!

[2021-10-05 17:29] vinayak0127 commented on #288
Can i work on this issue?

[2021-10-05 19:23] geekygirlsarah commented on #273
Sure, you can have it. Be sure to review the documentation, and let me know if you need help or have any questions!

[2021-10-05 19:26] geekygirlsarah commented on #184
Hey @lsparlin, yeah, I'll assign to you. If you have any questions, let me know. (A lot about adding stuff is in documentation.)

For this, just edit the `web/thesauruses/_meta/functions.json` file, don't modify any for any languages. (You can do that if you want, just make it a separate PR)

[2021-10-05 19:27] geekygirlsarah commented on #286
Hey @shrey-ya, sure! Please look over the docs and let me know if you have any questions or need any help!

[2021-10-05 19:27] geekygirlsarah commented on #262
Yes! I'll put you on it! Feel free to look over any docs at https://docs.codethesaur.us, or you can ask if you need help or have questions. (You can ask here or on Discord.)

[2021-10-05 19:29] geekygirlsarah commented on #306
Sure! I'll assign you. Look over the docs and if you need help or have questions, let me know.

Also: it seems most people doing operators are just putting `+`, `-`, etc. Since some languages can do operators in other orders (prefix, infix, postfix), be sure to include something like `operand1 + operand2` or similar.

[2021-10-05 19:34] lsparlin commented on #184
Thanks @geekygirlsarah. Really cool project you have here!!

[2021-10-05 19:35] lsparlin commented on #275
I'd also like to work on this one :)

[2021-10-05 19:47] geekygirlsarah commented on #217
So in the file, the top part is like:
[code]
 So I'm calling things like `void_function_no_parameters` a concept ID. Later in the file, those are defined:
[code]
So there's ones for anonymous functions (`anonymous_function_no_parameters`, `anonymous_function_with_parameters`, `anonymous_function_variable_parameters`) but they all are written based on parameters, and don't account for any type of r

[2021-10-05 19:49] geekygirlsarah commented on #305
Hey @riyakushwaha , I'll assign you. Please look over the docs, and let me know if there's questions or you need help!

[2021-10-05 19:50] geekygirlsarah commented on #299
Hey @VaishnaviNandakumar , I'll assign you. Please review the docs and let me know if you need help or have any questions!

[2021-10-05 19:54] geekygirlsarah commented on #287
Hey @Ankitlenka26 , you can give it a try! Be sure to review the docs, and let me know if you want help or have any questions!

[2021-10-05 19:55] geekygirlsarah commented on #288
Yeah @vinayak0127 , I'll let you have it. Review the docs, and let me know if you have questions or need any help!

[2021-10-05 19:58] geekygirlsarah commented on #184
Thank you! 😁 I appreciate that! I basically tell people it's the tool I've needed for like the last 6 years and never could find anywhere, so I finally got myself to make it over the last 2-3 Hacktoberfests.

[2021-10-05 19:58] geekygirlsarah commented on #275
Yeah, I'll let you have this too! Same deal as before, let me know if you need anything!

[2021-10-05 20:33] somya-15 commented on #270
I used Visual Studio to create a file named classes.json in the thesauruses>java folder. However, after committing my repository and sending the pull request I am unable to find any lines of code in the file.
I am a first-time open source contributor. Kindly help me resolve this issue.
I have sent an e-mail at coreteam@codethesaur.us with supporting screenshots to aid examination of the probelm.

[2021-10-05 20:42] geekygirlsarah commented on #270
I got your email, but looks like you fixed the issue while I was writing the response!

[2021-10-05 20:46] somya-15 commented on #270
😅Yes, I was also searching for a solution meanwhile.

[2021-10-06 00:08] gildedgardenia commented on #98
Hey @geekygirlsarah! I can return back to Objective-C land and take this issue if that is helpful to you!

[2021-10-06 00:28] MaryJoStaebler commented on #267
I can tackle this one

[2021-10-06 00:29] MaryJoStaebler commented on #283
I can tackle this one, too. 💟

[2021-10-06 01:21] #322 closed, assigned to geekygirlsarah

[2021-10-06 02:23] #319 closed, assigned to geekygirlsarah

[2021-10-06 02:25] geekygirlsarah commented on #304
Pull request #329 should add the unary and integer division operators! You can add them in Nim now!

[2021-10-06 02:29] chaitanyks commented on #310
I will start work on this.

[2021-10-06 04:47] iaryangoyal commented on #295
Can i DO this? @geekygirlsarah

[2021-10-06 04:48] iaryangoyal commented on #292
Can I do this @geekygirlsarah

[2021-10-06 05:24] amitpant14 commented on #273
Sure, thanks!

[2021-10-06 06:48] 26tanishabanik commented on #300
Please assign this issue to me

[2021-10-06 08:11] VaishnaviNandakumar commented on #299
Hi @geekygirlsarah . Can I also include conditional AND, OR operators in operators.json for C#? Only logical operators are provided at the moment.

[2021-10-06 08:13] Mansi-Binjola commented on #296
Hey, @geekygirlsarah I would love to contribute to this issue. Kindly assign me

[2021-10-06 13:50] alla-ellevation commented on #301
I can tackle this one!

[2021-10-06 14:30] alexindris commented on #289
Can i help with this one also?

[2021-10-06 15:01] geekygirlsarah commented on #98
It's more if it's something you want to do! I'll assign you. Same drill as before, let me know if you have any questions!

[2021-10-06 15:03] geekygirlsarah commented on #267
Sweet! There's docs to explain how to edit the files, but also feel free to ask me if you have any questions or need help!

[2021-10-06 15:04] geekygirlsarah commented on #283
Great! I'll give it to you too. (Same as before, if you need help let me know!)

[2021-10-06 15:04] awray13 commented on #283
I'm brand new to all things issues and PRs. But I would love to read through all the documentation and see if could help in any way with this

[2021-10-06 15:04] geekygirlsarah commented on #310
Great, @chaitanyks! I'll assign you (even though you already made a PR)

[2021-10-06 15:05] geekygirlsarah commented on #295
Yeah, @iaryangoyal , consider it yours! Look over the documentation, and let me know if you have any questions along the way!

[2021-10-06 15:05] geekygirlsarah commented on #292
I'll give this to you too. Same deal, let me know if you have any questions!

[2021-10-06 15:06] geekygirlsarah commented on #300
Yeah, @26tanishabanik , you can have this. Read over the documentation, and let me know if you need any help!

Also: It seems most people doing operators are just putting `+`, `-`, etc. Since some languages can do operators in other orders (prefix, infix, postfix), be sure to include something like `operand1 + operand2` or similar.

[2021-10-06 15:08] geekygirlsarah commented on #299
That's a good point! Those would have to go in the _meta/operators.json file. That should be its own separate issue/PR. I can do that later today or if you're feeling ambitious, you are welcome to do that!

[2021-10-06 15:09] geekygirlsarah opened #333 "Add conditional AND, OR operators in Operators concept file"
Hi @geekygirlsarah . Can I also include conditional AND, OR operators in operators.json for C#? Only logical operators are provided at the moment.

_Originally posted by @VaishnaviNandakumar in https://github.com/codethesaurus/codethesaur.us/issues/299#issuecomment-935714198_

# Information on the language

In `web/thesauruses/_meta/operators.json`:
1. Add in extra concept IDs in the right categor

[2021-10-06 15:13] geekygirlsarah commented on #299
@VaishnaviNandakumar I made issue #333 for this. If you want it, comment on there to claim it. Otherwise I'll do it later today.

[2021-10-06 15:14] geekygirlsarah commented on #296
Hey @Mansi-Binjola , great! Cool to see someone that knows Ada! I'll assign you. Look over the docs, and let me know if you need any help or have any questions!

[2021-10-06 15:15] geekygirlsarah commented on #301
Alright @alla-ellevation , I'll give it to you. Look over the docs too and let me know if you have any questions!

[2021-10-06 15:16] geekygirlsarah commented on #289
Sure @alexindris ! Let me know if you have any questions or need any help!

[2021-10-06 15:17] geekygirlsarah commented on #283
Hey @awray13, I think @MaryJoStaebler has this one for now. I have a few other C# issues if you are interested in those! Or you can always clone the project and play around with it to understand it more if you want. I'll definitely be adding more issues in the near future too.

[2021-10-06 15:22] RSid commented on #301
(oops, I was a fool and commented from my work org github, apologies - will be actually PR-ing from this account)

[2021-10-06 15:23] awray13 commented on #283
@geekygirlsarah okie dokie, that sounds like a great idea. I will clone it and play around with it a bit to better understand it.

[2021-10-06 15:34] 26tanishabanik commented on #300
Sure

[2021-10-06 15:47] VaishnaviNandakumar commented on #333
@geekygirlsarah I'd like to do this!

[2021-10-06 15:48] VaishnaviNandakumar commented on #299
@geekygirlsarah I've left a comment

[2021-10-06 15:56] 26tanishabanik commented on #300
@geekygirlsarah Can you kindly review the PR? #334

[2021-10-06 16:35] pranatimittal commented on #217
`"anonymous_function_with_return_no_parameters"
"anonymous_function_without_return_no_parameters"`
Something like this?

[2021-10-06 21:02] geekygirlsarah commented on #301
heh, that's fine!

[2021-10-07 01:26] #193 closed, assigned to geekygirlsarah

[2021-10-07 01:52] #303 closed, assigned to fla-t

[2021-10-07 01:54] #312 closed, assigned to fla-t

[2021-10-07 02:27] #184 closed, assigned to lsparlin

[2021-10-07 02:35] #275 closed, assigned to lsparlin

[2021-10-07 03:02] geekygirlsarah commented on #333
So I'm looking at both this issue and the C# issue you grabbed, as well as your code in the PR. I'm thinking some of the changes that should happen might mean a bit more changing around on the meta operators.json file than this issue sort of covers on the surface. So I think I want to go ahead and take this one over so I can make the changes, and it might also affect multiple language operator fil

[2021-10-07 14:54] Aryan-Srivastava commented on #96
hey @Swastik2000  , can I take up this issue if you aren't working

[2021-10-07 15:24] apoorvpal01 commented on #272
I can try working on it. Please assign it to me.

[2021-10-07 17:53] Swastik2000 commented on #96
@Aryan-Srivastava I have completed 80% of the issue. I will create a PR for this issue by tomorrow evening

[2021-10-07 21:17] Aryan-Srivastava commented on #96
@Swastik2000 okay, go ahead 👍

[2021-10-08 00:45] geekygirlsarah commented on #217
Yeah, something like that works

[2021-10-08 02:53] #307 closed, assigned to RiyaM16

[2021-10-08 03:13] #299 closed, assigned to VaishnaviNandakumar

[2021-10-08 03:17] #311 closed, assigned to Rutujabadve

[2021-10-08 03:39] #306 closed, assigned to alexindris

[2021-10-08 03:40] #310 closed, assigned to chaitanyks

[2021-10-08 03:58] #270 closed, assigned to somya-15

[2021-10-08 04:24] abhishek7997 commented on #295
Please assign this issue to me. @geekygirlsarah

[2021-10-08 04:41] #302 closed, assigned to vinayak0127

[2021-10-08 04:47] geekygirlsarah commented on #272
Hey @apoorvpal01, sure! I'll pass it to you. Please read the documentation and let me know if you have any questions or need any help!

[2021-10-08 04:54] #301 closed, assigned to RSid

[2021-10-08 04:57] #298 closed, assigned to Ranjana-Kambhammettu

[2021-10-08 05:03] #296 closed, assigned to Mansi-Binjola

[2021-10-08 05:04] geekygirlsarah commented on #295
@abhishek7997 It's already assigned to someone and I usually give 1-2 weeks for someone to have a chance to do the PR. Sorry!

[2021-10-08 05:14] abhishek7997 commented on #295
This issue does not have anyone assigned at the moment. That is why I am asking.

The person before be have unassigned themselves.

[2021-10-08 05:16] geekygirlsarah commented on #295
Oh... I think Github did a weird caching thing where I thought it was still assigned and didn't see iaryangoyal removed themselves. I'll let you have it then!

Feel free to read over the docs, and ask if you have any questions or need any help!

[2021-10-08 05:19] abhishek7997 commented on #295
To my knowledge, typescript does not have an "Ordered" list (arrays) by default. So, should I remove the Ordered mutable/immutable lists entirely. Or should I write about the sorting function used to sort arrays in typescript?

[2021-10-08 05:21] geekygirlsarah commented on #295
Leave the concepts in there. If there's code, fill that in the `code` line. If the concept doesn't exist, delete the `code` line and replace with `"not-implemented: true"`. You can optionally add a `comment` line.

I think the docs should have examples of this in there.

[2021-10-08 05:23] abhishek7997 commented on #295
Ok

[2021-10-08 06:37] alexindris commented on #279
Can i Do this one?

[2021-10-08 07:36] vinayak0127 commented on #288
@geekygirlsarah Hey! I have one doubt can I write code snippets in the code from the official documentation or just the keyword
for e.g :
[code]
OR

[code]

[2021-10-08 08:35] Mansi-Binjola commented on #280
@geekygirlsarah I think I can solve this issue. Can you assign me this?

[2021-10-08 09:29] vinayak0127 commented on #266
can I work on this issue?

[2021-10-08 10:55] abhishek7997 commented on #295
Please check my PR. @geekygirlsarah

[2021-10-08 22:31] geekygirlsarah opened #346 "Update frontend to improve Lighthouse scores"
# Description

The home page of Code Thesaurus current has the following Lighthouse scores:
- Performance: 93
- Accessibility: 77
- Best Practices: 87
- SEO: 100

The compare and refresh pages currently have approximately** the following Lighthouse scores:
- Performance: 85
- Accessibility: 93
- Best Practices: 87
- SEO: 100

This ticket is to try to update the site to improve the 70s and 80s scor

[2021-10-08 22:32] splashley commented on #346
I'll take care of this Sarah!

[2021-10-08 22:32] geekygirlsarah commented on #262
Splitting this into a new ticket. This is now just upgrading libraries, #346 will be for the rest of fixing Lighthouse. @splashley is aware of the update.

[2021-10-08 23:22] lukeberry99 commented on #135
Is this still being worked on, or is it up for grabs?

[2021-10-08 23:59] #262 closed, assigned to splashley

[2021-10-09 00:30] geekygirlsarah commented on #135
I think since I haven't seen any work fron @unnati914 in over a month, I'm willing to reassign it.

Let me know if you have any questions @lukeberry99  or if you need any help!

[2021-10-09 01:31] lukeberry99 commented on #135
@geekygirlsarah what image (if any) would you like opengraph to render?

[2021-10-09 01:35] geekygirlsarah commented on #135
Good question! On the main branch, I just added web/static/images/ and two images in there. You can take one of those (the SVG or PNG) to use as a logo. (I just never added it to the site yet)

[2021-10-09 01:36] geekygirlsarah commented on #266
Somya contacted me outside of Github to get removed, so I can give it to you @vinayak0127 .

Look over the docs, and let me know if you have any questions about it!

[2021-10-09 01:37] geekygirlsarah commented on #279
Yep! Be sure to look over the docs, and let me know if you need any help or have questions, @alexindris !

[2021-10-09 01:39] geekygirlsarah commented on #288
I'd like the minimum needed to convey the correct code for the concept. Here `NSMutableArray` might work. While you could use an example (some have), don't make it overly complex or something that certain people would know. It should be something that's as recognizable and simple as possible to go across language barriers (both English as well as the programming language)

[2021-10-09 01:39] geekygirlsarah commented on #280
Sure. Same as before, let me know if you have any questions or need help!

[2021-10-09 02:17] lukeberry99 commented on #135
@geekygirlsarah the issue calls for unit test for this feature, I can't find a way with the current testing set up of this project to check what meta tags are being rendered within the view and it feels out of the scope for this pull request to implement additional testing functionality.

Are you comfortable with my omitting unit tests from this PR, and creating an issue for additional testing too

[2021-10-09 02:31] lukeberry99 commented on #135
I've created the PR as a draft for now until I hear back regarding the above.

[2021-10-09 02:35] geekygirlsarah commented on #135
That's fine. it's an awkward thing to test, so I'm ok with leaving it out for now.

[2021-10-10 03:35] nunogois opened #350 "Add Visual Basic control structures"
# Description
Control Structures for Visual Basic aren't presently on Code Thesaurus. This issue is to add the language along with that concept to the system.

# Requirements
Create vbnet folder in `web/thesauruses/`
Add vbnet to languages in `web/thesauruses/meta_info.json`
Copy `web/thesauruses/_meta/control_structures.json` to the right vbnet directory in `web/thesauruses/`
Edit the control_str

[2021-10-10 04:45] geekygirlsarah commented on #350
Thanks for adding this!

[2021-10-10 04:52] #289 closed, assigned to alexindris

[2021-10-10 14:47] #350 closed, assigned to nunogois

[2021-10-10 14:54] #304 closed, assigned to nobody

[2021-10-10 17:09] MaryJoStaebler commented on #283
@geekygirlsarah Would the code of something like swapping elements need to be something out of the box with a language or how to do it with the language?  There's no list.swap(x,y) but more of a few lines of code to do so.   What's a good entry for such a case?

[2021-10-11 05:21] bug-author commented on #110
May I handle this?

[2021-10-11 14:30] geekygirlsarah commented on #283
Generally I say if it's built-in, use it. If you're solving algorithm puzzles, don't. If it's a built-in library (like you have to import it), then include the import and the statement. If it's an outside library, don't do it.

I'm hopefully working on a "best practices" page soon...

[2021-10-11 14:31] geekygirlsarah commented on #110
Yeah! Don't forget to look over the docs, and let me know if you have questions or need help!

[2021-10-11 14:43] danieltennant commented on #292
It looks like this is unassigned, but maybe @iaryangoyal is working on it?  I can pick it up if it's free.

[2021-10-11 17:35] geekygirlsarah opened #358 "Fix mobile navigation bar to collapse when shrunk"
# Description

When viewing a compare/reference page on the full desktop site, the menu appears expanded on a full site. On a mobile device, it shifts to the line below as it's still expanded. It takes up twice as much room on mobile than on desktop! This issue is to make that properly collapse into a hamburger menu.

Screenshots:
![image](https://user-images.githubusercontent.com/2601974/13682901

[2021-10-11 17:41] CNichole726 commented on #358
I'll give this one a go as well!

[2021-10-11 17:42] geekygirlsarah commented on #358
Same deal! Let me know if you have any questions or need any help.

[2021-10-11 17:44] geekygirlsarah commented on #292
I guess if they removed themselves, it's open for the taking. I'll pass it to you @danieltennant.

Please look over the docs, and let me know if you have any questions or need help while you're working on it!

[2021-10-11 20:44] geekygirlsarah opened #359 "Add Error handling meta concept"
Add the meta concept for error handling

[2021-10-11 21:38] gildedgardenia commented on #98
Thanks Sarah! I fell behind at work but I am happy to work on this tonight!

[2021-10-11 22:09] geekygirlsarah commented on #98
No rush! (Though minor rush if you want a Hacktoberfest shirt)

[2021-10-11 23:06] geekygirlsarah opened #360 "Add TypeScript Strings"
# Description

Strings for TypeScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/strings.json` to the right TypeScript directory in `web/thesauruses/`
* Edit the strings.json file to accurately reflect the latest major version of TypeScript
* Delete the `"name":` fields before your PR
* Add in `"comment":` if

[2021-10-11 23:07] teallarson commented on #360
I'll take this one!

[2021-10-11 23:07] geekygirlsarah commented on #360
Consider it yours! Feel free to look over the docs and let me know if you have any questions or need any help!

[2021-10-11 23:22] samuelburns commented on #294
I'd like to take this issue please

[2021-10-11 23:25] geekygirlsarah commented on #294
Consider it yours! Feel free to look over the documentation and let me know if you have any questions!

[2021-10-13 00:45] #305 closed, assigned to riyakushwaha

[2021-10-13 02:24] #279 closed, assigned to alexindris

[2021-10-13 02:41] #89 closed, assigned to gildedgardenia

[2021-10-13 02:42] #267 closed, assigned to MaryJoStaebler

[2021-10-13 02:44] geekygirlsarah opened #362 "Comment blocks in language files don't allow newlines"
Newline '\n' is not working in comment.
![image](https://user-images.githubusercontent.com/68701271/136683690-8d3ef491-a270-432c-babb-7ccdaa026c7c.png)

"create_a_unordered_mutable_list": {
      "code": "let arrayName: type[];",
      "comment": "Examples: let scores : (string | number)[];\nlet nums : number[] = [12.34,1,2,3];\nlet arr : Array<any> = [1,2,3,'hi'];\nlet arr : Array<number|boolean>

[2021-10-13 22:13] #346 closed, assigned to splashley

[2021-10-14 07:44] Skr-suyash commented on #284
I would like to work on this, please assign this to me.

[2021-10-14 14:42] #297 closed, assigned to Blastoise

[2021-10-14 17:50] Mansi-Binjola commented on #280
Hey, @geekygirlsarah while I was researching about this issue, I recently found out about the containers library in Ada ( [See this](https://learn.adacore.com/courses/intro-to-ada/chapters/standard_library_containers.html) ).
Since there is so much to change in my current file, I was thinking of making the file from the beginning. And for that, I will be needing a little more time.

[2021-10-14 17:52] geekygirlsarah commented on #280
Oooh, good find! Take your time. I generally check in on people before I unassign them.

[2021-10-15 04:48] #272 closed, assigned to apoorvpal01

[2021-10-15 05:05] geekygirlsarah commented on #284
Yeah, I'll let you have it!

Be sure to read the docs, and let me know if you have any questions or need any help!

[2021-10-15 05:27] geekygirlsarah opened #369 "Add RexEx functions to meta strings file"
Please _**ONLY**_ take this issue if you have experience working with a wide variety of programming languages (aka, are a polyglot).

The `strings.json` meta language file didn't include how to match patterns from RegExs. This issue is to add those in here.

* This should probably be its own category (like "Find and Search" and "Manipulating Strings" are)
* This should include all _functions_ that

[2021-10-15 14:52] #135 closed, assigned to lukeberry99

[2021-10-15 18:04] RSid commented on #243
I can take a swing at this if you like!

[2021-10-16 21:59] gildedgardenia commented on #278
Hey! I can help with this one!

[2021-10-17 05:16] geekygirlsarah opened #372 "Allow parsing code blocks as array"
I'm a newbie dev so I might be wrong, but I think the array/ list approach would result in better readability - presently it does not work I tested it.

_Originally posted by @shy-tan in https://github.com/codethesaurus/codethesaur.us/pull/354#discussion_r729988148_

---

Note that this is an easier Django change, but will cause a possible need to alter _every_ JSON file if it doesn't allow single

[2021-10-17 05:24] #309 closed, assigned to bug-author

[2021-10-17 05:25] geekygirlsarah commented on #243
Sounds good (and looks like you already took that swing)!

[2021-10-18 02:06] INeedAUniqueUsername opened #375 "[Concept Request] Basic Input/Output"
# Description
I'm not sure if this is within the scope of Code Thesaurus (since this deals more with standard library stuff) but it might be helpful to include.

There are many ways to do input/output handling, but some languages such as C++ provide basic text-based input/output in their standard libraries.

The exact details vary a lot (e.g. reading in a number is easier in C++ than in other lang

[2021-10-18 02:35] geekygirlsarah commented on #375
Hello! I was working on Exception Handling (was hoping to push it in this weekend but we'll see), and was thinking some of the I/O stuff next!

On my [long-term project board](https://github.com/orgs/codethesaurus/projects/4) for languages/concepts, I was thinking of splitting out file IO, network IO, and console IO. Though many of the things are similar (I think C++'s streams and Java's `System.i

[2021-10-18 08:55] LittleBigProgramming commented on #268
Hey 👋   I'd like to give this a go please! 😄

[2021-10-18 09:09] blockingHD commented on #375
Looking at this I think you'll find that splitting file, network, and console IO will result in many small entries. Would think that having each under its own section in an IO entry would be better.

Having said that what about references to different in built sql, oracle, etc adapter classes. IE system.data in C# or Java.Sql in Java.

[2021-10-18 22:25] geekygirlsarah commented on #278
Sweet! I'll pass it to you. (And thanks for your patience, was a bit of a busy weekend.)

[2021-10-18 22:27] geekygirlsarah commented on #268
Hey @LittleBigProgramming, I'll assign it to you!

Look over the documentation, and let me know if you have any questions or need any help!

[2021-10-18 22:37] geekygirlsarah commented on #375
I suppose it could maybe be small. Though I'm fine with whatever sort of falls logically in place, but also don't want a page to be super huge either because then it's just hard to write.

[2021-10-18 23:20] geekygirlsarah opened #378 "Add Python Strings"
# Description

Strings for Python aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/strings.json` to the right Python directory in `web/thesauruses/`
* Edit the strings.json file to accurately reflect the latest major version of Python
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to

[2021-10-18 23:21] Harshad7 commented on #378
Can you assign it to me, please !! I would like to work on this

[2021-10-18 23:22] geekygirlsarah commented on #378
Here you go, it's yours!

Feel free to look over the docs and let me know if you have any question or need any help!

[2021-10-18 23:22] geekygirlsarah opened #379 "Add Java Strings"
# Description

Strings for Java aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/strings.json` to the right Java directory in `web/thesauruses/`
* Edit the strings.json file to accurately reflect the latest major version of Java
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explai

[2021-10-18 23:23] tarinausher commented on #379
Hi! Can I work on this?

[2021-10-18 23:24] geekygirlsarah commented on #379
Sure! I'll give it to you!

Feel free to look over the documentation, and let me know if you have any questions or need any help!

[2021-10-19 13:10] blockingHD commented on #375
Is this being assigned out if so happy to outline the beginning?

[2021-10-19 16:23] geekygirlsarah commented on #375
@blockingHD sure, I'll assign this to you! This will probably be a more lengthy PR review, but I'm happy to get outside input!

[2021-10-20 04:28] RuggMatt commented on #372
I agree that the array appraoch would be easier to read.

I can work on this.

I would imagine supporting both approaches is optimal as the snippets that are only one line long would not have to be put into an array with only one item.

[2021-10-20 04:53] #98 closed, assigned to gildedgardenia

[2021-10-20 05:01] #243 closed, assigned to RSid

[2021-10-20 05:02] #110 closed, assigned to bug-author

[2021-10-20 05:18] #294 closed, assigned to samuelburns

[2021-10-20 05:21] geekygirlsarah commented on #372
Yeah, both would be nice, though if it is only reasonable to be just an array, I'm ok with that. I can probably find a way to easily change code lines into code arrays in the files. (Find and replace with regexs is pretty easy for me to pull off.)

This might also break some of the unit tests (notably Language or MetaStructure class tests), so they might need to be updated too.

I'll assign you. L

[2021-10-20 05:30] #288 closed, assigned to vinayak0127

[2021-10-21 16:49] bug-author commented on #95
Can I do this? :)

[2021-10-22 19:47] vickywane commented on #263
@geekygirlsarah I'd like to take this up.

[2021-10-22 20:28] blockingHD commented on #375
Wondering if there should be an area for reading standard data exchange formats such as XML, YAML, and JSON. Possibly including delimited files such as CSV.

[2021-10-23 01:34] INeedAUniqueUsername commented on #362
I'll claim this issue

[2021-10-23 03:34] geekygirlsarah commented on #95
Yeah, @shy-tan, I'll assign you. And I think you know the drill by now.

[2021-10-23 03:36] geekygirlsarah commented on #263
Yeah @vickywane, I'll assign you!

There's some documentation about how the system works that you can look over, but if you need any help or have any questions, let me know too!

[2021-10-23 03:37] geekygirlsarah commented on #375
These tend to be popular things, and they're built into enough languages that I'd probably say it makes some sense. Though CSVs get quirky as there's many different ways they can be delimited which sort of gets complicated to write up in this scenario. But you could drop it in and we can think it over!

[2021-10-23 03:38] geekygirlsarah commented on #362
Alright, I'll assign you. You know the drill!

[2021-10-23 05:23] bug-author commented on #95
Haha, I do! 😃

[2021-10-23 05:42] #280 closed, assigned to Mansi-Binjola

[2021-10-23 05:48] #295 closed, assigned to abhishek7997

[2021-10-23 13:32] Mansi-Binjola commented on #264
Can you assign this task to me @geekygirlsarah?

[2021-10-23 21:12] #95 closed, assigned to bug-author

[2021-10-23 21:25] geekygirlsarah commented on #264
Yeah, I'll assign it to you. You know the drill by now.

[2021-10-25 01:53] hgh-bibliophile opened #386 "Possible typo on About page."
Hello! I really love the idea of this project! I was reading the about page, and I think invited was supposed to be invented? Great project!

https://github.com/codethesaurus/codethesaur.us/blob/1fef910a5837e5b2a936b21b0738f44b6c30d2be/web/templates/about.html#L15

[2021-10-25 14:05] amitpant14 commented on #273
Hey, @geekygirlsarah I had a query. If I understand this right, I will need to edit the copy of classes.json in the python directory. So I will need to edit the 'classes' field in there, updating as required, and no change will be required in the 'categories' field. Is this right?

[2021-10-25 14:47] geekygirlsarah commented on #273
Yes, add code, comments, or "not implemented" lines under `classes`. Don't change the categories.

Presently it uses part of the file's categories block for parsing the files, but really doesn't need them, but I haven't taken that code out yet.

[2021-10-25 22:30] geekygirlsarah commented on #386
Thanks! I appreciate this!

And I think you're right, that's definitely a typo. I can fix it (unless you feel strongly inclined to fix it)

[2021-10-25 22:37] geekygirlsarah commented on #358
@CNichole726 How's this coming along? Have any questions or need any help?

[2021-10-25 22:54] geekygirlsarah commented on #91
PR was merged but not linked, so I'm closing this issue.

[2021-10-25 22:54] #91 closed, assigned to carlqt

[2021-10-25 23:46] geekygirlsarah opened #388 "Add Swift strings"
# Description

Strings for Swift aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/strings.json` to the right Swift directory in `web/thesauruses/`
* Edit the strings.json file to accurately reflect the latest major version of Swift
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to exp

[2021-10-25 23:59] geekygirlsarah commented on #388
I'm reserving this issue for @samuelburns.

[2021-10-26 02:36] gildedgardenia commented on #278
I have made progress on this one and hope to open a PR tomorrow!

[2021-10-26 09:29] 10raw commented on #359
I would like to work on this issue, can you assign it to me?

[2021-10-26 13:39] geekygirlsarah commented on #278
Yay! You still have plenty of time for Hacktoberfest, otherwise no rush.

[2021-10-26 13:40] geekygirlsarah commented on #359
Hey @10raw, I already assigned it to myself and it's about 90% finished. Sorry!

[2021-10-27 12:05] bug-author commented on #293
Can I do this? :)

[2021-10-27 16:38] jeff303 opened #394 "Add support for Clojure"
# Language you would like added
Clojure

# Information on the language
A Lisp dialect that (primarily) runs on the JVM.  The current version is 1.10, so it probably makes the most sense to target that as far as documentation goes.

- [Official website](https://clojure.org/)
- [Style guide](https://clojure.style/)

# Disclaimer
I will create the initial version and fill in what I can.

[2021-10-27 22:13] geekygirlsarah commented on #394
Yes! I've had a few people ask about Clojure!

As for scope of this issue, pick any concept and PR it. You can do them all in series (and get individual PRs for each concept file).

[2021-10-28 05:51] amitpant14 commented on #273
Okay. I have another query. There is a `name` field under each field of `classes`, which doesn't seem to be changing anything. I also checked out classes.json for other languages which have already been contributed to and they don't contain `name`. Should I keep it or remove it?

[2021-10-28 06:57] amitpant14 commented on #273
Also, how can I write `__init__.py` in the comments? It converts to init with bold. I also tried enclosing it in ` symbol but that converts it into a link.

[2021-10-29 13:49] geekygirlsarah commented on #293
Yep! I'll assign it to you. (And thanks for your patience!)

[2021-10-29 13:51] geekygirlsarah commented on #273
Can you paste what you were trying here or send a draft PR so I can see? It doesn't sound like it should turn it into a link, but this might be a use case no one has tried yet and it might be a bug.

[2021-10-29 14:03] #284 closed, assigned to Skr-suyash

[2021-10-29 14:45] amitpant14 commented on #273
![image](https://user-images.githubusercontent.com/50552215/139455129-67f0ced0-0f36-4b4c-9c9d-6fa9dbe88dd9.png)
This is what it looks like when I enclose `__init__.py` within backticks.

[2021-10-30 18:02] #278 closed, assigned to gildedgardenia

[2021-10-30 18:41] MaryJoStaebler commented on #225
Need a bit of Perl to start?  I can help get the ball rolling at minimum.

[2021-10-30 19:02] #283 closed, assigned to MaryJoStaebler

[2021-10-30 19:03] geekygirlsarah commented on #225
Sure! Just add any concept to Perl (so any one JSON file) and I'll consider that worth 1 issue (for Hacktoberfest).

[2021-10-30 20:34] geekygirlsarah opened #398 "[Ada] Add strings"
# Description

Strings for Ada aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-30 20:46] geekygirlsarah opened #399 "[Ada] Add Exception Handling"
# Description

Exception Handling for Ada aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2021-10-30 20:48] geekygirlsarah opened #400 "[Bash] Add strings"
# Description

Strings for Bash aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-30 20:49] geekygirlsarah opened #401 "[Bash] Add exception handling"
# Description

Exception handling for Bash aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sav

[2021-10-30 20:51] geekygirlsarah opened #402 "[C++] Add exception handling"
# Description

Exception handling for C++ aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2021-10-30 20:53] geekygirlsarah opened #403 "Add C# exception handling"
# Description

Exception handling for C# aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/exception_handling.json` to the right C# directory in `web/thesauruses/`
* Edit the exception_handling.json file to accurately reflect the latest major version of C#
* Delete the `"name":` fields before your PR
* Add in `"comme

[2021-10-30 20:55] geekygirlsarah opened #404 "[Go] Add exception handling"
# Description

Exception handling for Go aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2021-10-30 20:57] geekygirlsarah opened #405 "[Haskell] Add exception handling"
# Description

Exception handling for Haskell aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
*

[2021-10-30 20:57] geekygirlsarah opened #406 "[Java] Add exception handling"
# Description

Exception handling for Java aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sav

[2021-10-30 20:58] geekygirlsarah opened #407 "Add JavaScript exception handling"
# Description

Exception handling for JavaScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/exception_handling.json` to the right JavaScript directory in `web/thesauruses/`
* Edit the exception_handling.json file to accurately reflect the latest major version of JavaScript
* Delete the `"name":` fields before

[2021-10-30 20:58] geekygirlsarah opened #408 "Add Nim exception handling"
# Description

Exception handling for Nim aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/exception_handling.json` to the right Nim directory in `web/thesauruses/`
* Edit the exception_handling.json file to accurately reflect the latest major version of Nim
* Delete the `"name":` fields before your PR
* Add in `"co

[2021-10-30 20:59] geekygirlsarah opened #409 "[Objective-C] Add exception handling"
# Description

Exception handling for Objective-C aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use

[2021-10-30 21:00] geekygirlsarah opened #410 "[PHP] Add exception handling"
# Description

Exception handling for PHP aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2021-10-30 21:01] geekygirlsarah opened #411 "Add Python exception handling"
# Description

Exception handling for Python aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/exception_handling.json` to the right Python directory in `web/thesauruses/`
* Edit the exception_handling.json file to accurately reflect the latest major version of Python
* Delete the `"name":` fields before your PR
* Ad

[2021-10-30 21:02] geekygirlsarah opened #412 "Add Ruby Exception Handling"
# Description

Exception handling for Ruby aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/exception_handling.json` to the right Ruby directory in `web/thesauruses/`
* Edit the exception_handling.json file to accurately reflect the latest major version of Ruby
* Delete the `"name":` fields before your PR
* Add in `

[2021-10-30 21:03] geekygirlsarah opened #413 "[Rust] Add exception handling"
# Description

Exception handling for Rust aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sav

[2021-10-30 21:03] geekygirlsarah opened #414 "[Scala] Add exception handling"
# Description

Exception handling for Scala aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sa

[2021-10-30 21:04] geekygirlsarah opened #415 "[Swift] Add exception handling"
# Description

Exception handling for Swift aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sa

[2021-10-30 21:05] geekygirlsarah opened #416 "Add TypeScript exception handling"
# Description

Exception handling for TypeScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/exception_handling.json` to the right TypeScript directory in `web/thesauruses/`
* Edit the exception_handling.json file to accurately reflect the latest major version of TypeScript
* Delete the `"name":` fields before

[2021-10-30 21:05] geekygirlsarah opened #417 "[Visual Basic] Add exception handling"
# Description

Exception handling for Visual Basic aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to us

[2021-10-30 22:13] PrBart commented on #416
I will take it.

Please, assign it to me.

[2021-10-30 22:14] PrBart commented on #407
I will take it.

Please, assign it to me.

[2021-10-31 03:03] #378 closed, assigned to Harshad7

[2021-10-31 03:11] geekygirlsarah commented on #416
Sure @PrBart, I'll give it to you. Please look over the docs and let me know if you have any questions or need any help!

[2021-10-31 03:12] geekygirlsarah commented on #407
I'll give this to you too. Again, let me know if you need anything from me!

[2021-10-31 03:24] PrBart commented on #416
Actually i already made a little dive into and wrote most of the cases. Tomorrow morning i will ask several engineers i know to take a look and then will create pull request.

[2021-10-31 03:48] #372 closed, assigned to RuggMatt

[2021-10-31 03:51] geekygirlsarah commented on #416
Sounds good! I'm planning to be around tomorrow to try to approve or merge last-minute Hacktoberfest things!

[2021-10-31 03:52] abhishak3 commented on #411
Please assign this issue to me. I would like to contribute to this.

[2021-10-31 03:53] geekygirlsarah commented on #411
Sure, I'll let you have it!

Please read over the documentation, and let me know if you have any questions!

[2021-10-31 04:29] geekygirlsarah opened #420 "[C++] Add strings"
# Description

Strings for C++ aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-31 04:30] geekygirlsarah opened #421 "Add Go strings"
# Description

Strings for Go aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/strings.json` to the right Go directory in `web/thesauruses/`
* Edit the strings.json file to accurately reflect the latest major version of Go
* Delete the `"name":` fields before your PR
* Add in `"comment":` if you wish to explain some

[2021-10-31 04:31] geekygirlsarah opened #422 "[Haskell] Add strings"
# Description

Strings for Haskell aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that f

[2021-10-31 04:32] geekygirlsarah opened #423 "[JavaScript] Add strings"
# Description

Strings for JavaScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save tha

[2021-10-31 04:32] geekygirlsarah opened #424 "[Nim] Add strings"
# Description

Strings for Nim aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-31 04:33] geekygirlsarah opened #425 "[Objective-C] Add strings"
# Description

Strings for Objective-C aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save th

[2021-10-31 04:34] geekygirlsarah opened #426 "[Ruby] Add strings"
# Description

Strings for Ruby aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-31 04:34] geekygirlsarah opened #427 "[Rust] Add strings"
# Description

Strings for Rust aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that file

[2021-10-31 04:35] geekygirlsarah opened #428 "[Scala] Add strings"
# Description

Strings for Scala aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save that fil

[2021-10-31 04:36] geekygirlsarah opened #429 "Add TypeScript strings"
# Description

Strings for TypeScript aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Requirements

* Copy `web/thesauruses/_meta/strings.json` to the right TypeScript directory in `web/thesauruses/`
* Edit the strings.json file to accurately reflect the latest major version of TypeScript
* Delete the `"name":` fields before your PR
* Add in `"comment":` if

[2021-10-31 04:37] geekygirlsarah opened #430 "[Visual Basic] Add classes"
# Description

Classes for Visual Basic aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save t

[2021-10-31 04:38] geekygirlsarah opened #431 "[Visual Basic] Add data types"
# Description

Data types for Visual Basic aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Sav

[2021-10-31 04:38] geekygirlsarah opened #432 "[Visual Basic] Add functions"
# Description

Functions for Visual Basic aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2021-10-31 04:39] geekygirlsarah opened #433 "[Visual Basic] Add lists"
# Description

Lists for Visual Basic aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save tha

[2021-10-31 04:40] geekygirlsarah opened #434 "[Visual Basic] Add operators"
# Description

Operators for Visual Basic aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save

[2021-10-31 04:41] geekygirlsarah opened #435 "[Visual Basic] Add strings"
# Description

Strings for Visual Basic aren't presently on Code Thesaurus. This issue is to add that concept to the system.

# Directions

* On the home page, on the right side (the reference sheet side), choose the language and version, and then the concept.
* The page says the data doesn't exist, but clicking the arrow for the template will provide the template and file for you to use.
* Save t

[2021-10-31 04:50] #225 closed, assigned to MaryJoStaebler

[2021-10-31 04:59] aabhas-sao commented on #420
@geekygirlsarah I would like to work on this issue

[2021-10-31 05:00] geekygirlsarah commented on #420
Yeah, I can assign it to you. Please look over the docs, and let me know if you have any questions or need any help!

[2021-10-31 05:09] namangirdhar16 commented on #423
@geekygirlsarah i would like to work on this, please assign this to me.

[2021-10-31 07:00] 2kindsofcs commented on #421
Helllo, I want to take this.

[2021-10-31 17:36] saracope commented on #386
I'll take this one since there hasn't been any activity on it.

[2021-10-31 18:15] geekygirlsarah commented on #386
Thanks @saracope!

[2021-10-31 18:16] #386 closed, assigned to saracope

[2021-10-31 19:03] geekygirlsarah commented on #423
Yeah, you can have it @namangirdhar16! Please review the documentation, and let me know if you need any help or have any questions!

[2021-10-31 19:04] geekygirlsarah commented on #421
Yep, you can do it @2kindsofcs. (And looks like you already did!)

[2021-10-31 19:34] geekygirlsarah commented on #273
OH! I finally sat down, easily reproduced this, and am trying to figure out why this is doing what it does.

I'm realizing it's parsing `[anything].py` as a domain name, therefore converting it to a link. Which makes sense. I think I'll probably turn off the auto-linking option. So submit it as-is (so `` `__init__.py` ``) and, for now, it'll show up as a link, but I'll fix it.

[2021-10-31 20:05] geekygirlsarah opened #441 "Markdowned comments for Python files results in URL links"
Also, how can I write `__init__.py` in the comments? It converts to init with bold. I also tried enclosing it in ` symbol but that converts it into a link.

_Originally posted by @amitpant14 in https://github.com/codethesaurus/codethesaur.us/issues/273#issuecomment-953555308_

---

The `markdownify` package that comment lines are filtered through can turn anything ending in `.py` into a URL, then

[2021-10-31 20:21] ryanomor commented on #441
Hi @geekygirlsarah where would the entrypoints be for the the code change and the unit test?

[2021-10-31 20:55] geekygirlsarah commented on #441
Without digging too much into it, it's in one of these 4 files that Markdownify is referenced. I'm not sure where you actually make the config change, that'll have to be going into Markdownify's docs to find out.  (Though I can tell you it won't be in requirements.txt)

![image](https://user-images.githubusercontent.com/2601974/139600969-707ef99a-3942-4f92-bdd9-2c61095090df.png)

[2021-10-31 21:03] ryanomor commented on #441
Thanks, according to the [docs](https://django-markdownify.readthedocs.io/en/latest/settings.html) it's in the `settings.py`. I primarily work in javascript and java, so not too familiar with the unit test structure in Python. Do I just add a test in the [test_urls.py](https://github.com/codethesaurus/codethesaur.us/blob/main/web/tests/test_urls.py)?

[2021-10-31 21:10] geekygirlsarah commented on #441
Good question! So test_urls.py really just tests the various URLs of the site. test_views.py and test_templates.py both test rendering on the site, so one of those might be where those go.

If you haven't done Python, this might be complex, so no pressure to take it. But if you do, it should be one of the simpler bugs we've had on the site.

[2021-10-31 21:13] ryanomor commented on #441
I'll give it a shot! Can you please assign it to me?

[2021-10-31 21:40] geekygirlsarah commented on #441
Yep! I'll hand it to you. If you have any more questions or need any help, let me know!

[2021-10-31 23:04] #333 closed, assigned to geekygirlsarah

[2021-10-31 23:06] geekygirlsarah commented on #359
Closing the issue as it was merged from #397 and wasn't linked when it was merged.

[2021-10-31 23:06] #359 closed, assigned to geekygirlsarah

[2021-10-31 23:09] #416 closed, assigned to PrBart

[2021-10-31 23:11] #407 closed, assigned to PrBart

[2021-10-31 23:41] ryanomor commented on #441
Hi @geekygirlsarah. Please take a look at #443 and let me know what you think!

[2021-10-31 23:51] #388 closed, assigned to nobody

[2021-10-31 23:57] #441 closed, assigned to ryanomor

[2021-11-01 01:10] #421 closed, assigned to 2kindsofcs

[2021-11-02 06:44] abhishak3 commented on #411
Hi, @geekygirlsarah .
Sorry, I forgot to create a new branch as mentioned in CONTRIBUTING.md and pushed my commit to the main branch.
Should I close PR #445  and create a new one?

[2021-11-02 12:56] geekygirlsarah commented on #411
Hey @abhishak3, that will work. It's your repo, so you can branch or not branch as you see fit. Typically the standard is to make a new branch for those changes so your main branch will always be working code, but in this case you can always compare with CT's main to yours to find those changes and roll back anything that's not working. If you were working on multiple things on the same project, y

[2021-11-03 12:57] opeco17 commented on #426
Hi, @geekygirlsarah
I would like to contribute to Code Thesaurus
Could you please assign this to me?

[2021-11-03 12:59] opeco17 commented on #412
Hi, @geekygirlsarah
I would like to contribute to Code Thesaurus
Could you please assign this to me?

[2021-11-03 13:52] geekygirlsarah commented on #412
Hey @opeco17, I'll give it to you! Please look over the documentation, and feel free to let me know if you have any questions or need any help!

[2021-11-03 13:53] geekygirlsarah commented on #426
I'll give you this one too! Let me know if you have any questions!

[2021-11-03 14:14] #273 closed, assigned to amitpant14

[2021-11-03 18:13] bug-author commented on #293
No problem! This task is on my to-do list, its just that I'm occupied with a lot of stuff already - guess I'll be the one asking for patience this time lol ;)

[2021-11-03 19:49] geekygirlsarah commented on #293
lol... that's ok! I usually check in after about two weeks (though over Hacktoberfest was trying to check in closer to every week). So take your time, but I may check in later if I still haven't heard from you.

[2021-11-04 00:06] geekygirlsarah opened #446 "Bug: Compare/Reference matching function bases off lang1's categories file"
# Expected Behavior

The meta categories should define how the the language pages (compare/reference) are structured, and the one/two languages are matched up to resemble that.

For example, for functions, there's:
[code]
represented by:
[code]
within web/thesauruses/_meta/functions.json

# Actual Behavior

For two languages, it loads categories in the first language, the matches the second to res

[2021-11-04 10:20] opeco17 commented on #412
Thank you!

[2021-11-06 00:16] opeco17 commented on #446
Hi, @geekygirlsarah
May I handle this issue?

[2021-11-06 05:57] geekygirlsarah commented on #446
Looks like you already did! I'll assign it, and review it tomorrow.

[2021-11-06 17:46] blockingHD commented on #429
Happy to take this after #375.

[2021-11-06 17:47] blockingHD commented on #403
Would be happy to take this after #375.

[2021-11-06 18:39] geekygirlsarah commented on #429
Alright, I'll give it to you!

[2021-11-06 18:39] geekygirlsarah commented on #403
I'll give this to you too!

[2021-11-06 18:57] #411 closed, assigned to abhishak3

[2021-11-06 19:11] #446 closed, assigned to opeco17

[2021-11-06 19:17] God-damnit-all opened #449 "[PowerShell] Add PowerShell Core support"
PowerShell is steadily increasing in popularity ever since going [cross-platform](https://github.com/PowerShell/PowerShell). The object-based pipeline makes it more reliable than ordinary text processing, and they've been adding more functions and operators with every major release. For what it still can't do with its default functionality, it can typically handle by falling back on .NET functions

[2021-11-06 20:02] geekygirlsarah commented on #449
I'd love to see PowerShell/PowerShell Core** too! Are you interested in helping add it?

** I know there's a .Net vs .Net Core, but have been out of the .Net world long enough to not be sure if there one or both are things anymore.

[2021-11-06 20:35] God-damnit-all commented on #449
Would if I could, but family life has been keeping me too busy to contribute much to anything.

[2021-11-06 20:37] geekygirlsarah commented on #449
That's understandable. I did have someone maybe a month ago talk about adding PowerShell in here, I'll see if I can prompt them again to see if they'd want to do it!

[2021-11-08 03:01] #412 closed, assigned to opeco17

[2021-11-25 02:35] geekygirlsarah commented on #426
Hey @opeco17, how is this coming along? I haven't seen any updates and it's been over 3 weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:36] geekygirlsarah commented on #423
Hey @namangirdhar16, how is this coming along? I haven't seen any updates and it's been over 3 weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:36] geekygirlsarah commented on #420
Hey @aabhas-sao, how is this coming along? I haven't seen any updates and it's been over 3 weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:37] geekygirlsarah commented on #403
I know you're still working on #375. Do you still want to keep this issue as yours? Figured I'd just double-check!

[2021-11-25 02:38] geekygirlsarah commented on #379
Hey @tarinausher, how is this coming along? I haven't seen any updates and it's been over 4 weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:39] aabhas-sao commented on #420
Sorry to not inform you but I have been busy with some other stuff. Can you unassign me

[2021-11-25 02:41] geekygirlsarah commented on #360
Hey @tealjulia, how is this coming along? I haven't seen any updates and it's been several weeks now. If you still want the issue, let me know otherwise I'll probably unassign you. And if you have any questions, let me know too!

[2021-11-25 02:42] geekygirlsarah commented on #358
Hey @CNichole726, did you have any questions about this one as well? Let me know if you still want to work on it!